{% macro initializer(gpio) %}
chip::OutputPin{chip::Pin::p{{ gpio['port']['$path'][-1][4] | lower }}{{ gpio['pin'] }}, false, {# remove whitespace -#}
chip::PinOutputSpeed::_2Mhz, false, {{ gpio.get('active-low', False) | lower }}}
{%- endmacro %}
