#
# file: Kconfig
#
# author: Copyright (C) 2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

config CHIP_STM32F4_VDD_MV_CONFIGURABLE
	bool
	default n

config CHIP_STM32F4_VDD_MV_DEFAULT
	int
	default 3000

config CHIP_STM32F4_RCC_HSE_CLOCK_BYPASS_CONFIGURABLE
	bool
	default n

config CHIP_STM32F4_RCC_HSE_CLOCK_BYPASS_DEFAULT
	bool
	default n

config CHIP_STM32F4_RCC_HSE_HZ_CONFIGURABLE
	bool
	default n

config CHIP_STM32F4_RCC_HSE_HZ_DEFAULT
	int
	default 8000000

config BOARD_INCLUDES
	string
	default "source/board/STM32/STM32F4/32F429IDISCOVERY/include"
