#
# file: Kconfig-peripheralsOptions
#
# author: Copyright (C) 2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if CHIP_STM32_USARTV1

config CHIP_STM32_USARTV1_USART1_ENABLE
	bool "USART1 low-level driver"
	default n
	depends on CHIP_STM32_USARTV1_HAS_USART1
	help
		Enable USART1 low-level driver

config CHIP_STM32_USARTV1_USART2_ENABLE
	bool "USART2 low-level driver"
	default n
	depends on CHIP_STM32_USARTV1_HAS_USART2
	help
		Enable USART2 low-level driver

config CHIP_STM32_USARTV1_USART3_ENABLE
	bool "USART3 low-level driver"
	default n
	depends on CHIP_STM32_USARTV1_HAS_USART3
	help
		Enable USART3 low-level driver

config CHIP_STM32_USARTV1_UART4_ENABLE
	bool "UART4 low-level driver"
	default n
	depends on CHIP_STM32_USARTV1_HAS_UART4
	help
		Enable UART4 low-level driver

config CHIP_STM32_USARTV1_UART5_ENABLE
	bool "UART5 low-level driver"
	default n
	depends on CHIP_STM32_USARTV1_HAS_UART5
	help
		Enable UART5 low-level driver

config CHIP_STM32_USARTV1_USART6_ENABLE
	bool "USART6 low-level driver"
	default n
	depends on CHIP_STM32_USARTV1_HAS_USART6
	help
		Enable USART6 low-level driver

config CHIP_STM32_USARTV1_UART7_ENABLE
	bool "UART7 low-level driver"
	default n
	depends on CHIP_STM32_USARTV1_HAS_UART7
	help
		Enable UART7 low-level driver

config CHIP_STM32_USARTV1_UART8_ENABLE
	bool "UART8 low-level driver"
	default n
	depends on CHIP_STM32_USARTV1_HAS_UART8
	help
		Enable UART8 low-level driver

config CHIP_STM32_USARTV1_HAS_CR1_OVER8_BIT
	bool
	default n

config CHIP_STM32_USARTV1_HAS_USART1
	bool
	default n

config CHIP_STM32_USARTV1_HAS_USART2
	bool
	default n

config CHIP_STM32_USARTV1_HAS_USART3
	bool
	default n

config CHIP_STM32_USARTV1_HAS_UART4
	bool
	default n

config CHIP_STM32_USARTV1_HAS_UART5
	bool
	default n

config CHIP_STM32_USARTV1_HAS_USART6
	bool
	default n

config CHIP_STM32_USARTV1_HAS_UART7
	bool
	default n

config CHIP_STM32_USARTV1_HAS_UART8
	bool
	default n

endif	# CHIP_STM32_USARTV1
