#
# file: KConfig
#
# author: Copyright (C) 2015 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# date: 2015-08-24
#

menu "Scheduler configuration"

config TICK_CLOCK
	int "Tick clock frequency, Hz"
	range 1 4294967295
	default 16000000
	help
		Frequency of timer used for system ticks, Hz.

config TICK_RATE_HZ
	int "Tick rate, Hz"
	range 1 TICK_CLOCK
	default 1000
	help
		System's tick rate, Hz.

config ROUND_ROBIN_RATE_HZ
	int "Round-robin rate, Hz"
	range 1 TICK_RATE_HZ
	default 10
	help
		Round-robin rate, Hz.

config MAIN_THREAD_CAN_RECEIVE_SIGNALS
	bool "Enable reception of signals for main thread"
	default n
	help
		Enable reception of signals for main thread.

endmenu
