# tup database
.tup/

# configuration output
selectedConfiguration.mk

# build output
output/

# doxygen documentation output
documentation/html/

# Eclipse project files
.cproject
.project
.settings/
*.launch

# other
.gdbinit
