# tup database
.tup/

# build output
output/

# doxygen documentation output
documentation/html/

# generated headers
include/distortos/distortosConfiguration.h

# Eclipse project files
.cproject
.project
.settings/
*.launch

# other
.gdbinit
