#
# file: Kconfig-peripheralsOptions
#
# author: Copyright (C) 2016-2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if CHIP_STM32_USARTV2

config CHIP_STM32_USARTV2_USART1_ENABLE
	bool "USART1 low-level driver"
	default n
	depends on CHIP_STM32_USARTV2_HAS_USART1
	help
		Enable USART1 low-level driver

config CHIP_STM32_USARTV2_USART2_ENABLE
	bool "USART2 low-level driver"
	default n
	depends on CHIP_STM32_USARTV2_HAS_USART2
	help
		Enable USART2 low-level driver

config CHIP_STM32_USARTV2_USART3_ENABLE
	bool "USART3 low-level driver"
	default n
	depends on CHIP_STM32_USARTV2_HAS_USART3
	help
		Enable USART3 low-level driver

config CHIP_STM32_USARTV2_USART4_ENABLE
	bool "USART4 low-level driver"
	default n
	depends on CHIP_STM32_USARTV2_HAS_USART4
	help
		Enable USART4 low-level driver

config CHIP_STM32_USARTV2_USART5_ENABLE
	bool "USART5 low-level driver"
	default n
	depends on CHIP_STM32_USARTV2_HAS_USART5
	help
		Enable USART5 low-level driver

config CHIP_STM32_USARTV2_USART6_ENABLE
	bool "USART6 low-level driver"
	default n
	depends on CHIP_STM32_USARTV2_HAS_USART6
	help
		Enable USART6 low-level driver

config CHIP_STM32_USARTV2_USART7_ENABLE
	bool "USART7 low-level driver"
	default n
	depends on CHIP_STM32_USARTV2_HAS_USART7
	help
		Enable USART7 low-level driver

config CHIP_STM32_USARTV2_USART8_ENABLE
	bool "USART8 low-level driver"
	default n
	depends on CHIP_STM32_USARTV2_HAS_USART8
	help
		Enable USART8 low-level driver

config CHIP_STM32_USARTV2_HAS_CR1_M1_BIT
	bool
	default n

config CHIP_STM32_USARTV2_USART3_USART6_COMBINED_INTERRUPT
	bool
	default n

config CHIP_STM32_USARTV2_USART3_USART8_COMBINED_INTERRUPT
	bool
	default n

config CHIP_STM32_USARTV2_HAS_USART1
	bool
	default n

config CHIP_STM32_USARTV2_HAS_USART2
	bool
	default n

config CHIP_STM32_USARTV2_HAS_USART3
	bool
	default n

config CHIP_STM32_USARTV2_HAS_UART4
	bool
	default n

config CHIP_STM32_USARTV2_HAS_USART4
	bool
	default n

config CHIP_STM32_USARTV2_HAS_UART5
	bool
	default n

config CHIP_STM32_USARTV2_HAS_USART5
	bool
	default n

config CHIP_STM32_USARTV2_HAS_USART6
	bool
	default n

config CHIP_STM32_USARTV2_HAS_UART7
	bool
	default n

config CHIP_STM32_USARTV2_HAS_USART7
	bool
	default n

config CHIP_STM32_USARTV2_HAS_UART8
	bool
	default n

config CHIP_STM32_USARTV2_HAS_USART8
	bool
	default n

endif	# CHIP_STM32_USARTV2
