#
# file: KConfig
#
# author: Copyright (C) 2015 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# date: 2015-08-25
#

choice
	prompt "STM32F4 chip"
	default CHIP_STM32F407VGT
	depends on CHIP_STM32F4
	help
		Select STM32F4 chip

config CHIP_STM32F407VGT
	bool "STM32F407VGT"
	select CHIP_STM32F40
	select CHIP_STM32F407
	select CHIP_STM32F407V
	select CHIP_STM32F407VG
	help
		STMicroelectronics STM32F407VGT chip

endchoice

config CHIP_STM32F40
	bool
	default n

config CHIP_STM32F407
	bool
	default n

config CHIP_STM32F407V
	bool
	default n

config CHIP_STM32F407VG
	bool
	default n

config CHIP_STM32F4_BKPSRAM_SIZE
	int
	default 4096 if CHIP_STM32F407
	default 0

config CHIP_STM32F4_BKPSRAM_ADDRESS
	hex
	default 0x40024000
	depends on CHIP_STM32F4_BKPSRAM_SIZE != 0

config CHIP_STM32F4_CCM_SIZE
	int
	default 65536 if CHIP_STM32F407
	default 0

config CHIP_STM32F4_CCM_ADDRESS
	hex
	default 0x10000000
	depends on CHIP_STM32F4_CCM_SIZE != 0

config CHIP_STM32F4_FLASH_SIZE
	int
	default 1048576 if CHIP_STM32F407VG
	default 0

config CHIP_STM32F4_FLASH_ADDRESS
	hex
	default 0x08000000
	depends on CHIP_STM32F4_FLASH_SIZE != 0

config CHIP_STM32F4_SRAM1_SIZE
	int
	default 114688 if CHIP_STM32F407
	default 0

config CHIP_STM32F4_SRAM1_ADDRESS
	hex
	default 0x20000000
	depends on CHIP_STM32F4_SRAM1_SIZE != 0

config CHIP_STM32F4_SRAM2_SIZE
	int
	default 16384 if CHIP_STM32F407
	default 0

config CHIP_STM32F4_SRAM2_ADDRESS
	hex
	default 0x2001C000
	depends on CHIP_STM32F4_SRAM2_SIZE != 0

config CHIP_STM32F4_SRAM3_SIZE
	int
	default 0

config CHIP_STM32F4_SRAM3_ADDRESS
	hex
	default 0x20020000
	depends on CHIP_STM32F4_SRAM3_SIZE != 0
