{{- outputTemplate__leds__ -}}
{%- set fileTypeInHeader = 'LED' -%}
{%- set briefName = 'Definition' -%}
{% include "headerSourceFile.jinja" %}

#include "distortos/board/leds.hpp"

#ifdef CONFIG_BOARD_LEDS_ENABLE

#include "distortos/chip/ChipOutputPin.hpp"

namespace distortos
{

namespace board
{

/*---------------------------------------------------------------------------------------------------------------------+
| global objects
+---------------------------------------------------------------------------------------------------------------------*/

chip::ChipOutputPin leds[totalLeds]
{
{% for item in ledsPins -%}
#if DISTORTOS_BOARD_{% filter upper %}{{ ledsIds[loop.index - 1][0] }}{% endfilter %}_LED_ENABLE == 1
		{% include gpioOutputTemplate %}
#endif	// DISTORTOS_BOARD_{% filter upper %}{{ ledsIds[loop.index - 1][0] }}{% endfilter %}_LED_ENABLE == 1
{% endfor -%}
};

}	// namespace board

}	// namespace distortos

#endif	// def CONFIG_BOARD_LEDS_ENABLE
{{ '' }}
