{{ outputTemplate__buttons__ -}}
{% set fileTypeInHeader = 'button' %}
{% set briefName = 'Definition' %}
{% include "headerSourceFile.jinja" %}

#include "distortos/board/buttons.hpp"

#ifdef CONFIG_BOARD_BUTTONS_ENABLE

#include "distortos/chip/ChipInputPin.hpp"

namespace distortos
{

namespace board
{

/*---------------------------------------------------------------------------------------------------------------------+
| global objects
+---------------------------------------------------------------------------------------------------------------------*/

const chip::ChipInputPin buttons[totalButtons]
{
{% for item in buttonsPins %}
#if DISTORTOS_BOARD_{{ buttonsIds[loop.index - 1][0] | upper }}_BUTTON_ENABLE == 1
		{% include gpioInputTemplate %}
#endif	// DISTORTOS_BOARD_{{ buttonsIds[loop.index - 1][0] | upper }}_BUTTON_ENABLE == 1
{% endfor %}
};

}	// namespace board

}	// namespace distortos

#endif	// def CONFIG_BOARD_BUTTONS_ENABLE
