{{ outputTemplate__buttons__ -}}
{% set fileTypeInHeader = 'button' %}
{% set briefName = 'Declaration' %}
{% include "headerSourceFile.jinja" %}

#ifndef SOURCE_BOARD_STM32_{{ chipFamily }}_{{ board|replace('-', '_') }}_INCLUDE_DISTORTOS_BOARD_BUTTONS_HPP_
#define SOURCE_BOARD_STM32_{{ chipFamily }}_{{ board|replace('-', '_') }}_INCLUDE_DISTORTOS_BOARD_BUTTONS_HPP_

#include "distortos/distortosConfiguration.h"

#include <cstddef>

{% for id, group in buttonsIds %}
/// indicates whether {{ buttonsIds[loop.index - 1][0] | upper }} button is enabled (1) or not (0)
#ifdef CONFIG_CHIP_STM32_GPIO{{ gpioDriverVersion | upper }}_GPIO{{ group | upper }}_ENABLE
#define DISTORTOS_BOARD_{{ buttonsIds[loop.index - 1][0] | upper }}_BUTTON_ENABLE	1
#else	// !def CONFIG_CHIP_STM32_GPIO{{ gpioDriverVersion | upper }}_GPIO{{ group | upper }}_ENABLE
#define DISTORTOS_BOARD_{{ buttonsIds[loop.index - 1][0] | upper }}_BUTTON_ENABLE	0
#endif	// !def CONFIG_CHIP_STM32_GPIO{{ gpioDriverVersion | upper }}_GPIO{{ group | upper }}_ENABLE

{% endfor %}
/// total number of buttons on the board
#define DISTORTOS_BOARD_TOTAL_BUTTONS		( \
{% for id, group in buttonsIds %}
		DISTORTOS_BOARD_{{ buttonsIds[loop.index - 1][0] | upper }}_BUTTON_ENABLE + \
{% endfor %}
		0)

namespace distortos
{

#ifdef CONFIG_BOARD_BUTTONS_ENABLE

namespace chip
{

class ChipInputPin;

}	// namespace chip

#endif	// def CONFIG_BOARD_BUTTONS_ENABLE

namespace board
{

/// total number of buttons on the board
constexpr size_t totalButtons {DISTORTOS_BOARD_TOTAL_BUTTONS};

/*---------------------------------------------------------------------------------------------------------------------+
| button indexes
+---------------------------------------------------------------------------------------------------------------------*/

enum
{
{% for id, group in buttonsIds %}
#if DISTORTOS_BOARD_{{ buttonsIds[loop.index - 1][0] | upper }}_BUTTON_ENABLE == 1
		/// index of {{ buttonsIds[loop.index - 1][0] | upper }} button
		{{ id }}ButtonIndex,
#endif	// DISTORTOS_BOARD_{{ buttonsIds[loop.index - 1][0] | upper }}_BUTTON_ENABLE == 1
{% endfor %}
};

#ifdef CONFIG_BOARD_BUTTONS_ENABLE

/*---------------------------------------------------------------------------------------------------------------------+
| indexed access to button objects
+---------------------------------------------------------------------------------------------------------------------*/

/// array with all button objects
extern const chip::ChipInputPin buttons[totalButtons];

#endif	// def CONFIG_BOARD_BUTTONS_ENABLE

}	// namespace board

}	// namespace distortos

#endif	// SOURCE_BOARD_STM32_{{ chipFamily }}_{{ board|replace('-', '_') }}_INCLUDE_DISTORTOS_BOARD_BUTTONS_HPP_
