	{{ label }}: {% block name %}{% endblock %}@{{ '%x' % node.address | int(base = 0) }} {
{% block properties %}
{% endblock %}
		reg = <{{ '0x%x' % node.address | int(base = 0) }} {{ node.size }}>;
{% if node.virtualAddress is defined %}
		virtual-reg = <{{ '0x%x' % node.virtualAddress | int(base = 0) }}>;
{% endif %}
		label = "{{ label }}";
	};
