{{- outputTemplate__Rules_mk -}}
{%- set fileTypeInHeader = 'Rules.mk' -%}
{% include "headerConfig.jinja" %}

ifeq ($(CONFIG_BOARD_{{ board|replace('-', '_') }}),y)

#-----------------------------------------------------------------------------------------------------------------------
# compilation flags
#-----------------------------------------------------------------------------------------------------------------------

CXXFLAGS_$(d) := $(CXXFLAGS_$(d)) $(STANDARD_INCLUDES)
CXXFLAGS_$(d) := $(CXXFLAGS_$(d)) $(CHIP_INCLUDES)
CXXFLAGS_$(d) := $(CXXFLAGS_$(d)) $(BOARD_INCLUDES)

#-----------------------------------------------------------------------------------------------------------------------
# standard footer
#-----------------------------------------------------------------------------------------------------------------------

include $(DISTORTOS_PATH)footer.mk

endif	# eq ($(CONFIG_BOARD_{{ board|replace('-', '_') }}),y)
{{ '' }}
