{{- outputTemplate__Tupfile_lua -}}
{%- from 'macros.jinja' import createDate -%}
-- File generated with scripts/generateBoard.py:
-- Copyright (C) 2017 Cezary Gapinski cezary.gapinski@gmail.com
--
-- file: Tupfile.lua
--
-- author: Copyright (C) {{ createDate(beginYear, actualYear) }}
{{-end}} Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
--
-- This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
-- distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
--

if CONFIG_BOARD_{{ board|replace('-', '_') }} == "y" then

	CXXFLAGS += STANDARD_INCLUDES
	CXXFLAGS += CHIP_INCLUDES
	CXXFLAGS += BOARD_INCLUDES

	tup.include(DISTORTOS_TOP .. "compile.lua")

end	-- if CONFIG_BOARD_{{ board|replace('-', '_') }} == "y" then
{{''}}
