{{- outputPinTemplate__v2 -}}
chip::ChipOutputPin{chip::Pin::{{ item["pin"] }},
{{- end }} {{ item["openDrain"] | lower }},
{{- end }} chip::PinOutputSpeed::{{ item["pinOutputSpeed"] }},
{{- end }} chip::PinPull::{{ item["pinPull"] }},
{{- end }} {{ item["initialState"] | lower }},
{{- end }} {{ item["inverted"] | lower }}},
