{{ outputPinTemplate__v2 -}}
{{ '\t\t' }}chip::ChipOutputPin{chip::Pin::{{ item["pin"] }}, {{ item["openDrain"] | lower }}, {# remove whitespace -#}
chip::PinOutputSpeed::{{ item["pinOutputSpeed"] }}, chip::PinPull::{{ item["pinPull"] }}, {# remove whitespace -#}
{{ item["initialState"] | lower }}, {{ item["inverted"] | lower }}},
