#
# file: Kconfig-architectureOptions
#
# author: Copyright (C) 2015-2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if ARCHITECTURE_ARM

config ARCHITECTURE_ARMV6_M
	bool
	default n

config ARCHITECTURE_ARMV7_M
	bool
	default n

config TOOLCHAIN_PREFIX
	string
	default "arm-none-eabi-"

# don't remove next line!
### begin Kconfig-armArchitectureOptions
source "$DISTORTOS_PATH/source/architecture/ARM/ARMv6-M-ARMv7-M/Kconfig-armArchitectureOptions"
### end Kconfig-armArchitectureOptions
# don't remove previous line!

endif	# ARCHITECTURE_ARM
