{% extends "source/architecture/ARM/ARMv6-M-ARMv7-M/templates/ARMv6-M.dtsi.jinja" %}
{% block chosen %}
		distortos,ld,text = &flash;
		distortos,ld,exidx = &flash;
		distortos,ld,main_stack = &sram;
		distortos,ld,bss = &sram;
		distortos,ld,data = &sram;
		distortos,ld,data,load = &flash;
		distortos,ld,noinit = &sram;
		distortos,ld,sram,load = &flash;
		distortos,ld,process_stack = &sram;
		distortos,ld,heap = &sram;
{% endblock %}
{% block cpus %}
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "ARM,Cortex-M0+", "ARM,ARMv6-M";
			device_type = "cpu";
			reg = <0>;
		};
{% endblock %}
