#
# file: Kconfig-stm32ChipFamilyChoices
#
# author: Copyright (C) 2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

config CHIP_STM32F7
	bool "STM32F7"
	select ARCHITECTURE_ARMV7_M
	select ARCHITECTURE_ARM_CORTEX_M7
	select ARCHITECTURE_ARM_CORTEX_M7_R0P1 if CHIP_STM32F74 || CHIP_STM32F75
	select ARCHITECTURE_ARM_CORTEX_M7_R1P0 if !CHIP_STM32F74 && !CHIP_STM32F75
	select ARCHITECTURE_HAS_FPU
	select ARCHITECTURE_HAS_FPV5_D16 if CHIP_STM32F76 || CHIP_STM32F77
	select CHIP_STM32_GPIOV2
	select CHIP_STM32_GPIOV2_HAS_4_AF_BITS
	select CHIP_STM32_GPIOV2_HAS_HIGH_SPEED
	select CHIP_STM32_GPIOV2_HAS_GPIOA
	select CHIP_STM32_GPIOV2_HAS_GPIOB
	select CHIP_STM32_GPIOV2_HAS_GPIOC
	select CHIP_STM32_GPIOV2_HAS_GPIOD
	select CHIP_STM32_GPIOV2_HAS_GPIOH
	select CHIP_STM32_SPIV2
	select CHIP_STM32_SPIV2_HAS_SPI1
	select CHIP_STM32_SPIV2_HAS_SPI2
	select CHIP_STM32_SPIV2_HAS_SPI3
	help
		STM32F7 chip family
