#
# file: Kconfig-chipOptions
#
# author: Copyright (C) 2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if CHIP_STM32F7

comment "STM32F7 chip options"

menu "Clocks configuration"

config CHIP_STM32F7_RCC_SYSCLK_FREQUENCY
	int "Frequency of SYSCLK, Hz"
	range 1 216000000
	default 16000000
	help
		Frequency of SYSCLK, Hz. RCC must be configured by user to achieve that
		frequency. SYSCLK frequency must not exceed:
		- 216MHz (with over-drive mode) or 180MHz (otherwise) in voltage scale
		1 mode,
		- 180MHz (with over-drive mode) or 168MHz (otherwise) in voltage scale
		2 mode,
		- 144MHz in voltage scale 3 mode.

choice
	prompt "AHB divider"
	default CHIP_STM32F7_RCC_AHB_DIV1
	help
		AHB clock division factor

		AHBclk = SYSclk / AHBdivider

config CHIP_STM32F7_RCC_AHB_DIV1
	bool "1"
	help
		System clock not divided

config CHIP_STM32F7_RCC_AHB_DIV2
	bool "2"
	help
		System clock divided by 2

config CHIP_STM32F7_RCC_AHB_DIV4
	bool "4"
	help
		System clock divided by 4

config CHIP_STM32F7_RCC_AHB_DIV8
	bool "8"
	help
		System clock divided by 8

config CHIP_STM32F7_RCC_AHB_DIV16
	bool "16"
	help
		System clock divided by 16

config CHIP_STM32F7_RCC_AHB_DIV64
	bool "64"
	help
		System clock divided by 64

config CHIP_STM32F7_RCC_AHB_DIV128
	bool "128"
	help
		System clock divided by 128

config CHIP_STM32F7_RCC_AHB_DIV256
	bool "256"
	help
		System clock divided by 256

config CHIP_STM32F7_RCC_AHB_DIV512
	bool "512"
	help
		System clock divided by 512

endchoice

choice
	prompt "APB1 (low speed) divider"
	default CHIP_STM32F7_RCC_APB1_DIV4
	help
		APB1 (low speed) clock division factor. APB1 clock must not exceed
		54MHz (with over-drive mode) or 45MHz (otherwise).

		APB1clk = AHBclk / APB1divider

config CHIP_STM32F7_RCC_APB1_DIV1
	bool "1"
	help
		AHB clock not divided

config CHIP_STM32F7_RCC_APB1_DIV2
	bool "2"
	help
		AHB clock divided by 2

config CHIP_STM32F7_RCC_APB1_DIV4
	bool "4"
	help
		AHB clock divided by 4

config CHIP_STM32F7_RCC_APB1_DIV8
	bool "8"
	help
		AHB clock divided by 8

config CHIP_STM32F7_RCC_APB1_DIV16
	bool "16"
	help
		AHB clock divided by 16

endchoice

choice
	prompt "APB2 (high speed) divider"
	default CHIP_STM32F7_RCC_APB2_DIV2
	help
		APB2 (high speed) clock division factor. APB2 clock must not exceed
		108MHz (with over-drive mode) or 90MHz (otherwise).

		APB2clk = AHBclk / APB2divider

config CHIP_STM32F7_RCC_APB2_DIV1
	bool "1"
	help
		AHB clock not divided

config CHIP_STM32F7_RCC_APB2_DIV2
	bool "2"
	help
		AHB clock divided by 2

config CHIP_STM32F7_RCC_APB2_DIV4
	bool "4"
	help
		AHB clock divided by 4

config CHIP_STM32F7_RCC_APB2_DIV8
	bool "8"
	help
		AHB clock divided by 8

config CHIP_STM32F7_RCC_APB2_DIV16
	bool "16"
	help
		AHB clock divided by 16

endchoice

endmenu

menu "Memory configuration"

choice
	prompt "Unify RAM in linker script"
	default CHIP_STM32F7_UNIFY_DTCM_SRAM1_SRAM2
	help
		Configures unification of DTCM and/or SRAM1 and/or SRAM2 regions in
		linker script.

config CHIP_STM32F7_UNIFY_NONE
	bool "No unification"
	help
		Don't unify any SRAM regions. .bss, .data, stacks and heap will be
		located in DTCM. Special .sram1.bss, .sram1.data, .sram1.noinit,
		.sram2.bss, .sram2.data and .sram2.noinit sections will be located in
		SRAM1 (.sram1 prefix) and SRAM2 (.sram2 prefix).

config CHIP_STM32F7_UNIFY_DTCM_SRAM1
	bool "DTCM and SRAM1"
	help
		Unify DTCM and SRAM1 regions. .bss, .data, stacks and heap will be
		located in unified DTCM and SRAM1, special .sram2.bss, .sram2.data
		and .sram2.noinit sections will be located in SRAM2.

config CHIP_STM32F7_UNIFY_DTCM_SRAM1_SRAM2
	bool "DTCM, SRAM1 and SRAM2"
	help
		Unify DTCM, SRAM1 and SRAM2 regions. .bss, .data, stacks and heap
		will be located in unified DTCM, SRAM1 and SRAM2.

config CHIP_STM32F7_UNIFY_SRAM1_SRAM2
	bool "SRAM1 and SRAM2"
	help
		Unify SRAM1 and SRAM2 regions. .bss, .data, stacks and heap will be
		located in DTCM, special .sram12.bss, .sram12.data and .sram12.noinit
		section will be located in unified SRAM1 and SRAM2.

endchoice

endmenu

config CHIP_STM32F72
	bool
	default n

config CHIP_STM32F722
	bool
	default n
	select CHIP_STM32F72

config CHIP_STM32F722I
	bool
	default n
	select CHIP_STM32F722

config CHIP_STM32F722IC
	bool
	default n
	select CHIP_STM32F722I

config CHIP_STM32F722IE
	bool
	default n
	select CHIP_STM32F722I

config CHIP_STM32F722R
	bool
	default n
	select CHIP_STM32F722

config CHIP_STM32F722RC
	bool
	default n
	select CHIP_STM32F722R

config CHIP_STM32F722RE
	bool
	default n
	select CHIP_STM32F722R

config CHIP_STM32F722V
	bool
	default n
	select CHIP_STM32F722

config CHIP_STM32F722VC
	bool
	default n
	select CHIP_STM32F722V

config CHIP_STM32F722VE
	bool
	default n
	select CHIP_STM32F722V

config CHIP_STM32F722Z
	bool
	default n
	select CHIP_STM32F722

config CHIP_STM32F722ZC
	bool
	default n
	select CHIP_STM32F722Z

config CHIP_STM32F722ZE
	bool
	default n
	select CHIP_STM32F722Z

config CHIP_STM32F723
	bool
	default n
	select CHIP_STM32F72

config CHIP_STM32F723I
	bool
	default n
	select CHIP_STM32F723

config CHIP_STM32F723IC
	bool
	default n
	select CHIP_STM32F723I

config CHIP_STM32F723IE
	bool
	default n
	select CHIP_STM32F723I

config CHIP_STM32F723V
	bool
	default n
	select CHIP_STM32F723

config CHIP_STM32F723VE
	bool
	default n
	select CHIP_STM32F723V

config CHIP_STM32F723Z
	bool
	default n
	select CHIP_STM32F723

config CHIP_STM32F723ZC
	bool
	default n
	select CHIP_STM32F723Z

config CHIP_STM32F723ZE
	bool
	default n
	select CHIP_STM32F723Z

config CHIP_STM32F73
	bool
	default n

config CHIP_STM32F732
	bool
	default n
	select CHIP_STM32F73

config CHIP_STM32F732I
	bool
	default n
	select CHIP_STM32F732

config CHIP_STM32F732IE
	bool
	default n
	select CHIP_STM32F732I

config CHIP_STM32F732R
	bool
	default n
	select CHIP_STM32F732

config CHIP_STM32F732RE
	bool
	default n
	select CHIP_STM32F732R

config CHIP_STM32F732V
	bool
	default n
	select CHIP_STM32F732

config CHIP_STM32F732VE
	bool
	default n
	select CHIP_STM32F732V

config CHIP_STM32F732Z
	bool
	default n
	select CHIP_STM32F732

config CHIP_STM32F732ZE
	bool
	default n
	select CHIP_STM32F732Z

config CHIP_STM32F733
	bool
	default n
	select CHIP_STM32F73

config CHIP_STM32F733I
	bool
	default n
	select CHIP_STM32F733

config CHIP_STM32F733IE
	bool
	default n
	select CHIP_STM32F733I

config CHIP_STM32F733V
	bool
	default n
	select CHIP_STM32F733

config CHIP_STM32F733VE
	bool
	default n
	select CHIP_STM32F733V

config CHIP_STM32F733Z
	bool
	default n
	select CHIP_STM32F733

config CHIP_STM32F733ZE
	bool
	default n
	select CHIP_STM32F733Z

config CHIP_STM32F74
	bool
	default n

config CHIP_STM32F745
	bool
	default n
	select CHIP_STM32F74

config CHIP_STM32F745I
	bool
	default n
	select CHIP_STM32F745

config CHIP_STM32F745IE
	bool
	default n
	select CHIP_STM32F745I

config CHIP_STM32F745IG
	bool
	default n
	select CHIP_STM32F745I

config CHIP_STM32F745V
	bool
	default n
	select CHIP_STM32F745

config CHIP_STM32F745VE
	bool
	default n
	select CHIP_STM32F745V

config CHIP_STM32F745VG
	bool
	default n
	select CHIP_STM32F745V

config CHIP_STM32F745Z
	bool
	default n
	select CHIP_STM32F745

config CHIP_STM32F745ZE
	bool
	default n
	select CHIP_STM32F745Z

config CHIP_STM32F745ZG
	bool
	default n
	select CHIP_STM32F745Z

config CHIP_STM32F746
	bool
	default n
	select CHIP_STM32F74

config CHIP_STM32F746B
	bool
	default n
	select CHIP_STM32F746

config CHIP_STM32F746BE
	bool
	default n
	select CHIP_STM32F746B

config CHIP_STM32F746BG
	bool
	default n
	select CHIP_STM32F746B

config CHIP_STM32F746I
	bool
	default n
	select CHIP_STM32F746

config CHIP_STM32F746IE
	bool
	default n
	select CHIP_STM32F746I

config CHIP_STM32F746IG
	bool
	default n
	select CHIP_STM32F746I

config CHIP_STM32F746N
	bool
	default n
	select CHIP_STM32F746

config CHIP_STM32F746NE
	bool
	default n
	select CHIP_STM32F746N

config CHIP_STM32F746NG
	bool
	default n
	select CHIP_STM32F746N

config CHIP_STM32F746V
	bool
	default n
	select CHIP_STM32F746

config CHIP_STM32F746VE
	bool
	default n
	select CHIP_STM32F746V

config CHIP_STM32F746VG
	bool
	default n
	select CHIP_STM32F746V

config CHIP_STM32F746Z
	bool
	default n
	select CHIP_STM32F746

config CHIP_STM32F746ZE
	bool
	default n
	select CHIP_STM32F746Z

config CHIP_STM32F746ZG
	bool
	default n
	select CHIP_STM32F746Z

config CHIP_STM32F75
	bool
	default n

config CHIP_STM32F756
	bool
	default n
	select CHIP_STM32F75

config CHIP_STM32F756B
	bool
	default n
	select CHIP_STM32F756

config CHIP_STM32F756BG
	bool
	default n
	select CHIP_STM32F756B

config CHIP_STM32F756I
	bool
	default n
	select CHIP_STM32F756

config CHIP_STM32F756IG
	bool
	default n
	select CHIP_STM32F756I

config CHIP_STM32F756N
	bool
	default n
	select CHIP_STM32F756

config CHIP_STM32F756NG
	bool
	default n
	select CHIP_STM32F756N

config CHIP_STM32F756V
	bool
	default n
	select CHIP_STM32F756

config CHIP_STM32F756VG
	bool
	default n
	select CHIP_STM32F756V

config CHIP_STM32F756Z
	bool
	default n
	select CHIP_STM32F756

config CHIP_STM32F756ZG
	bool
	default n
	select CHIP_STM32F756Z

config CHIP_STM32F76
	bool
	default n

config CHIP_STM32F765
	bool
	default n
	select CHIP_STM32F76

config CHIP_STM32F765B
	bool
	default n
	select CHIP_STM32F765

config CHIP_STM32F765BG
	bool
	default n
	select CHIP_STM32F765B

config CHIP_STM32F765BI
	bool
	default n
	select CHIP_STM32F765B

config CHIP_STM32F765I
	bool
	default n
	select CHIP_STM32F765

config CHIP_STM32F765IG
	bool
	default n
	select CHIP_STM32F765I

config CHIP_STM32F765II
	bool
	default n
	select CHIP_STM32F765I

config CHIP_STM32F765N
	bool
	default n
	select CHIP_STM32F765

config CHIP_STM32F765NG
	bool
	default n
	select CHIP_STM32F765N

config CHIP_STM32F765NI
	bool
	default n
	select CHIP_STM32F765N

config CHIP_STM32F765V
	bool
	default n
	select CHIP_STM32F765

config CHIP_STM32F765VG
	bool
	default n
	select CHIP_STM32F765V

config CHIP_STM32F765VI
	bool
	default n
	select CHIP_STM32F765V

config CHIP_STM32F765Z
	bool
	default n
	select CHIP_STM32F765

config CHIP_STM32F765ZG
	bool
	default n
	select CHIP_STM32F765Z

config CHIP_STM32F765ZI
	bool
	default n
	select CHIP_STM32F765Z

config CHIP_STM32F767
	bool
	default n
	select CHIP_STM32F76

config CHIP_STM32F767B
	bool
	default n
	select CHIP_STM32F767

config CHIP_STM32F767BG
	bool
	default n
	select CHIP_STM32F767B

config CHIP_STM32F767BI
	bool
	default n
	select CHIP_STM32F767B

config CHIP_STM32F767I
	bool
	default n
	select CHIP_STM32F767

config CHIP_STM32F767IG
	bool
	default n
	select CHIP_STM32F767I

config CHIP_STM32F767II
	bool
	default n
	select CHIP_STM32F767I

config CHIP_STM32F767N
	bool
	default n
	select CHIP_STM32F767

config CHIP_STM32F767NG
	bool
	default n
	select CHIP_STM32F767N

config CHIP_STM32F767NI
	bool
	default n
	select CHIP_STM32F767N

config CHIP_STM32F767V
	bool
	default n
	select CHIP_STM32F767

config CHIP_STM32F767VG
	bool
	default n
	select CHIP_STM32F767V

config CHIP_STM32F767VI
	bool
	default n
	select CHIP_STM32F767V

config CHIP_STM32F767Z
	bool
	default n
	select CHIP_STM32F767

config CHIP_STM32F767ZG
	bool
	default n
	select CHIP_STM32F767Z

config CHIP_STM32F767ZI
	bool
	default n
	select CHIP_STM32F767Z

config CHIP_STM32F769
	bool
	default n
	select CHIP_STM32F76

config CHIP_STM32F769A
	bool
	default n
	select CHIP_STM32F769

config CHIP_STM32F769AI
	bool
	default n
	select CHIP_STM32F769A

config CHIP_STM32F769B
	bool
	default n
	select CHIP_STM32F769

config CHIP_STM32F769BG
	bool
	default n
	select CHIP_STM32F769B

config CHIP_STM32F769BI
	bool
	default n
	select CHIP_STM32F769B

config CHIP_STM32F769I
	bool
	default n
	select CHIP_STM32F769

config CHIP_STM32F769IG
	bool
	default n
	select CHIP_STM32F769I

config CHIP_STM32F769II
	bool
	default n
	select CHIP_STM32F769I

config CHIP_STM32F769N
	bool
	default n
	select CHIP_STM32F769

config CHIP_STM32F769NG
	bool
	default n
	select CHIP_STM32F769N

config CHIP_STM32F769NI
	bool
	default n
	select CHIP_STM32F769N

config CHIP_STM32F77
	bool
	default n

config CHIP_STM32F777
	bool
	default n
	select CHIP_STM32F77

config CHIP_STM32F777B
	bool
	default n
	select CHIP_STM32F777

config CHIP_STM32F777BI
	bool
	default n
	select CHIP_STM32F777B

config CHIP_STM32F777I
	bool
	default n
	select CHIP_STM32F777

config CHIP_STM32F777II
	bool
	default n
	select CHIP_STM32F777I

config CHIP_STM32F777N
	bool
	default n
	select CHIP_STM32F777

config CHIP_STM32F777NI
	bool
	default n
	select CHIP_STM32F777N

config CHIP_STM32F777V
	bool
	default n
	select CHIP_STM32F777

config CHIP_STM32F777VI
	bool
	default n
	select CHIP_STM32F777V

config CHIP_STM32F777Z
	bool
	default n
	select CHIP_STM32F777

config CHIP_STM32F777ZI
	bool
	default n
	select CHIP_STM32F777Z

config CHIP_STM32F778
	bool
	default n
	select CHIP_STM32F77

config CHIP_STM32F778A
	bool
	default n
	select CHIP_STM32F778

config CHIP_STM32F778AI
	bool
	default n
	select CHIP_STM32F778A

config CHIP_STM32F779
	bool
	default n
	select CHIP_STM32F77

config CHIP_STM32F779A
	bool
	default n
	select CHIP_STM32F779

config CHIP_STM32F779AI
	bool
	default n
	select CHIP_STM32F779A

config CHIP_STM32F779B
	bool
	default n
	select CHIP_STM32F779

config CHIP_STM32F779BI
	bool
	default n
	select CHIP_STM32F779B

config CHIP_STM32F779I
	bool
	default n
	select CHIP_STM32F779

config CHIP_STM32F779II
	bool
	default n
	select CHIP_STM32F779I

config CHIP_STM32F779N
	bool
	default n
	select CHIP_STM32F779

config CHIP_STM32F779NI
	bool
	default n
	select CHIP_STM32F779N

config CHIP_STM32F7_BKPSRAM_SIZE
	int
	default 4096

config CHIP_STM32F7_BKPSRAM_ADDRESS
	hex
	default 0x40024000

config CHIP_STM32F7_DTCM_SIZE
	int
	default 65536 if !CHIP_STM32F76 && !CHIP_STM32F77
	default 131072

config CHIP_STM32F7_DTCM_ADDRESS
	hex
	default 0x20000000

config CHIP_ROM_SIZE
	int
	default 262144 if CHIP_STM32F722IC || CHIP_STM32F722RC || CHIP_STM32F722VC || CHIP_STM32F722ZC || \
		CHIP_STM32F723IC || CHIP_STM32F723ZC
	default 524288 if CHIP_STM32F722IE || CHIP_STM32F722RE || CHIP_STM32F722VE || CHIP_STM32F722ZE || \
		CHIP_STM32F723IE || CHIP_STM32F723VE || CHIP_STM32F723ZE || CHIP_STM32F732IE || CHIP_STM32F732RE || \
		CHIP_STM32F732VE || CHIP_STM32F732ZE || CHIP_STM32F733IE || CHIP_STM32F733VE || CHIP_STM32F733ZE || \
		CHIP_STM32F745IE || CHIP_STM32F745VE || CHIP_STM32F745ZE || CHIP_STM32F746BE || CHIP_STM32F746IE || \
		CHIP_STM32F746NE || CHIP_STM32F746VE || CHIP_STM32F746ZE
	default 1048576 if CHIP_STM32F745IG || CHIP_STM32F745VG || CHIP_STM32F745ZG || CHIP_STM32F746BG || \
		CHIP_STM32F746IG || CHIP_STM32F746NG || CHIP_STM32F746VG || CHIP_STM32F746ZG || CHIP_STM32F756BG || \
		CHIP_STM32F756IG || CHIP_STM32F756NG || CHIP_STM32F756VG || CHIP_STM32F756ZG || CHIP_STM32F765BG || \
		CHIP_STM32F765IG || CHIP_STM32F765NG || CHIP_STM32F765VG || CHIP_STM32F765ZG || CHIP_STM32F767BG || \
		CHIP_STM32F767IG || CHIP_STM32F767NG || CHIP_STM32F767VG || CHIP_STM32F767ZG || CHIP_STM32F769BG || \
		CHIP_STM32F769IG || CHIP_STM32F769NG
	default 2097152 if CHIP_STM32F765BI || CHIP_STM32F765II || CHIP_STM32F765NI || CHIP_STM32F765VI || \
		CHIP_STM32F765ZI || CHIP_STM32F767BI || CHIP_STM32F767II || CHIP_STM32F767NI || CHIP_STM32F767VI || \
		CHIP_STM32F767ZI || CHIP_STM32F769AI || CHIP_STM32F769BI || CHIP_STM32F769II || CHIP_STM32F769NI || \
		CHIP_STM32F777BI || CHIP_STM32F777II || CHIP_STM32F777NI || CHIP_STM32F777VI || CHIP_STM32F777ZI || \
		CHIP_STM32F778AI || CHIP_STM32F779AI || CHIP_STM32F779BI || CHIP_STM32F779II || CHIP_STM32F779NI

config CHIP_ROM_ADDRESS
	hex
	default 0x08000000

config CHIP_STM32F7_SRAM1_SIZE
	int
	default 180224 if CHIP_STM32F72 || CHIP_STM32F73
	default 245760 if CHIP_STM32F74 || CHIP_STM32F75
	default 376832

config CHIP_STM32F7_SRAM1_ADDRESS
	hex
	default 0x20010000 if !CHIP_STM32F76 && !CHIP_STM32F77
	default 0x20020000

config CHIP_STM32F7_SRAM2_SIZE
	int
	default 16384

config CHIP_STM32F7_SRAM2_ADDRESS
	hex
	default 0x2003c000 if CHIP_STM32F72 || CHIP_STM32F73
	default 0x2004c000 if CHIP_STM32F74 || CHIP_STM32F75
	default 0x2007c000

config CHIP_STM32F7_RCC_HPRE
	int
	default 1 if CHIP_STM32F7_RCC_AHB_DIV1
	default 2 if CHIP_STM32F7_RCC_AHB_DIV2
	default 4 if CHIP_STM32F7_RCC_AHB_DIV4
	default 8 if CHIP_STM32F7_RCC_AHB_DIV8
	default 16 if CHIP_STM32F7_RCC_AHB_DIV16
	default 64 if CHIP_STM32F7_RCC_AHB_DIV64
	default 128 if CHIP_STM32F7_RCC_AHB_DIV128
	default 256 if CHIP_STM32F7_RCC_AHB_DIV256
	default 512 if CHIP_STM32F7_RCC_AHB_DIV512

config CHIP_STM32F7_RCC_PPRE1
	int
	default 1 if CHIP_STM32F7_RCC_APB1_DIV1
	default 2 if CHIP_STM32F7_RCC_APB1_DIV2
	default 4 if CHIP_STM32F7_RCC_APB1_DIV4
	default 8 if CHIP_STM32F7_RCC_APB1_DIV8
	default 16 if CHIP_STM32F7_RCC_APB1_DIV16

config CHIP_STM32F7_RCC_PPRE2
	int
	default 1 if CHIP_STM32F7_RCC_APB2_DIV1
	default 2 if CHIP_STM32F7_RCC_APB2_DIV2
	default 4 if CHIP_STM32F7_RCC_APB2_DIV4
	default 8 if CHIP_STM32F7_RCC_APB2_DIV8
	default 16 if CHIP_STM32F7_RCC_APB2_DIV16

config CHIP
	string
	default "STM32F722IC" if CHIP_STM32F722IC
	default "STM32F722IE" if CHIP_STM32F722IE
	default "STM32F722RC" if CHIP_STM32F722RC
	default "STM32F722RE" if CHIP_STM32F722RE
	default "STM32F722VC" if CHIP_STM32F722VC
	default "STM32F722VE" if CHIP_STM32F722VE
	default "STM32F722ZC" if CHIP_STM32F722ZC
	default "STM32F722ZE" if CHIP_STM32F722ZE
	default "STM32F723IC" if CHIP_STM32F723IC
	default "STM32F723IE" if CHIP_STM32F723IE
	default "STM32F723VE" if CHIP_STM32F723VE
	default "STM32F723ZC" if CHIP_STM32F723ZC
	default "STM32F723ZE" if CHIP_STM32F723ZE
	default "STM32F732IE" if CHIP_STM32F732IE
	default "STM32F732RE" if CHIP_STM32F732RE
	default "STM32F732VE" if CHIP_STM32F732VE
	default "STM32F732ZE" if CHIP_STM32F732ZE
	default "STM32F733IE" if CHIP_STM32F733IE
	default "STM32F733VE" if CHIP_STM32F733VE
	default "STM32F733ZE" if CHIP_STM32F733ZE
	default "STM32F745IE" if CHIP_STM32F745IE
	default "STM32F745IG" if CHIP_STM32F745IG
	default "STM32F745VE" if CHIP_STM32F745VE
	default "STM32F745VG" if CHIP_STM32F745VG
	default "STM32F745ZE" if CHIP_STM32F745ZE
	default "STM32F745ZG" if CHIP_STM32F745ZG
	default "STM32F746BE" if CHIP_STM32F746BE
	default "STM32F746BG" if CHIP_STM32F746BG
	default "STM32F746IE" if CHIP_STM32F746IE
	default "STM32F746IG" if CHIP_STM32F746IG
	default "STM32F746NE" if CHIP_STM32F746NE
	default "STM32F746NG" if CHIP_STM32F746NG
	default "STM32F746VE" if CHIP_STM32F746VE
	default "STM32F746VG" if CHIP_STM32F746VG
	default "STM32F746ZE" if CHIP_STM32F746ZE
	default "STM32F746ZG" if CHIP_STM32F746ZG
	default "STM32F756BG" if CHIP_STM32F756BG
	default "STM32F756IG" if CHIP_STM32F756IG
	default "STM32F756NG" if CHIP_STM32F756NG
	default "STM32F756VG" if CHIP_STM32F756VG
	default "STM32F756ZG" if CHIP_STM32F756ZG
	default "STM32F765BG" if CHIP_STM32F765BG
	default "STM32F765BI" if CHIP_STM32F765BI
	default "STM32F765IG" if CHIP_STM32F765IG
	default "STM32F765II" if CHIP_STM32F765II
	default "STM32F765NG" if CHIP_STM32F765NG
	default "STM32F765NI" if CHIP_STM32F765NI
	default "STM32F765VG" if CHIP_STM32F765VG
	default "STM32F765VI" if CHIP_STM32F765VI
	default "STM32F765ZG" if CHIP_STM32F765ZG
	default "STM32F765ZI" if CHIP_STM32F765ZI
	default "STM32F767BG" if CHIP_STM32F767BG
	default "STM32F767BI" if CHIP_STM32F767BI
	default "STM32F767IG" if CHIP_STM32F767IG
	default "STM32F767II" if CHIP_STM32F767II
	default "STM32F767NG" if CHIP_STM32F767NG
	default "STM32F767NI" if CHIP_STM32F767NI
	default "STM32F767VG" if CHIP_STM32F767VG
	default "STM32F767VI" if CHIP_STM32F767VI
	default "STM32F767ZG" if CHIP_STM32F767ZG
	default "STM32F767ZI" if CHIP_STM32F767ZI
	default "STM32F769AI" if CHIP_STM32F769AI
	default "STM32F769BG" if CHIP_STM32F769BG
	default "STM32F769BI" if CHIP_STM32F769BI
	default "STM32F769IG" if CHIP_STM32F769IG
	default "STM32F769II" if CHIP_STM32F769II
	default "STM32F769NG" if CHIP_STM32F769NG
	default "STM32F769NI" if CHIP_STM32F769NI
	default "STM32F777BI" if CHIP_STM32F777BI
	default "STM32F777II" if CHIP_STM32F777II
	default "STM32F777NI" if CHIP_STM32F777NI
	default "STM32F777VI" if CHIP_STM32F777VI
	default "STM32F777ZI" if CHIP_STM32F777ZI
	default "STM32F778AI" if CHIP_STM32F778AI
	default "STM32F779AI" if CHIP_STM32F779AI
	default "STM32F779BI" if CHIP_STM32F779BI
	default "STM32F779II" if CHIP_STM32F779II
	default "STM32F779NI" if CHIP_STM32F779NI

config CHIP_INCLUDES
	string
	default "source/chip/STM32/include source/chip/STM32/STM32F7/include external/CMSIS-STM32F7 external/CMSIS"

endif	# CHIP_STM32F7
