#
# file: Kconfig-chipChoices
#
# author: Copyright (C) 2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

choice
	prompt "STM32F7 chip"
	depends on CHIP_STM32F7
	help
		Select STM32F7 chip

config CHIP_STM32F722IC_SELECTED
	bool "STM32F722IC"
	select CHIP_STM32F722IC
	help
		STM32F722IC chip

config CHIP_STM32F722IE_SELECTED
	bool "STM32F722IE"
	select CHIP_STM32F722IE
	help
		STM32F722IE chip

config CHIP_STM32F722RC_SELECTED
	bool "STM32F722RC"
	select CHIP_STM32F722RC
	help
		STM32F722RC chip

config CHIP_STM32F722RE_SELECTED
	bool "STM32F722RE"
	select CHIP_STM32F722RE
	help
		STM32F722RE chip

config CHIP_STM32F722VC_SELECTED
	bool "STM32F722VC"
	select CHIP_STM32F722VC
	help
		STM32F722VC chip

config CHIP_STM32F722VE_SELECTED
	bool "STM32F722VE"
	select CHIP_STM32F722VE
	help
		STM32F722VE chip

config CHIP_STM32F722ZC_SELECTED
	bool "STM32F722ZC"
	select CHIP_STM32F722ZC
	help
		STM32F722ZC chip

config CHIP_STM32F722ZE_SELECTED
	bool "STM32F722ZE"
	select CHIP_STM32F722ZE
	help
		STM32F722ZE chip

config CHIP_STM32F723IC_SELECTED
	bool "STM32F723IC"
	select CHIP_STM32F723IC
	help
		STM32F723IC chip

config CHIP_STM32F723IE_SELECTED
	bool "STM32F723IE"
	select CHIP_STM32F723IE
	help
		STM32F723IE chip

config CHIP_STM32F723VE_SELECTED
	bool "STM32F723VE"
	select CHIP_STM32F723VE
	help
		STM32F723VE chip

config CHIP_STM32F723ZC_SELECTED
	bool "STM32F723ZC"
	select CHIP_STM32F723ZC
	help
		STM32F723ZC chip

config CHIP_STM32F723ZE_SELECTED
	bool "STM32F723ZE"
	select CHIP_STM32F723ZE
	help
		STM32F723ZE chip

config CHIP_STM32F732IE_SELECTED
	bool "STM32F732IE"
	select CHIP_STM32F732IE
	help
		STM32F732IE chip

config CHIP_STM32F732RE_SELECTED
	bool "STM32F732RE"
	select CHIP_STM32F732RE
	help
		STM32F732RE chip

config CHIP_STM32F732VE_SELECTED
	bool "STM32F732VE"
	select CHIP_STM32F732VE
	help
		STM32F732VE chip

config CHIP_STM32F732ZE_SELECTED
	bool "STM32F732ZE"
	select CHIP_STM32F732ZE
	help
		STM32F732ZE chip

config CHIP_STM32F733IE_SELECTED
	bool "STM32F733IE"
	select CHIP_STM32F733IE
	help
		STM32F733IE chip

config CHIP_STM32F733VE_SELECTED
	bool "STM32F733VE"
	select CHIP_STM32F733VE
	help
		STM32F733VE chip

config CHIP_STM32F733ZE_SELECTED
	bool "STM32F733ZE"
	select CHIP_STM32F733ZE
	help
		STM32F733ZE chip

config CHIP_STM32F745IE_SELECTED
	bool "STM32F745IE"
	select CHIP_STM32F745IE
	help
		STM32F745IE chip

config CHIP_STM32F745IG_SELECTED
	bool "STM32F745IG"
	select CHIP_STM32F745IG
	help
		STM32F745IG chip

config CHIP_STM32F745VE_SELECTED
	bool "STM32F745VE"
	select CHIP_STM32F745VE
	help
		STM32F745VE chip

config CHIP_STM32F745VG_SELECTED
	bool "STM32F745VG"
	select CHIP_STM32F745VG
	help
		STM32F745VG chip

config CHIP_STM32F745ZE_SELECTED
	bool "STM32F745ZE"
	select CHIP_STM32F745ZE
	help
		STM32F745ZE chip

config CHIP_STM32F745ZG_SELECTED
	bool "STM32F745ZG"
	select CHIP_STM32F745ZG
	help
		STM32F745ZG chip

config CHIP_STM32F746BE_SELECTED
	bool "STM32F746BE"
	select CHIP_STM32F746BE
	help
		STM32F746BE chip

config CHIP_STM32F746BG_SELECTED
	bool "STM32F746BG"
	select CHIP_STM32F746BG
	help
		STM32F746BG chip

config CHIP_STM32F746IE_SELECTED
	bool "STM32F746IE"
	select CHIP_STM32F746IE
	help
		STM32F746IE chip

config CHIP_STM32F746IG_SELECTED
	bool "STM32F746IG"
	select CHIP_STM32F746IG
	help
		STM32F746IG chip

config CHIP_STM32F746NE_SELECTED
	bool "STM32F746NE"
	select CHIP_STM32F746NE
	help
		STM32F746NE chip

config CHIP_STM32F746NG_SELECTED
	bool "STM32F746NG"
	select CHIP_STM32F746NG
	help
		STM32F746NG chip

config CHIP_STM32F746VE_SELECTED
	bool "STM32F746VE"
	select CHIP_STM32F746VE
	help
		STM32F746VE chip

config CHIP_STM32F746VG_SELECTED
	bool "STM32F746VG"
	select CHIP_STM32F746VG
	help
		STM32F746VG chip

config CHIP_STM32F746ZE_SELECTED
	bool "STM32F746ZE"
	select CHIP_STM32F746ZE
	help
		STM32F746ZE chip

config CHIP_STM32F746ZG_SELECTED
	bool "STM32F746ZG"
	select CHIP_STM32F746ZG
	help
		STM32F746ZG chip

config CHIP_STM32F756BG_SELECTED
	bool "STM32F756BG"
	select CHIP_STM32F756BG
	help
		STM32F756BG chip

config CHIP_STM32F756IG_SELECTED
	bool "STM32F756IG"
	select CHIP_STM32F756IG
	help
		STM32F756IG chip

config CHIP_STM32F756NG_SELECTED
	bool "STM32F756NG"
	select CHIP_STM32F756NG
	help
		STM32F756NG chip

config CHIP_STM32F756VG_SELECTED
	bool "STM32F756VG"
	select CHIP_STM32F756VG
	help
		STM32F756VG chip

config CHIP_STM32F756ZG_SELECTED
	bool "STM32F756ZG"
	select CHIP_STM32F756ZG
	help
		STM32F756ZG chip

config CHIP_STM32F765BG_SELECTED
	bool "STM32F765BG"
	select CHIP_STM32F765BG
	help
		STM32F765BG chip

config CHIP_STM32F765BI_SELECTED
	bool "STM32F765BI"
	select CHIP_STM32F765BI
	help
		STM32F765BI chip

config CHIP_STM32F765IG_SELECTED
	bool "STM32F765IG"
	select CHIP_STM32F765IG
	help
		STM32F765IG chip

config CHIP_STM32F765II_SELECTED
	bool "STM32F765II"
	select CHIP_STM32F765II
	help
		STM32F765II chip

config CHIP_STM32F765NG_SELECTED
	bool "STM32F765NG"
	select CHIP_STM32F765NG
	help
		STM32F765NG chip

config CHIP_STM32F765NI_SELECTED
	bool "STM32F765NI"
	select CHIP_STM32F765NI
	help
		STM32F765NI chip

config CHIP_STM32F765VG_SELECTED
	bool "STM32F765VG"
	select CHIP_STM32F765VG
	help
		STM32F765VG chip

config CHIP_STM32F765VI_SELECTED
	bool "STM32F765VI"
	select CHIP_STM32F765VI
	help
		STM32F765VI chip

config CHIP_STM32F765ZG_SELECTED
	bool "STM32F765ZG"
	select CHIP_STM32F765ZG
	help
		STM32F765ZG chip

config CHIP_STM32F765ZI_SELECTED
	bool "STM32F765ZI"
	select CHIP_STM32F765ZI
	help
		STM32F765ZI chip

config CHIP_STM32F767BG_SELECTED
	bool "STM32F767BG"
	select CHIP_STM32F767BG
	help
		STM32F767BG chip

config CHIP_STM32F767BI_SELECTED
	bool "STM32F767BI"
	select CHIP_STM32F767BI
	help
		STM32F767BI chip

config CHIP_STM32F767IG_SELECTED
	bool "STM32F767IG"
	select CHIP_STM32F767IG
	help
		STM32F767IG chip

config CHIP_STM32F767II_SELECTED
	bool "STM32F767II"
	select CHIP_STM32F767II
	help
		STM32F767II chip

config CHIP_STM32F767NG_SELECTED
	bool "STM32F767NG"
	select CHIP_STM32F767NG
	help
		STM32F767NG chip

config CHIP_STM32F767NI_SELECTED
	bool "STM32F767NI"
	select CHIP_STM32F767NI
	help
		STM32F767NI chip

config CHIP_STM32F767VG_SELECTED
	bool "STM32F767VG"
	select CHIP_STM32F767VG
	help
		STM32F767VG chip

config CHIP_STM32F767VI_SELECTED
	bool "STM32F767VI"
	select CHIP_STM32F767VI
	help
		STM32F767VI chip

config CHIP_STM32F767ZG_SELECTED
	bool "STM32F767ZG"
	select CHIP_STM32F767ZG
	help
		STM32F767ZG chip

config CHIP_STM32F767ZI_SELECTED
	bool "STM32F767ZI"
	select CHIP_STM32F767ZI
	help
		STM32F767ZI chip

config CHIP_STM32F769AI_SELECTED
	bool "STM32F769AI"
	select CHIP_STM32F769AI
	help
		STM32F769AI chip

config CHIP_STM32F769BG_SELECTED
	bool "STM32F769BG"
	select CHIP_STM32F769BG
	help
		STM32F769BG chip

config CHIP_STM32F769BI_SELECTED
	bool "STM32F769BI"
	select CHIP_STM32F769BI
	help
		STM32F769BI chip

config CHIP_STM32F769IG_SELECTED
	bool "STM32F769IG"
	select CHIP_STM32F769IG
	help
		STM32F769IG chip

config CHIP_STM32F769II_SELECTED
	bool "STM32F769II"
	select CHIP_STM32F769II
	help
		STM32F769II chip

config CHIP_STM32F769NG_SELECTED
	bool "STM32F769NG"
	select CHIP_STM32F769NG
	help
		STM32F769NG chip

config CHIP_STM32F769NI_SELECTED
	bool "STM32F769NI"
	select CHIP_STM32F769NI
	help
		STM32F769NI chip

config CHIP_STM32F777BI_SELECTED
	bool "STM32F777BI"
	select CHIP_STM32F777BI
	help
		STM32F777BI chip

config CHIP_STM32F777II_SELECTED
	bool "STM32F777II"
	select CHIP_STM32F777II
	help
		STM32F777II chip

config CHIP_STM32F777NI_SELECTED
	bool "STM32F777NI"
	select CHIP_STM32F777NI
	help
		STM32F777NI chip

config CHIP_STM32F777VI_SELECTED
	bool "STM32F777VI"
	select CHIP_STM32F777VI
	help
		STM32F777VI chip

config CHIP_STM32F777ZI_SELECTED
	bool "STM32F777ZI"
	select CHIP_STM32F777ZI
	help
		STM32F777ZI chip

config CHIP_STM32F778AI_SELECTED
	bool "STM32F778AI"
	select CHIP_STM32F778AI
	help
		STM32F778AI chip

config CHIP_STM32F779AI_SELECTED
	bool "STM32F779AI"
	select CHIP_STM32F779AI
	help
		STM32F779AI chip

config CHIP_STM32F779BI_SELECTED
	bool "STM32F779BI"
	select CHIP_STM32F779BI
	help
		STM32F779BI chip

config CHIP_STM32F779II_SELECTED
	bool "STM32F779II"
	select CHIP_STM32F779II
	help
		STM32F779II chip

config CHIP_STM32F779NI_SELECTED
	bool "STM32F779NI"
	select CHIP_STM32F779NI
	help
		STM32F779NI chip

endchoice
