#
# file: Kconfig
#
# author: Copyright (C) 2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if BOARD_NUCLEO_F103RB

config BOARD_TOTAL_LEDS
	int
	default 1

config BOARD_INCLUDES
	string
	default "source/board/STM32/STM32F1/NUCLEO-F103RB/include"

config BOARD
	string
	default "NUCLEO-F103RB"

endif	# BOARD_NUCLEO_F103RB
