#
# file: Kconfig
#
# author: Copyright (C) 2015 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# date: 2015-10-01
#

menu "Architecture configuration"

config ARCHITECTURE_HAVE_FPU
	bool
	default n

config ARCHITECTURE_ARM
	bool
	default n

if ARCHITECTURE_ARM
source source/architecture/ARM/Kconfig
endif

endmenu
