#
# file: Kconfig-stm32ChipFamilyChoices
#
# author: Copyright (C) 2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

config CHIP_STM32L4
	bool "STM32L4"
	select ARCHITECTURE_ARMV7_M
	select ARCHITECTURE_ARM_CORTEX_M4
	select ARCHITECTURE_ARM_CORTEX_M4_R0P1
	select ARCHITECTURE_HAS_FPU
	select CHIP_STM32_GPIOV2
	select CHIP_STM32_GPIOV2_HAS_4_AF_BITS
	select CHIP_STM32_GPIOV2_HAS_HIGH_SPEED
	select CHIP_STM32_GPIOV2_HAS_GPIOA
	select CHIP_STM32_GPIOV2_HAS_GPIOB
	select CHIP_STM32_GPIOV2_HAS_GPIOC
	select CHIP_STM32_GPIOV2_HAS_GPIOD if CHIP_STM32L431RB || CHIP_STM32L431RC || CHIP_STM32L431VC || \
			CHIP_STM32L433RB || CHIP_STM32L433RC || CHIP_STM32L433VC || CHIP_STM32L443RC || CHIP_STM32L443VC || \
			CHIP_STM32L451RC || CHIP_STM32L451RE || CHIP_STM32L451VC || CHIP_STM32L451VE || CHIP_STM32L452RC || \
			CHIP_STM32L452RE || CHIP_STM32L452VC || CHIP_STM32L452VE || CHIP_STM32L462RE || CHIP_STM32L462VE || \
			CHIP_STM32L471QE || CHIP_STM32L471QG || CHIP_STM32L471RE || CHIP_STM32L471RG || CHIP_STM32L471VE || \
			CHIP_STM32L471VG || CHIP_STM32L471ZE || CHIP_STM32L471ZG || CHIP_STM32L475RC || CHIP_STM32L475RE || \
			CHIP_STM32L475RG || CHIP_STM32L475VC || CHIP_STM32L475VE || CHIP_STM32L475VG || CHIP_STM32L476JE || \
			CHIP_STM32L476JG || CHIP_STM32L476ME || CHIP_STM32L476MG || CHIP_STM32L476QE || CHIP_STM32L476QG || \
			CHIP_STM32L476RC || CHIP_STM32L476RE || CHIP_STM32L476RG || CHIP_STM32L476VC || CHIP_STM32L476VE || \
			CHIP_STM32L476VG || CHIP_STM32L476ZE || CHIP_STM32L476ZG || CHIP_STM32L486JG || CHIP_STM32L486QG || \
			CHIP_STM32L486RG || CHIP_STM32L486VG || CHIP_STM32L486ZG || CHIP_STM32L496AE || CHIP_STM32L496AG || \
			CHIP_STM32L496QE || CHIP_STM32L496QG || CHIP_STM32L496RE || CHIP_STM32L496RG || CHIP_STM32L496VE || \
			CHIP_STM32L496VG || CHIP_STM32L496ZE || CHIP_STM32L496ZG || CHIP_STM32L4A6AG || CHIP_STM32L4A6QG || \
			CHIP_STM32L4A6RG || CHIP_STM32L4A6VG || CHIP_STM32L4A6ZG
	select CHIP_STM32_GPIOV2_HAS_GPIOE if CHIP_STM32L431VC || CHIP_STM32L433VC || CHIP_STM32L443VC || \
			CHIP_STM32L451VC || CHIP_STM32L451VE || CHIP_STM32L452VC || CHIP_STM32L452VE || CHIP_STM32L462VE || \
			CHIP_STM32L471QE || CHIP_STM32L471QG || CHIP_STM32L471VE || CHIP_STM32L471VG || CHIP_STM32L471ZE || \
			CHIP_STM32L471ZG || CHIP_STM32L475VC || CHIP_STM32L475VE || CHIP_STM32L475VG || CHIP_STM32L476ME || \
			CHIP_STM32L476MG || CHIP_STM32L476QE || CHIP_STM32L476QG || CHIP_STM32L476VC || CHIP_STM32L476VE || \
			CHIP_STM32L476VG || CHIP_STM32L476ZE || CHIP_STM32L476ZG || CHIP_STM32L486QG || CHIP_STM32L486VG || \
			CHIP_STM32L486ZG || CHIP_STM32L496AE || CHIP_STM32L496AG || CHIP_STM32L496QE || CHIP_STM32L496QG || \
			CHIP_STM32L496VE || CHIP_STM32L496VG || CHIP_STM32L496ZE || CHIP_STM32L496ZG || CHIP_STM32L4A6AG || \
			CHIP_STM32L4A6QG || CHIP_STM32L4A6VG || CHIP_STM32L4A6ZG
	select CHIP_STM32_GPIOV2_HAS_GPIOF if CHIP_STM32L471QE || CHIP_STM32L471QG || CHIP_STM32L471ZE || \
			CHIP_STM32L471ZG || CHIP_STM32L476QE || CHIP_STM32L476QG || CHIP_STM32L476ZE || CHIP_STM32L476ZG || \
			CHIP_STM32L486QG || CHIP_STM32L486ZG || CHIP_STM32L496AE || CHIP_STM32L496AG || CHIP_STM32L496QE || \
			CHIP_STM32L496QG || CHIP_STM32L496ZE || CHIP_STM32L496ZG || CHIP_STM32L4A6AG || CHIP_STM32L4A6QG || \
			CHIP_STM32L4A6ZG
	select CHIP_STM32_GPIOV2_HAS_GPIOG if CHIP_STM32L471QE || CHIP_STM32L471QG || CHIP_STM32L471ZE || \
			CHIP_STM32L471ZG || CHIP_STM32L476JE || CHIP_STM32L476JG || CHIP_STM32L476ME || CHIP_STM32L476MG || \
			CHIP_STM32L476QE || CHIP_STM32L476QG || CHIP_STM32L476ZE || CHIP_STM32L476ZG || CHIP_STM32L486JG || \
			CHIP_STM32L486QG || CHIP_STM32L486ZG || CHIP_STM32L496AE || CHIP_STM32L496AG || CHIP_STM32L496QE || \
			CHIP_STM32L496QG || CHIP_STM32L496VE || CHIP_STM32L496VG || CHIP_STM32L496ZE || CHIP_STM32L496ZG || \
			CHIP_STM32L4A6AG || CHIP_STM32L4A6QG || CHIP_STM32L4A6VG || CHIP_STM32L4A6ZG
	select CHIP_STM32_GPIOV2_HAS_GPIOH
	select CHIP_STM32_GPIOV2_HAS_GPIOI if CHIP_STM32L496AE || CHIP_STM32L496AG || CHIP_STM32L4A6AG
	select CHIP_STM32_SPIV2
	select CHIP_STM32_SPIV2_HAS_SPI1
	select CHIP_STM32_SPIV2_HAS_SPI2 if CHIP_STM32L431CB || CHIP_STM32L431CC || CHIP_STM32L431RB || \
			CHIP_STM32L431RC || CHIP_STM32L431VC || CHIP_STM32L433CB || CHIP_STM32L433CC || CHIP_STM32L433RB || \
			CHIP_STM32L433RC || CHIP_STM32L433VC || CHIP_STM32L443CC || CHIP_STM32L443RC || CHIP_STM32L443VC || \
			CHIP_STM32L451CC || CHIP_STM32L451CE || CHIP_STM32L451RC || CHIP_STM32L451RE || CHIP_STM32L451VC || \
			CHIP_STM32L451VE || CHIP_STM32L452CC || CHIP_STM32L452CE || CHIP_STM32L452RC || CHIP_STM32L452RE || \
			CHIP_STM32L452VC || CHIP_STM32L452VE || CHIP_STM32L462CE || CHIP_STM32L462RE || CHIP_STM32L462VE || \
			CHIP_STM32L471QE || CHIP_STM32L471QG || CHIP_STM32L471RE || CHIP_STM32L471RG || CHIP_STM32L471VE || \
			CHIP_STM32L471VG || CHIP_STM32L471ZE || CHIP_STM32L471ZG || CHIP_STM32L475RC || CHIP_STM32L475RE || \
			CHIP_STM32L475RG || CHIP_STM32L475VC || CHIP_STM32L475VE || CHIP_STM32L475VG || CHIP_STM32L476JE || \
			CHIP_STM32L476JG || CHIP_STM32L476ME || CHIP_STM32L476MG || CHIP_STM32L476QE || CHIP_STM32L476QG || \
			CHIP_STM32L476RC || CHIP_STM32L476RE || CHIP_STM32L476RG || CHIP_STM32L476VC || CHIP_STM32L476VE || \
			CHIP_STM32L476VG || CHIP_STM32L476ZE || CHIP_STM32L476ZG || CHIP_STM32L486JG || CHIP_STM32L486QG || \
			CHIP_STM32L486RG || CHIP_STM32L486VG || CHIP_STM32L486ZG || CHIP_STM32L496AE || CHIP_STM32L496AG || \
			CHIP_STM32L496QE || CHIP_STM32L496QG || CHIP_STM32L496RE || CHIP_STM32L496RG || CHIP_STM32L496VE || \
			CHIP_STM32L496VG || CHIP_STM32L496ZE || CHIP_STM32L496ZG || CHIP_STM32L4A6AG || CHIP_STM32L4A6QG || \
			CHIP_STM32L4A6RG || CHIP_STM32L4A6VG || CHIP_STM32L4A6ZG
	select CHIP_STM32_SPIV2_HAS_SPI3
	help
		STM32L4 chip family
