#
# file: Kconfig-chipChoices
#
# author: Copyright (C) 2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

choice
	prompt "STM32L4 chip"
	depends on CHIP_STM32L4
	help
		Select STM32L4 chip

config CHIP_STM32L431CB_SELECTED
	bool "STM32L431CB"
	select CHIP_STM32L431CB
	help
		STM32L431CB chip

config CHIP_STM32L431CC_SELECTED
	bool "STM32L431CC"
	select CHIP_STM32L431CC
	help
		STM32L431CC chip

config CHIP_STM32L431KB_SELECTED
	bool "STM32L431KB"
	select CHIP_STM32L431KB
	help
		STM32L431KB chip

config CHIP_STM32L431KC_SELECTED
	bool "STM32L431KC"
	select CHIP_STM32L431KC
	help
		STM32L431KC chip

config CHIP_STM32L431RB_SELECTED
	bool "STM32L431RB"
	select CHIP_STM32L431RB
	help
		STM32L431RB chip

config CHIP_STM32L431RC_SELECTED
	bool "STM32L431RC"
	select CHIP_STM32L431RC
	help
		STM32L431RC chip

config CHIP_STM32L431VC_SELECTED
	bool "STM32L431VC"
	select CHIP_STM32L431VC
	help
		STM32L431VC chip

config CHIP_STM32L432KB_SELECTED
	bool "STM32L432KB"
	select CHIP_STM32L432KB
	help
		STM32L432KB chip

config CHIP_STM32L432KC_SELECTED
	bool "STM32L432KC"
	select CHIP_STM32L432KC
	help
		STM32L432KC chip

config CHIP_STM32L433CB_SELECTED
	bool "STM32L433CB"
	select CHIP_STM32L433CB
	help
		STM32L433CB chip

config CHIP_STM32L433CC_SELECTED
	bool "STM32L433CC"
	select CHIP_STM32L433CC
	help
		STM32L433CC chip

config CHIP_STM32L433RB_SELECTED
	bool "STM32L433RB"
	select CHIP_STM32L433RB
	help
		STM32L433RB chip

config CHIP_STM32L433RC_SELECTED
	bool "STM32L433RC"
	select CHIP_STM32L433RC
	help
		STM32L433RC chip

config CHIP_STM32L433VC_SELECTED
	bool "STM32L433VC"
	select CHIP_STM32L433VC
	help
		STM32L433VC chip

config CHIP_STM32L442KC_SELECTED
	bool "STM32L442KC"
	select CHIP_STM32L442KC
	help
		STM32L442KC chip

config CHIP_STM32L443CC_SELECTED
	bool "STM32L443CC"
	select CHIP_STM32L443CC
	help
		STM32L443CC chip

config CHIP_STM32L443RC_SELECTED
	bool "STM32L443RC"
	select CHIP_STM32L443RC
	help
		STM32L443RC chip

config CHIP_STM32L443VC_SELECTED
	bool "STM32L443VC"
	select CHIP_STM32L443VC
	help
		STM32L443VC chip

config CHIP_STM32L451CC_SELECTED
	bool "STM32L451CC"
	select CHIP_STM32L451CC
	help
		STM32L451CC chip

config CHIP_STM32L451CE_SELECTED
	bool "STM32L451CE"
	select CHIP_STM32L451CE
	help
		STM32L451CE chip

config CHIP_STM32L451RC_SELECTED
	bool "STM32L451RC"
	select CHIP_STM32L451RC
	help
		STM32L451RC chip

config CHIP_STM32L451RE_SELECTED
	bool "STM32L451RE"
	select CHIP_STM32L451RE
	help
		STM32L451RE chip

config CHIP_STM32L451VC_SELECTED
	bool "STM32L451VC"
	select CHIP_STM32L451VC
	help
		STM32L451VC chip

config CHIP_STM32L451VE_SELECTED
	bool "STM32L451VE"
	select CHIP_STM32L451VE
	help
		STM32L451VE chip

config CHIP_STM32L452CC_SELECTED
	bool "STM32L452CC"
	select CHIP_STM32L452CC
	help
		STM32L452CC chip

config CHIP_STM32L452CE_SELECTED
	bool "STM32L452CE"
	select CHIP_STM32L452CE
	help
		STM32L452CE chip

config CHIP_STM32L452RC_SELECTED
	bool "STM32L452RC"
	select CHIP_STM32L452RC
	help
		STM32L452RC chip

config CHIP_STM32L452RE_SELECTED
	bool "STM32L452RE"
	select CHIP_STM32L452RE
	help
		STM32L452RE chip

config CHIP_STM32L452VC_SELECTED
	bool "STM32L452VC"
	select CHIP_STM32L452VC
	help
		STM32L452VC chip

config CHIP_STM32L452VE_SELECTED
	bool "STM32L452VE"
	select CHIP_STM32L452VE
	help
		STM32L452VE chip

config CHIP_STM32L462CE_SELECTED
	bool "STM32L462CE"
	select CHIP_STM32L462CE
	help
		STM32L462CE chip

config CHIP_STM32L462RE_SELECTED
	bool "STM32L462RE"
	select CHIP_STM32L462RE
	help
		STM32L462RE chip

config CHIP_STM32L462VE_SELECTED
	bool "STM32L462VE"
	select CHIP_STM32L462VE
	help
		STM32L462VE chip

config CHIP_STM32L471QE_SELECTED
	bool "STM32L471QE"
	select CHIP_STM32L471QE
	help
		STM32L471QE chip

config CHIP_STM32L471QG_SELECTED
	bool "STM32L471QG"
	select CHIP_STM32L471QG
	help
		STM32L471QG chip

config CHIP_STM32L471RE_SELECTED
	bool "STM32L471RE"
	select CHIP_STM32L471RE
	help
		STM32L471RE chip

config CHIP_STM32L471RG_SELECTED
	bool "STM32L471RG"
	select CHIP_STM32L471RG
	help
		STM32L471RG chip

config CHIP_STM32L471VE_SELECTED
	bool "STM32L471VE"
	select CHIP_STM32L471VE
	help
		STM32L471VE chip

config CHIP_STM32L471VG_SELECTED
	bool "STM32L471VG"
	select CHIP_STM32L471VG
	help
		STM32L471VG chip

config CHIP_STM32L471ZE_SELECTED
	bool "STM32L471ZE"
	select CHIP_STM32L471ZE
	help
		STM32L471ZE chip

config CHIP_STM32L471ZG_SELECTED
	bool "STM32L471ZG"
	select CHIP_STM32L471ZG
	help
		STM32L471ZG chip

config CHIP_STM32L475RC_SELECTED
	bool "STM32L475RC"
	select CHIP_STM32L475RC
	help
		STM32L475RC chip

config CHIP_STM32L475RE_SELECTED
	bool "STM32L475RE"
	select CHIP_STM32L475RE
	help
		STM32L475RE chip

config CHIP_STM32L475RG_SELECTED
	bool "STM32L475RG"
	select CHIP_STM32L475RG
	help
		STM32L475RG chip

config CHIP_STM32L475VC_SELECTED
	bool "STM32L475VC"
	select CHIP_STM32L475VC
	help
		STM32L475VC chip

config CHIP_STM32L475VE_SELECTED
	bool "STM32L475VE"
	select CHIP_STM32L475VE
	help
		STM32L475VE chip

config CHIP_STM32L475VG_SELECTED
	bool "STM32L475VG"
	select CHIP_STM32L475VG
	help
		STM32L475VG chip

config CHIP_STM32L476JE_SELECTED
	bool "STM32L476JE"
	select CHIP_STM32L476JE
	help
		STM32L476JE chip

config CHIP_STM32L476JG_SELECTED
	bool "STM32L476JG"
	select CHIP_STM32L476JG
	help
		STM32L476JG chip

config CHIP_STM32L476ME_SELECTED
	bool "STM32L476ME"
	select CHIP_STM32L476ME
	help
		STM32L476ME chip

config CHIP_STM32L476MG_SELECTED
	bool "STM32L476MG"
	select CHIP_STM32L476MG
	help
		STM32L476MG chip

config CHIP_STM32L476QE_SELECTED
	bool "STM32L476QE"
	select CHIP_STM32L476QE
	help
		STM32L476QE chip

config CHIP_STM32L476QG_SELECTED
	bool "STM32L476QG"
	select CHIP_STM32L476QG
	help
		STM32L476QG chip

config CHIP_STM32L476RC_SELECTED
	bool "STM32L476RC"
	select CHIP_STM32L476RC
	help
		STM32L476RC chip

config CHIP_STM32L476RE_SELECTED
	bool "STM32L476RE"
	select CHIP_STM32L476RE
	help
		STM32L476RE chip

config CHIP_STM32L476RG_SELECTED
	bool "STM32L476RG"
	select CHIP_STM32L476RG
	help
		STM32L476RG chip

config CHIP_STM32L476VC_SELECTED
	bool "STM32L476VC"
	select CHIP_STM32L476VC
	help
		STM32L476VC chip

config CHIP_STM32L476VE_SELECTED
	bool "STM32L476VE"
	select CHIP_STM32L476VE
	help
		STM32L476VE chip

config CHIP_STM32L476VG_SELECTED
	bool "STM32L476VG"
	select CHIP_STM32L476VG
	help
		STM32L476VG chip

config CHIP_STM32L476ZE_SELECTED
	bool "STM32L476ZE"
	select CHIP_STM32L476ZE
	help
		STM32L476ZE chip

config CHIP_STM32L476ZG_SELECTED
	bool "STM32L476ZG"
	select CHIP_STM32L476ZG
	help
		STM32L476ZG chip

config CHIP_STM32L486JG_SELECTED
	bool "STM32L486JG"
	select CHIP_STM32L486JG
	help
		STM32L486JG chip

config CHIP_STM32L486QG_SELECTED
	bool "STM32L486QG"
	select CHIP_STM32L486QG
	help
		STM32L486QG chip

config CHIP_STM32L486RG_SELECTED
	bool "STM32L486RG"
	select CHIP_STM32L486RG
	help
		STM32L486RG chip

config CHIP_STM32L486VG_SELECTED
	bool "STM32L486VG"
	select CHIP_STM32L486VG
	help
		STM32L486VG chip

config CHIP_STM32L486ZG_SELECTED
	bool "STM32L486ZG"
	select CHIP_STM32L486ZG
	help
		STM32L486ZG chip

config CHIP_STM32L496AE_SELECTED
	bool "STM32L496AE"
	select CHIP_STM32L496AE
	help
		STM32L496AE chip

config CHIP_STM32L496AG_SELECTED
	bool "STM32L496AG"
	select CHIP_STM32L496AG
	help
		STM32L496AG chip

config CHIP_STM32L496QE_SELECTED
	bool "STM32L496QE"
	select CHIP_STM32L496QE
	help
		STM32L496QE chip

config CHIP_STM32L496QG_SELECTED
	bool "STM32L496QG"
	select CHIP_STM32L496QG
	help
		STM32L496QG chip

config CHIP_STM32L496RE_SELECTED
	bool "STM32L496RE"
	select CHIP_STM32L496RE
	help
		STM32L496RE chip

config CHIP_STM32L496RG_SELECTED
	bool "STM32L496RG"
	select CHIP_STM32L496RG
	help
		STM32L496RG chip

config CHIP_STM32L496VE_SELECTED
	bool "STM32L496VE"
	select CHIP_STM32L496VE
	help
		STM32L496VE chip

config CHIP_STM32L496VG_SELECTED
	bool "STM32L496VG"
	select CHIP_STM32L496VG
	help
		STM32L496VG chip

config CHIP_STM32L496ZE_SELECTED
	bool "STM32L496ZE"
	select CHIP_STM32L496ZE
	help
		STM32L496ZE chip

config CHIP_STM32L496ZG_SELECTED
	bool "STM32L496ZG"
	select CHIP_STM32L496ZG
	help
		STM32L496ZG chip

config CHIP_STM32L4A6AG_SELECTED
	bool "STM32L4A6AG"
	select CHIP_STM32L4A6AG
	help
		STM32L4A6AG chip

config CHIP_STM32L4A6QG_SELECTED
	bool "STM32L4A6QG"
	select CHIP_STM32L4A6QG
	help
		STM32L4A6QG chip

config CHIP_STM32L4A6RG_SELECTED
	bool "STM32L4A6RG"
	select CHIP_STM32L4A6RG
	help
		STM32L4A6RG chip

config CHIP_STM32L4A6VG_SELECTED
	bool "STM32L4A6VG"
	select CHIP_STM32L4A6VG
	help
		STM32L4A6VG chip

config CHIP_STM32L4A6ZG_SELECTED
	bool "STM32L4A6ZG"
	select CHIP_STM32L4A6ZG
	help
		STM32L4A6ZG chip

endchoice
