#
# file: Kconfig
#
# author: Copyright (C) 2015-2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

menu "Board, chip & architecture configuration"

choice
	prompt "Chip family"
	help
		Select chip family

source "$OUTPUT/Kconfig-chipFamilyChoices1"

endchoice

source "$OUTPUT/Kconfig-chipFamilyChoices2"

choice
	prompt "Board"
	help
		Select board

config BOARD_CUSTOM
	bool "Custom board"
	help
		Custom board

source "$OUTPUT/Kconfig-boardChoices"

endchoice

if BOARD_CUSTOM

source "$OUTPUT/Kconfig-chipChoices"

endif	# BOARD_CUSTOM

source "$OUTPUT/Kconfig-board"

source "$OUTPUT/Kconfig-chipOptions"

menu "Peripherals configuration"

source "$OUTPUT/Kconfig-peripheralsOptions"

endmenu

comment "Generic chip options"

source "$DISTORTOS_PATH/source/architecture/Kconfig"

config CHIP_ROM_SIZE
	int
	default 0

config CHIP_ROM_ADDRESS
	hex
	default 0
	depends on CHIP_ROM_SIZE != 0

endmenu
