#
# file: Kconfig-chipOptions
#
# author: Copyright (C) 2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

#
# This file covers devices as described in following places:
# - DS9773 datasheet (STM32F030x4, STM32F030x6, STM32F030x8, STM32F030xC), Revision 2, 2015-01-15, devices listed on
# website on 2016-03-20;
# - DS10111 datasheet (STM32F031x4, STM32F031x6), Revision 4, 2015-12-16, devices listed on website on 2016-03-20;
# - DS10249 datasheet (STM32F038x6), Revision 3, 2015-12-16, devices listed on website on 2016-03-20;
# - DS10147 datasheet (STM32F042x4, STM32F042x6), Revision 4, 2015-12-16, devices listed on website on 2016-03-20;
# - DS10213 datasheet (STM32F048C6, STM32F048G6, STM32F048T6), Revision 5, 2015-12-05, devices listed on website on
# 2016-03-20;
# - DS8668 datasheet (STM32F051x4, STM32F051x6, STM32F051x8), Revision 6, 2015-12-16, devices listed on website on
# 2016-03-20;
# - DS9145 datasheet (STM32F058C8, STM32F058R8, STM32F058T8), Revision 3, 2015-12-16, devices listed on website on
# 2016-03-20;
# - DS10697 datasheet (STM32F070xB, STM32F070x6), Revision 2, 2015-01-15, devices listed on website on 2016-03-20;
# - DS10009 datasheet (STM32F071CB, STM32F071RB, STM32F071VB, STM32F071V8), Revision 3, 2015-12-17, devices listed on
# website on 2016-03-20;
# - DS9826 datasheet (STM32F072x8, STM32F072xB), Revision 4, 2015-12-17, devices listed on website on 2016-03-20;
# - DS10212 datasheet (STM32F078CB, STM32F078RB, STM32F078VB), Revision 3, 2015-12-17, devices listed on website on
# 2016-03-20;
# - DS10312 datasheet (STM32F091xB, STM32F091xC), Revision 3, 2015-12-17, devices listed on website on 2016-03-20;
# - DS10624 datasheet (STM32F098CC, STM32F098RC, STM32F098VC), Revision 3, 2015-12-17, devices listed on website on
# 2016-03-20;
#

if CHIP_STM32F0

comment "STM32F0 chip options"

config CHIP_STM32F0_RCC_AHB_FREQUENCY
	int "Frequency of AHB clock, Hz"
	range 1 48000000
	default 8000000
	help
		Frequency of AHB clock, Hz. RCC must be configured by user to achieve
		that frequency.

config CHIP_STM32F03
	bool
	default n

config CHIP_STM32F030
	bool
	default n
	select CHIP_STM32F03

config CHIP_STM32F030C
	bool
	default n
	select CHIP_STM32F030

config CHIP_STM32F030C6
	bool
	default n
	select CHIP_STM32F030C

config CHIP_STM32F030C8
	bool
	default n
	select CHIP_STM32F030C

config CHIP_STM32F030CC
	bool
	default n
	select CHIP_STM32F030C

config CHIP_STM32F030F
	bool
	default n
	select CHIP_STM32F030

config CHIP_STM32F030F4
	bool
	default n
	select CHIP_STM32F030F

config CHIP_STM32F030K
	bool
	default n
	select CHIP_STM32F030

config CHIP_STM32F030K6
	bool
	default n
	select CHIP_STM32F030K

config CHIP_STM32F030R
	bool
	default n
	select CHIP_STM32F030

config CHIP_STM32F030R8
	bool
	default n
	select CHIP_STM32F030R

config CHIP_STM32F030RC
	bool
	default n
	select CHIP_STM32F030R

config CHIP_STM32F031
	bool
	default n
	select CHIP_STM32F03

config CHIP_STM32F031C
	bool
	default n
	select CHIP_STM32F031

config CHIP_STM32F031C4
	bool
	default n
	select CHIP_STM32F031C

config CHIP_STM32F031C6
	bool
	default n
	select CHIP_STM32F031C

config CHIP_STM32F031E
	bool
	default n
	select CHIP_STM32F031

config CHIP_STM32F031E6
	bool
	default n
	select CHIP_STM32F031E

config CHIP_STM32F031F
	bool
	default n
	select CHIP_STM32F031

config CHIP_STM32F031F4
	bool
	default n
	select CHIP_STM32F031F

config CHIP_STM32F031F6
	bool
	default n
	select CHIP_STM32F031F

config CHIP_STM32F031G
	bool
	default n
	select CHIP_STM32F031

config CHIP_STM32F031G4
	bool
	default n
	select CHIP_STM32F031G

config CHIP_STM32F031G6
	bool
	default n
	select CHIP_STM32F031G

config CHIP_STM32F031K
	bool
	default n
	select CHIP_STM32F031

config CHIP_STM32F031K4
	bool
	default n
	select CHIP_STM32F031K

config CHIP_STM32F031K6
	bool
	default n
	select CHIP_STM32F031K

config CHIP_STM32F038
	bool
	default n
	select CHIP_STM32F03

config CHIP_STM32F038C
	bool
	default n
	select CHIP_STM32F038

config CHIP_STM32F038C6
	bool
	default n
	select CHIP_STM32F038C

config CHIP_STM32F038E
	bool
	default n
	select CHIP_STM32F038

config CHIP_STM32F038E6
	bool
	default n
	select CHIP_STM32F038E

config CHIP_STM32F038F
	bool
	default n
	select CHIP_STM32F038

config CHIP_STM32F038F6
	bool
	default n
	select CHIP_STM32F038F

config CHIP_STM32F038G
	bool
	default n
	select CHIP_STM32F038

config CHIP_STM32F038G6
	bool
	default n
	select CHIP_STM32F038G

config CHIP_STM32F038K
	bool
	default n
	select CHIP_STM32F038

config CHIP_STM32F038K6
	bool
	default n
	select CHIP_STM32F038K

config CHIP_STM32F04
	bool
	default n

config CHIP_STM32F042
	bool
	default n
	select CHIP_STM32F04

config CHIP_STM32F042C
	bool
	default n
	select CHIP_STM32F042

config CHIP_STM32F042C4
	bool
	default n
	select CHIP_STM32F042C

config CHIP_STM32F042C6
	bool
	default n
	select CHIP_STM32F042C

config CHIP_STM32F042F
	bool
	default n
	select CHIP_STM32F042

config CHIP_STM32F042F4
	bool
	default n
	select CHIP_STM32F042F

config CHIP_STM32F042F6
	bool
	default n
	select CHIP_STM32F042F

config CHIP_STM32F042G
	bool
	default n
	select CHIP_STM32F042

config CHIP_STM32F042G4
	bool
	default n
	select CHIP_STM32F042G

config CHIP_STM32F042G6
	bool
	default n
	select CHIP_STM32F042G

config CHIP_STM32F042K
	bool
	default n
	select CHIP_STM32F042

config CHIP_STM32F042K4
	bool
	default n
	select CHIP_STM32F042K

config CHIP_STM32F042K6
	bool
	default n
	select CHIP_STM32F042K

config CHIP_STM32F042T
	bool
	default n
	select CHIP_STM32F042

config CHIP_STM32F042T6
	bool
	default n
	select CHIP_STM32F042T

config CHIP_STM32F048
	bool
	default n
	select CHIP_STM32F04

config CHIP_STM32F048C
	bool
	default n
	select CHIP_STM32F048

config CHIP_STM32F048C6
	bool
	default n
	select CHIP_STM32F048C

config CHIP_STM32F048G
	bool
	default n
	select CHIP_STM32F048

config CHIP_STM32F048G6
	bool
	default n
	select CHIP_STM32F048G

config CHIP_STM32F048T
	bool
	default n
	select CHIP_STM32F048

config CHIP_STM32F048T6
	bool
	default n
	select CHIP_STM32F048T

config CHIP_STM32F05
	bool
	default n

config CHIP_STM32F051
	bool
	default n
	select CHIP_STM32F05

config CHIP_STM32F051C
	bool
	default n
	select CHIP_STM32F051

config CHIP_STM32F051C4
	bool
	default n
	select CHIP_STM32F051C

config CHIP_STM32F051C6
	bool
	default n
	select CHIP_STM32F051C

config CHIP_STM32F051C8
	bool
	default n
	select CHIP_STM32F051C

config CHIP_STM32F051K
	bool
	default n
	select CHIP_STM32F051

config CHIP_STM32F051K4
	bool
	default n
	select CHIP_STM32F051K

config CHIP_STM32F051K6
	bool
	default n
	select CHIP_STM32F051K

config CHIP_STM32F051K8
	bool
	default n
	select CHIP_STM32F051K

config CHIP_STM32F051R
	bool
	default n
	select CHIP_STM32F051

config CHIP_STM32F051R4
	bool
	default n
	select CHIP_STM32F051R

config CHIP_STM32F051R6
	bool
	default n
	select CHIP_STM32F051R

config CHIP_STM32F051R8
	bool
	default n
	select CHIP_STM32F051R

config CHIP_STM32F051T
	bool
	default n
	select CHIP_STM32F051

config CHIP_STM32F051T8
	bool
	default n
	select CHIP_STM32F051T

config CHIP_STM32F058
	bool
	default n
	select CHIP_STM32F05

config CHIP_STM32F058C
	bool
	default n
	select CHIP_STM32F058

config CHIP_STM32F058C8
	bool
	default n
	select CHIP_STM32F058C

config CHIP_STM32F058R
	bool
	default n
	select CHIP_STM32F058

config CHIP_STM32F058R8
	bool
	default n
	select CHIP_STM32F058R

config CHIP_STM32F058T
	bool
	default n
	select CHIP_STM32F058

config CHIP_STM32F058T8
	bool
	default n
	select CHIP_STM32F058T

config CHIP_STM32F07
	bool
	default n

config CHIP_STM32F070
	bool
	default n
	select CHIP_STM32F07

config CHIP_STM32F070C
	bool
	default n
	select CHIP_STM32F070

config CHIP_STM32F070C6
	bool
	default n
	select CHIP_STM32F070C

config CHIP_STM32F070CB
	bool
	default n
	select CHIP_STM32F070C

config CHIP_STM32F070F
	bool
	default n
	select CHIP_STM32F070

config CHIP_STM32F070F6
	bool
	default n
	select CHIP_STM32F070F

config CHIP_STM32F070R
	bool
	default n
	select CHIP_STM32F070

config CHIP_STM32F070RB
	bool
	default n
	select CHIP_STM32F070R

config CHIP_STM32F071
	bool
	default n
	select CHIP_STM32F07

config CHIP_STM32F071C
	bool
	default n
	select CHIP_STM32F071

config CHIP_STM32F071CB
	bool
	default n
	select CHIP_STM32F071C

config CHIP_STM32F071R
	bool
	default n
	select CHIP_STM32F071

config CHIP_STM32F071RB
	bool
	default n
	select CHIP_STM32F071R

config CHIP_STM32F071V
	bool
	default n
	select CHIP_STM32F071

config CHIP_STM32F071V8
	bool
	default n
	select CHIP_STM32F071V

config CHIP_STM32F071VB
	bool
	default n
	select CHIP_STM32F071V

config CHIP_STM32F072
	bool
	default n
	select CHIP_STM32F07

config CHIP_STM32F072C
	bool
	default n
	select CHIP_STM32F072

config CHIP_STM32F072C8
	bool
	default n
	select CHIP_STM32F072C

config CHIP_STM32F072CB
	bool
	default n
	select CHIP_STM32F072C

config CHIP_STM32F072R
	bool
	default n
	select CHIP_STM32F072

config CHIP_STM32F072R8
	bool
	default n
	select CHIP_STM32F072R

config CHIP_STM32F072RB
	bool
	default n
	select CHIP_STM32F072R

config CHIP_STM32F072V
	bool
	default n
	select CHIP_STM32F072

config CHIP_STM32F072V8
	bool
	default n
	select CHIP_STM32F072V

config CHIP_STM32F072VB
	bool
	default n
	select CHIP_STM32F072V

config CHIP_STM32F078
	bool
	default n
	select CHIP_STM32F07

config CHIP_STM32F078C
	bool
	default n
	select CHIP_STM32F078

config CHIP_STM32F078CB
	bool
	default n
	select CHIP_STM32F078C

config CHIP_STM32F078R
	bool
	default n
	select CHIP_STM32F078

config CHIP_STM32F078RB
	bool
	default n
	select CHIP_STM32F078R

config CHIP_STM32F078V
	bool
	default n
	select CHIP_STM32F078

config CHIP_STM32F078VB
	bool
	default n
	select CHIP_STM32F078V

config CHIP_STM32F09
	bool
	default n

config CHIP_STM32F091
	bool
	default n
	select CHIP_STM32F09

config CHIP_STM32F091C
	bool
	default n
	select CHIP_STM32F091

config CHIP_STM32F091CB
	bool
	default n
	select CHIP_STM32F091C

config CHIP_STM32F091CC
	bool
	default n
	select CHIP_STM32F091C

config CHIP_STM32F091R
	bool
	default n
	select CHIP_STM32F091

config CHIP_STM32F091RB
	bool
	default n
	select CHIP_STM32F091R

config CHIP_STM32F091RC
	bool
	default n
	select CHIP_STM32F091R

config CHIP_STM32F091V
	bool
	default n
	select CHIP_STM32F091

config CHIP_STM32F091VB
	bool
	default n
	select CHIP_STM32F091V

config CHIP_STM32F091VC
	bool
	default n
	select CHIP_STM32F091V

config CHIP_STM32F098
	bool
	default n
	select CHIP_STM32F09

config CHIP_STM32F098C
	bool
	default n
	select CHIP_STM32F098

config CHIP_STM32F098CC
	bool
	default n
	select CHIP_STM32F098C

config CHIP_STM32F098R
	bool
	default n
	select CHIP_STM32F098

config CHIP_STM32F098RC
	bool
	default n
	select CHIP_STM32F098R

config CHIP_STM32F098V
	bool
	default n
	select CHIP_STM32F098

config CHIP_STM32F098VC
	bool
	default n
	select CHIP_STM32F098V

config CHIP
	string
	default "STM32F030C6" if CHIP_STM32F030C6
	default "STM32F030C8" if CHIP_STM32F030C8
	default "STM32F030CC" if CHIP_STM32F030CC
	default "STM32F030F4" if CHIP_STM32F030F4
	default "STM32F030K6" if CHIP_STM32F030K6
	default "STM32F030R8" if CHIP_STM32F030R8
	default "STM32F030RC" if CHIP_STM32F030RC
	default "STM32F031C4" if CHIP_STM32F031C4
	default "STM32F031C6" if CHIP_STM32F031C6
	default "STM32F031E6" if CHIP_STM32F031E6
	default "STM32F031F4" if CHIP_STM32F031F4
	default "STM32F031F6" if CHIP_STM32F031F6
	default "STM32F031G4" if CHIP_STM32F031G4
	default "STM32F031G6" if CHIP_STM32F031G6
	default "STM32F031K4" if CHIP_STM32F031K4
	default "STM32F031K6" if CHIP_STM32F031K6
	default "STM32F038C6" if CHIP_STM32F038C6
	default "STM32F038E6" if CHIP_STM32F038E6
	default "STM32F038F6" if CHIP_STM32F038F6
	default "STM32F038G6" if CHIP_STM32F038G6
	default "STM32F038K6" if CHIP_STM32F038K6
	default "STM32F042C4" if CHIP_STM32F042C4
	default "STM32F042C6" if CHIP_STM32F042C6
	default "STM32F042F4" if CHIP_STM32F042F4
	default "STM32F042F6" if CHIP_STM32F042F6
	default "STM32F042G4" if CHIP_STM32F042G4
	default "STM32F042G6" if CHIP_STM32F042G6
	default "STM32F042K4" if CHIP_STM32F042K4
	default "STM32F042K6" if CHIP_STM32F042K6
	default "STM32F042T6" if CHIP_STM32F042T6
	default "STM32F048C6" if CHIP_STM32F048C6
	default "STM32F048G6" if CHIP_STM32F048G6
	default "STM32F048T6" if CHIP_STM32F048T6
	default "STM32F051C4" if CHIP_STM32F051C4
	default "STM32F051C6" if CHIP_STM32F051C6
	default "STM32F051C8" if CHIP_STM32F051C8
	default "STM32F051K4" if CHIP_STM32F051K4
	default "STM32F051K6" if CHIP_STM32F051K6
	default "STM32F051K8" if CHIP_STM32F051K8
	default "STM32F051R4" if CHIP_STM32F051R4
	default "STM32F051R6" if CHIP_STM32F051R6
	default "STM32F051R8" if CHIP_STM32F051R8
	default "STM32F051T8" if CHIP_STM32F051T8
	default "STM32F058C8" if CHIP_STM32F058C8
	default "STM32F058R8" if CHIP_STM32F058R8
	default "STM32F058T8" if CHIP_STM32F058T8
	default "STM32F070C6" if CHIP_STM32F070C6
	default "STM32F070CB" if CHIP_STM32F070CB
	default "STM32F070F6" if CHIP_STM32F070F6
	default "STM32F070RB" if CHIP_STM32F070RB
	default "STM32F071CB" if CHIP_STM32F071CB
	default "STM32F071RB" if CHIP_STM32F071RB
	default "STM32F071V8" if CHIP_STM32F071V8
	default "STM32F071VB" if CHIP_STM32F071VB
	default "STM32F072C8" if CHIP_STM32F072C8
	default "STM32F072CB" if CHIP_STM32F072CB
	default "STM32F072R8" if CHIP_STM32F072R8
	default "STM32F072RB" if CHIP_STM32F072RB
	default "STM32F072V8" if CHIP_STM32F072V8
	default "STM32F072VB" if CHIP_STM32F072VB
	default "STM32F078CB" if CHIP_STM32F078CB
	default "STM32F078RB" if CHIP_STM32F078RB
	default "STM32F078VB" if CHIP_STM32F078VB
	default "STM32F091CB" if CHIP_STM32F091CB
	default "STM32F091CC" if CHIP_STM32F091CC
	default "STM32F091RB" if CHIP_STM32F091RB
	default "STM32F091RC" if CHIP_STM32F091RC
	default "STM32F091VB" if CHIP_STM32F091VB
	default "STM32F091VC" if CHIP_STM32F091VC
	default "STM32F098CC" if CHIP_STM32F098CC
	default "STM32F098RC" if CHIP_STM32F098RC
	default "STM32F098VC" if CHIP_STM32F098VC

endif	# CHIP_STM32F0
