#
# file: Kconfig-stm32ChipFamilyChoices
#
# author: Copyright (C) 2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

config CHIP_STM32F0
	bool "STM32F0"
	select ARCHITECTURE_ARMV6_M
	select ARCHITECTURE_ARM_CORTEX_M0
	select CHIP_STM32_GPIOV2
	select CHIP_STM32_USARTV2
	select CHIP_STM32_USARTV2_USART3_USART6_COMBINED_INTERRUPT if CHIP_STM32F030 || CHIP_STM32F070
	select CHIP_STM32_USARTV2_USART3_USART8_COMBINED_INTERRUPT if !CHIP_STM32F030 && !CHIP_STM32F070
	select CHIP_STM32_USARTV2_HAS_USART1
	help
		STM32F0 chip family
