#
# file: Kconfig-chipOptions
#
# author: Copyright (C) 2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if CHIP_STM32F0

comment "STM32F0 chip options"

menu "Clocks configuration"

config CHIP_STM32F0_STANDARD_CLOCK_CONFIGURATION_ENABLE
	bool "Enable standard configuration of clocks"
	default y
	help
		Enable standard configuration of clocks. This will set values selected
		below and additionally configure appropriate FLASH latency before
		switching system clock to selected source.

		If disabled, no clock configuration will be done during chip
		initialization. The values entered below (frequencies, dividers, ...)
		will only be used to determine chip clocks. The user must configure the
		chip manually to match these settings.

if CHIP_STM32F0_STANDARD_CLOCK_CONFIGURATION_ENABLE

config CHIP_STM32F0_RCC_HSE_ENABLE
	bool "Enable HSE"
	default n
	help
		Enable HSE (crystal/ceramic resonator or external user clock).

if CHIP_STM32F0_RCC_HSE_ENABLE

config CHIP_STM32F0_RCC_HSE_CLOCK_BYPASS
	bool
	prompt "HSE Clock Bypass" if CHIP_STM32F0_RCC_HSE_CLOCK_BYPASS_CONFIGURABLE
	default CHIP_STM32F0_RCC_HSE_CLOCK_BYPASS_DEFAULT
	help
		Selects whether HSE generator is bypassed. If enabled, external user
		clock connected to OSC_IN must be used. Crystal or ceramic resonator
		connected to OSC_IN and OSC_OUT must be used otherwise.

comment "HSE Clock Bypass is disabled (not configurable)"
	depends on !CHIP_STM32F0_RCC_HSE_CLOCK_BYPASS_CONFIGURABLE && !CHIP_STM32F0_RCC_HSE_CLOCK_BYPASS_DEFAULT

comment "HSE Clock Bypass is enabled (not configurable)"
	depends on !CHIP_STM32F0_RCC_HSE_CLOCK_BYPASS_CONFIGURABLE && CHIP_STM32F0_RCC_HSE_CLOCK_BYPASS_DEFAULT

if CHIP_STM32F0_RCC_HSE_FREQUENCY_CONFIGURABLE

config CHIP_STM32F0_RCC_HSE_FREQUENCY
	int "Frequency of HSE clock, Hz"
	range 1000000 32000000 if CHIP_STM32F0_RCC_HSE_CLOCK_BYPASS
	range 4000000 32000000
	default CHIP_STM32F0_RCC_HSE_FREQUENCY_DEFAULT
	help
		Frequency of HSE clock, Hz. This can be:
		- "HSE Clock Bypass" disabled - crystal/ceramic resonator connected to
		OSC_IN and OSC_OUT, [4MHz; 32MHz];
		- "HSE Clock Bypass" enabled - external user clock connected to OSC_IN,
		[1MHz; 32MHz];

endif	# CHIP_STM32F0_RCC_HSE_FREQUENCY_CONFIGURABLE

if !CHIP_STM32F0_RCC_HSE_FREQUENCY_CONFIGURABLE

config CHIP_STM32F0_RCC_HSE_FREQUENCY
	int "Frequency of HSE clock, Hz (not configurable)"
	range CHIP_STM32F0_RCC_HSE_FREQUENCY_DEFAULT CHIP_STM32F0_RCC_HSE_FREQUENCY_DEFAULT
	default CHIP_STM32F0_RCC_HSE_FREQUENCY_DEFAULT
	help
		Frequency of HSE clock, Hz. This can be:
		- "HSE Clock Bypass" disabled - crystal/ceramic resonator connected to
		OSC_IN and OSC_OUT, [4MHz; 32MHz];
		- "HSE Clock Bypass" enabled - external user clock connected to OSC_IN,
		[1MHz; 32MHz];

		This value is not configurable, as it is set by board.

endif	# !CHIP_STM32F0_RCC_HSE_FREQUENCY_CONFIGURABLE

endif	# CHIP_STM32F0_RCC_HSE_ENABLE

config CHIP_STM32F0_RCC_HSI48_ENABLE
	bool "Enable HSI48"
	default n
	depends on CHIP_STM32F04 || CHIP_STM32F071 || CHIP_STM32F072 || CHIP_STM32F078 || CHIP_STM32F09
	help
		Enable HSI48.

config CHIP_STM32F0_RCC_PLL_ENABLE
	bool "Enable PLL"
	default y
	help
		Enable PLL.

if CHIP_STM32F0_RCC_PLL_ENABLE

choice
	prompt "Clock source of main PLL"
	default CHIP_STM32F0_RCC_PLLSRC_HSIDIV2
	help
		Select clock source of main PLL. PLL input frequency (PLLin) must be in
		[1MHz; 24MHz] range.

config CHIP_STM32F0_RCC_PLLSRC_HSIDIV2
	bool "HSI / 2"
	help
		Select HSI divided by 2 as clock source of main PLL.

config CHIP_STM32F0_RCC_PLLSRC_HSIPREDIV
	bool "HSI / PREDIV"
	depends on CHIP_STM32F04 || CHIP_STM32F071 || CHIP_STM32F072 || CHIP_STM32F078 || CHIP_STM32F09
	help
		Select HSI divided by PREDIV as clock source of main PLL.

config CHIP_STM32F0_RCC_PLLSRC_HSEPREDIV
	bool "HSE / PREDIV"
	depends on CHIP_STM32F0_RCC_HSE_ENABLE
	help
		Select HDE divided by PREDIV as clock source of main PLL.

config CHIP_STM32F0_RCC_PLLSRC_HSI48PREDIV
	bool "HSI48 / PREDIV"
	depends on CHIP_STM32F0_RCC_HSI48_ENABLE
	help
		Select HSI48 divided by PREDIV as clock source of main PLL.

endchoice

if CHIP_STM32F0_RCC_PLLSRC_HSIPREDIV || CHIP_STM32F0_RCC_PLLSRC_HSEPREDIV || CHIP_STM32F0_RCC_PLLSRC_HSI48PREDIV

config CHIP_STM32F0_RCC_PREDIV
	int "PREDIV value"
	range 1 16
	default 2 if CHIP_STM32F0_RCC_PLLSRC_HSIPREDIV || CHIP_STM32F0_RCC_PLLSRC_HSEPREDIV
	default 12
	help
		PREDIV value for main PLL. It is used to divide PREDIV input frequency
		(PREDIVin) before it is fed to main PLL.

		PLLin = PREDIVin / PREDIV

endif	# CHIP_STM32F0_RCC_PLLSRC_HSIPREDIV || CHIP_STM32F0_RCC_PLLSRC_HSEPREDIV || CHIP_STM32F0_RCC_PLLSRC_HSI48PREDIV

config CHIP_STM32F0_RCC_PLLMUL
	int "PLLMUL value"
	range 2 16
	default 12
	help
		PLLMUL value for main PLL. It is used to multiply main PLL input
		frequency (PLLin). Resulting PLL output frequency (PLLout) must be in
		[16MHz; 48MHz] range.

		PLLout = PLLin * PLLMUL

endif	# CHIP_STM32F0_RCC_PLL_ENABLE

choice
	prompt "System clock source"
	default CHIP_STM32F0_RCC_SYSCLK_PLL if CHIP_STM32F0_RCC_PLL_ENABLE
	default CHIP_STM32F0_RCC_SYSCLK_HSI48 if CHIP_STM32F0_RCC_HSI48_ENABLE
	default CHIP_STM32F0_RCC_SYSCLK_HSE if CHIP_STM32F0_RCC_HSE_ENABLE
	default CHIP_STM32F0_RCC_SYSCLK_HSI
	help
		Select system clock source.

config CHIP_STM32F0_RCC_SYSCLK_HSI
	bool "HSI"
	help
		HSI oscillator selected as system clock.

config CHIP_STM32F0_RCC_SYSCLK_HSE
	bool "HSE"
	depends on CHIP_STM32F0_RCC_HSE_ENABLE
	help
		HSE oscillator selected as system clock.

config CHIP_STM32F0_RCC_SYSCLK_PLL
	bool "PLL"
	depends on CHIP_STM32F0_RCC_PLL_ENABLE
	help
		Main PLL selected as system clock.

config CHIP_STM32F0_RCC_SYSCLK_HSI48
	bool "HSI48"
	depends on CHIP_STM32F0_RCC_HSI48_ENABLE
	help
		HSI48 oscillator selected as system clock.

endchoice

endif	# CHIP_STM32F0_STANDARD_CLOCK_CONFIGURATION_ENABLE

if !CHIP_STM32F0_STANDARD_CLOCK_CONFIGURATION_ENABLE

config CHIP_STM32F0_RCC_SYSCLK_FREQUENCY
	int "Frequency of SYSCLK, Hz"
	range 1 48000000
	default 8000000
	help
		Frequency of SYSCLK, Hz. RCC must be configured by user to achieve that
		frequency.

endif	# !CHIP_STM32F0_STANDARD_CLOCK_CONFIGURATION_ENABLE

choice
	prompt "AHB divider"
	default CHIP_STM32F0_RCC_AHB_DIV1
	help
		AHB clock division factor

		AHBclk = SYSclk / AHBdivider

config CHIP_STM32F0_RCC_AHB_DIV1
	bool "1"
	help
		System clock not divided

config CHIP_STM32F0_RCC_AHB_DIV2
	bool "2"
	help
		System clock divided by 2

config CHIP_STM32F0_RCC_AHB_DIV4
	bool "4"
	help
		System clock divided by 4

config CHIP_STM32F0_RCC_AHB_DIV8
	bool "8"
	help
		System clock divided by 8

config CHIP_STM32F0_RCC_AHB_DIV16
	bool "16"
	help
		System clock divided by 16

config CHIP_STM32F0_RCC_AHB_DIV64
	bool "64"
	help
		System clock divided by 64

config CHIP_STM32F0_RCC_AHB_DIV128
	bool "128"
	help
		System clock divided by 128

config CHIP_STM32F0_RCC_AHB_DIV256
	bool "256"
	help
		System clock divided by 256

config CHIP_STM32F0_RCC_AHB_DIV512
	bool "512"
	help
		System clock divided by 512

endchoice

choice
	prompt "APB divider"
	default CHIP_STM32F0_RCC_APB_DIV1
	help
		APB clock division factor.

		APBclk = AHBclk / APBdivider

config CHIP_STM32F0_RCC_APB_DIV1
	bool "1"
	help
		AHB clock not divided

config CHIP_STM32F0_RCC_APB_DIV2
	bool "2"
	help
		AHB clock divided by 2

config CHIP_STM32F0_RCC_APB_DIV4
	bool "4"
	help
		AHB clock divided by 4

config CHIP_STM32F0_RCC_APB_DIV8
	bool "8"
	help
		AHB clock divided by 8

config CHIP_STM32F0_RCC_APB_DIV16
	bool "16"
	help
		AHB clock divided by 16

endchoice

endmenu

menu "Memory configuration"

config CHIP_STM32F0_FLASH_PREFETCH_ENABLE
	bool "Enable flash prefetch"
	default y
	help
		Enable flash prefetch option in FLASH->ACR register.

endmenu

config CHIP_STM32F03
	bool
	default n

config CHIP_STM32F030
	bool
	default n
	select CHIP_STM32F03

config CHIP_STM32F030C
	bool
	default n
	select CHIP_STM32F030
	select CHIP_HAS_LQFP48

config CHIP_STM32F030C6
	bool
	default n
	select CHIP_STM32F030C

config CHIP_STM32F030C8
	bool
	default n
	select CHIP_STM32F030C
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F030CC
	bool
	default n
	select CHIP_STM32F030C
	select CHIP_STM32_USARTV2_HAS_CR1_M1_BIT
	select CHIP_STM32_USARTV2_HAS_USART2
	select CHIP_STM32_USARTV2_HAS_USART3
	select CHIP_STM32_USARTV2_HAS_USART4
	select CHIP_STM32_USARTV2_HAS_USART5
	select CHIP_STM32_USARTV2_HAS_USART6

config CHIP_STM32F030F
	bool
	default n
	select CHIP_STM32F030
	select CHIP_HAS_TSSOP20

config CHIP_STM32F030F4
	bool
	default n
	select CHIP_STM32F030F

config CHIP_STM32F030K
	bool
	default n
	select CHIP_STM32F030
	select CHIP_HAS_LQFP32

config CHIP_STM32F030K6
	bool
	default n
	select CHIP_STM32F030K

config CHIP_STM32F030R
	bool
	default n
	select CHIP_STM32F030
	select CHIP_HAS_LQFP64
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F030R8
	bool
	default n
	select CHIP_STM32F030R

config CHIP_STM32F030RC
	bool
	default n
	select CHIP_STM32F030R
	select CHIP_STM32_USARTV2_HAS_CR1_M1_BIT
	select CHIP_STM32_USARTV2_HAS_USART3
	select CHIP_STM32_USARTV2_HAS_USART4
	select CHIP_STM32_USARTV2_HAS_USART5
	select CHIP_STM32_USARTV2_HAS_USART6

config CHIP_STM32F031
	bool
	default n
	select CHIP_STM32F03

config CHIP_STM32F031C
	bool
	default n
	select CHIP_STM32F031
	select CHIP_HAS_LQFP48

config CHIP_STM32F031C4
	bool
	default n
	select CHIP_STM32F031C

config CHIP_STM32F031C6
	bool
	default n
	select CHIP_STM32F031C

config CHIP_STM32F031E
	bool
	default n
	select CHIP_STM32F031
	select CHIP_HAS_WLCSP25

config CHIP_STM32F031E6
	bool
	default n
	select CHIP_STM32F031E

config CHIP_STM32F031F
	bool
	default n
	select CHIP_STM32F031
	select CHIP_HAS_TSSOP20

config CHIP_STM32F031F4
	bool
	default n
	select CHIP_STM32F031F

config CHIP_STM32F031F6
	bool
	default n
	select CHIP_STM32F031F

config CHIP_STM32F031G
	bool
	default n
	select CHIP_STM32F031
	select CHIP_HAS_UFQFPN28

config CHIP_STM32F031G4
	bool
	default n
	select CHIP_STM32F031G

config CHIP_STM32F031G6
	bool
	default n
	select CHIP_STM32F031G

config CHIP_STM32F031K
	bool
	default n
	select CHIP_STM32F031
	select CHIP_HAS_UFQFPN32

config CHIP_STM32F031K4
	bool
	default n
	select CHIP_STM32F031K

config CHIP_STM32F031K6
	bool
	default n
	select CHIP_STM32F031K
	select CHIP_HAS_LQFP32

config CHIP_STM32F038
	bool
	default n
	select CHIP_STM32F03

config CHIP_STM32F038C
	bool
	default n
	select CHIP_STM32F038
	select CHIP_HAS_LQFP48

config CHIP_STM32F038C6
	bool
	default n
	select CHIP_STM32F038C

config CHIP_STM32F038E
	bool
	default n
	select CHIP_STM32F038
	select CHIP_HAS_WLCSP25

config CHIP_STM32F038E6
	bool
	default n
	select CHIP_STM32F038E

config CHIP_STM32F038F
	bool
	default n
	select CHIP_STM32F038
	select CHIP_HAS_TSSOP20

config CHIP_STM32F038F6
	bool
	default n
	select CHIP_STM32F038F

config CHIP_STM32F038G
	bool
	default n
	select CHIP_STM32F038
	select CHIP_HAS_UFQFPN28

config CHIP_STM32F038G6
	bool
	default n
	select CHIP_STM32F038G

config CHIP_STM32F038K
	bool
	default n
	select CHIP_STM32F038
	select CHIP_HAS_UFQFPN32

config CHIP_STM32F038K6
	bool
	default n
	select CHIP_STM32F038K

config CHIP_STM32F04
	bool
	default n
	select CHIP_STM32_USARTV2_HAS_CR1_M1_BIT
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F042
	bool
	default n
	select CHIP_STM32F04

config CHIP_STM32F042C
	bool
	default n
	select CHIP_STM32F042
	select CHIP_HAS_LQFP48

config CHIP_STM32F042C4
	bool
	default n
	select CHIP_STM32F042C

config CHIP_STM32F042C6
	bool
	default n
	select CHIP_STM32F042C
	select CHIP_HAS_UFQFPN48

config CHIP_STM32F042F
	bool
	default n
	select CHIP_STM32F042
	select CHIP_HAS_TSSOP20

config CHIP_STM32F042F4
	bool
	default n
	select CHIP_STM32F042F

config CHIP_STM32F042F6
	bool
	default n
	select CHIP_STM32F042F

config CHIP_STM32F042G
	bool
	default n
	select CHIP_STM32F042
	select CHIP_HAS_UFQFPN28

config CHIP_STM32F042G4
	bool
	default n
	select CHIP_STM32F042G

config CHIP_STM32F042G6
	bool
	default n
	select CHIP_STM32F042G

config CHIP_STM32F042K
	bool
	default n
	select CHIP_STM32F042
	select CHIP_HAS_UFQFPN32

config CHIP_STM32F042K4
	bool
	default n
	select CHIP_STM32F042K

config CHIP_STM32F042K6
	bool
	default n
	select CHIP_STM32F042K
	select CHIP_HAS_LQFP32

config CHIP_STM32F042T
	bool
	default n
	select CHIP_STM32F042
	select CHIP_HAS_WLCSP36

config CHIP_STM32F042T6
	bool
	default n
	select CHIP_STM32F042T

config CHIP_STM32F048
	bool
	default n
	select CHIP_STM32F04

config CHIP_STM32F048C
	bool
	default n
	select CHIP_STM32F048
	select CHIP_HAS_UFQFPN48

config CHIP_STM32F048C6
	bool
	default n
	select CHIP_STM32F048C

config CHIP_STM32F048G
	bool
	default n
	select CHIP_STM32F048
	select CHIP_HAS_UFQFPN28

config CHIP_STM32F048G6
	bool
	default n
	select CHIP_STM32F048G

config CHIP_STM32F048T
	bool
	default n
	select CHIP_STM32F048
	select CHIP_HAS_WLCSP36

config CHIP_STM32F048T6
	bool
	default n
	select CHIP_STM32F048T

config CHIP_STM32F05
	bool
	default n

config CHIP_STM32F051
	bool
	default n
	select CHIP_STM32F05

config CHIP_STM32F051C
	bool
	default n
	select CHIP_STM32F051
	select CHIP_HAS_LQFP48
	select CHIP_HAS_UFQFPN48

config CHIP_STM32F051C4
	bool
	default n
	select CHIP_STM32F051C

config CHIP_STM32F051C6
	bool
	default n
	select CHIP_STM32F051C
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F051C8
	bool
	default n
	select CHIP_STM32F051C
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F051K
	bool
	default n
	select CHIP_STM32F051
	select CHIP_HAS_LQFP32
	select CHIP_HAS_UFQFPN32

config CHIP_STM32F051K4
	bool
	default n
	select CHIP_STM32F051K

config CHIP_STM32F051K6
	bool
	default n
	select CHIP_STM32F051K
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F051K8
	bool
	default n
	select CHIP_STM32F051K
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F051R
	bool
	default n
	select CHIP_STM32F051
	select CHIP_HAS_LQFP64

config CHIP_STM32F051R4
	bool
	default n
	select CHIP_STM32F051R

config CHIP_STM32F051R6
	bool
	default n
	select CHIP_STM32F051R
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F051R8
	bool
	default n
	select CHIP_STM32F051R
	select CHIP_HAS_UFBGA64
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F051T
	bool
	default n
	select CHIP_STM32F051
	select CHIP_HAS_WLCSP36

config CHIP_STM32F051T8
	bool
	default n
	select CHIP_STM32F051T
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F058
	bool
	default n
	select CHIP_STM32F05
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F058C
	bool
	default n
	select CHIP_STM32F058
	select CHIP_HAS_UFQFPN48

config CHIP_STM32F058C8
	bool
	default n
	select CHIP_STM32F058C

config CHIP_STM32F058R
	bool
	default n
	select CHIP_STM32F058
	select CHIP_HAS_LQFP64
	select CHIP_HAS_UFBGA64

config CHIP_STM32F058R8
	bool
	default n
	select CHIP_STM32F058R

config CHIP_STM32F058T
	bool
	default n
	select CHIP_STM32F058
	select CHIP_HAS_WLCSP36

config CHIP_STM32F058T8
	bool
	default n
	select CHIP_STM32F058T

config CHIP_STM32F07
	bool
	default n
	select CHIP_STM32_USARTV2_HAS_CR1_M1_BIT
	select CHIP_STM32_USARTV2_HAS_USART2

config CHIP_STM32F070
	bool
	default n
	select CHIP_STM32F07

config CHIP_STM32F070C
	bool
	default n
	select CHIP_STM32F070
	select CHIP_HAS_LQFP48

config CHIP_STM32F070C6
	bool
	default n
	select CHIP_STM32F070C

config CHIP_STM32F070CB
	bool
	default n
	select CHIP_STM32F070C
	select CHIP_STM32_USARTV2_HAS_USART3
	select CHIP_STM32_USARTV2_HAS_USART4

config CHIP_STM32F070F
	bool
	default n
	select CHIP_STM32F070
	select CHIP_HAS_TSSOP20

config CHIP_STM32F070F6
	bool
	default n
	select CHIP_STM32F070F

config CHIP_STM32F070R
	bool
	default n
	select CHIP_STM32F070
	select CHIP_HAS_LQFP64

config CHIP_STM32F070RB
	bool
	default n
	select CHIP_STM32F070R
	select CHIP_STM32_USARTV2_HAS_USART3
	select CHIP_STM32_USARTV2_HAS_USART4

config CHIP_STM32F071
	bool
	default n
	select CHIP_STM32F07
	select CHIP_STM32_USARTV2_HAS_USART3
	select CHIP_STM32_USARTV2_HAS_USART4

config CHIP_STM32F071C
	bool
	default n
	select CHIP_STM32F071
	select CHIP_HAS_LQFP48
	select CHIP_HAS_UFQFPN48
	select CHIP_HAS_WLCSP49

config CHIP_STM32F071CB
	bool
	default n
	select CHIP_STM32F071C

config CHIP_STM32F071R
	bool
	default n
	select CHIP_STM32F071
	select CHIP_HAS_LQFP64

config CHIP_STM32F071RB
	bool
	default n
	select CHIP_STM32F071R

config CHIP_STM32F071V
	bool
	default n
	select CHIP_STM32F071
	select CHIP_HAS_LQFP100
	select CHIP_HAS_UFBGA100

config CHIP_STM32F071V8
	bool
	default n
	select CHIP_STM32F071V

config CHIP_STM32F071VB
	bool
	default n
	select CHIP_STM32F071V

config CHIP_STM32F072
	bool
	default n
	select CHIP_STM32F07
	select CHIP_STM32_USARTV2_HAS_USART3
	select CHIP_STM32_USARTV2_HAS_USART4

config CHIP_STM32F072C
	bool
	default n
	select CHIP_STM32F072
	select CHIP_HAS_LQFP48
	select CHIP_HAS_UFQFPN48

config CHIP_STM32F072C8
	bool
	default n
	select CHIP_STM32F072C

config CHIP_STM32F072CB
	bool
	default n
	select CHIP_STM32F072C
	select CHIP_HAS_WLCSP49

config CHIP_STM32F072R
	bool
	default n
	select CHIP_STM32F072
	select CHIP_HAS_LQFP64

config CHIP_STM32F072R8
	bool
	default n
	select CHIP_STM32F072R

config CHIP_STM32F072RB
	bool
	default n
	select CHIP_STM32F072R
	select CHIP_HAS_UFBGA64

config CHIP_STM32F072V
	bool
	default n
	select CHIP_STM32F072
	select CHIP_HAS_LQFP100
	select CHIP_HAS_UFBGA100

config CHIP_STM32F072V8
	bool
	default n
	select CHIP_STM32F072V

config CHIP_STM32F072VB
	bool
	default n
	select CHIP_STM32F072V

config CHIP_STM32F078
	bool
	default n
	select CHIP_STM32F07
	select CHIP_STM32_USARTV2_HAS_USART3
	select CHIP_STM32_USARTV2_HAS_USART4

config CHIP_STM32F078C
	bool
	default n
	select CHIP_STM32F078
	select CHIP_HAS_LQFP48
	select CHIP_HAS_UFQFPN48
	select CHIP_HAS_WLCSP49

config CHIP_STM32F078CB
	bool
	default n
	select CHIP_STM32F078C

config CHIP_STM32F078R
	bool
	default n
	select CHIP_STM32F078
	select CHIP_HAS_LQFP64
	select CHIP_HAS_UFBGA64

config CHIP_STM32F078RB
	bool
	default n
	select CHIP_STM32F078R

config CHIP_STM32F078V
	bool
	default n
	select CHIP_STM32F078
	select CHIP_HAS_LQFP100
	select CHIP_HAS_UFBGA100

config CHIP_STM32F078VB
	bool
	default n
	select CHIP_STM32F078V

config CHIP_STM32F09
	bool
	default n
	select CHIP_STM32_USARTV2_HAS_CR1_M1_BIT
	select CHIP_STM32_USARTV2_HAS_USART2
	select CHIP_STM32_USARTV2_HAS_USART3
	select CHIP_STM32_USARTV2_HAS_USART4
	select CHIP_STM32_USARTV2_HAS_USART5
	select CHIP_STM32_USARTV2_HAS_USART6

config CHIP_STM32F091
	bool
	default n
	select CHIP_STM32F09

config CHIP_STM32F091C
	bool
	default n
	select CHIP_STM32F091
	select CHIP_HAS_LQFP48
	select CHIP_HAS_UFQFPN48

config CHIP_STM32F091CB
	bool
	default n
	select CHIP_STM32F091C

config CHIP_STM32F091CC
	bool
	default n
	select CHIP_STM32F091C

config CHIP_STM32F091R
	bool
	default n
	select CHIP_STM32F091
	select CHIP_HAS_LQFP64
	select CHIP_STM32_USARTV2_HAS_USART7
	select CHIP_STM32_USARTV2_HAS_USART8

config CHIP_STM32F091RB
	bool
	default n
	select CHIP_STM32F091R

config CHIP_STM32F091RC
	bool
	default n
	select CHIP_STM32F091R
	select CHIP_HAS_UFBGA64
	select CHIP_HAS_WLCSP64

config CHIP_STM32F091V
	bool
	default n
	select CHIP_STM32F091
	select CHIP_HAS_LQFP100
	select CHIP_STM32_USARTV2_HAS_USART7
	select CHIP_STM32_USARTV2_HAS_USART8

config CHIP_STM32F091VB
	bool
	default n
	select CHIP_STM32F091V

config CHIP_STM32F091VC
	bool
	default n
	select CHIP_STM32F091V
	select CHIP_HAS_UFBGA100

config CHIP_STM32F098
	bool
	default n
	select CHIP_STM32F09

config CHIP_STM32F098C
	bool
	default n
	select CHIP_STM32F098
	select CHIP_HAS_LQFP48
	select CHIP_HAS_UFQFPN48

config CHIP_STM32F098CC
	bool
	default n
	select CHIP_STM32F098C

config CHIP_STM32F098R
	bool
	default n
	select CHIP_STM32F098
	select CHIP_HAS_LQFP64
	select CHIP_HAS_UFBGA64
	select CHIP_HAS_WLCSP64
	select CHIP_STM32_USARTV2_HAS_USART7
	select CHIP_STM32_USARTV2_HAS_USART8

config CHIP_STM32F098RC
	bool
	default n
	select CHIP_STM32F098R

config CHIP_STM32F098V
	bool
	default n
	select CHIP_STM32F098
	select CHIP_HAS_LQFP100
	select CHIP_STM32_USARTV2_HAS_USART7
	select CHIP_STM32_USARTV2_HAS_USART8

config CHIP_STM32F098VC
	bool
	default n
	select CHIP_STM32F098V

config CHIP_ROM_SIZE
	int
	default 16384 if CHIP_STM32F030F4 || CHIP_STM32F031C4 || CHIP_STM32F031F4 || CHIP_STM32F031G4 || \
		CHIP_STM32F031K4 || CHIP_STM32F042C4 || CHIP_STM32F042F4 || CHIP_STM32F042G4 || CHIP_STM32F042K4 || \
		CHIP_STM32F051C4 || CHIP_STM32F051K4 || CHIP_STM32F051R4
	default 32768 if CHIP_STM32F030C6 || CHIP_STM32F030K6 || CHIP_STM32F031C6 || CHIP_STM32F031E6 || \
		CHIP_STM32F031F6 || CHIP_STM32F031G6 || CHIP_STM32F031K6 || CHIP_STM32F038C6 || CHIP_STM32F038E6 || \
		CHIP_STM32F038F6 || CHIP_STM32F038G6 || CHIP_STM32F038K6 || CHIP_STM32F042C6 || CHIP_STM32F042F6 || \
		CHIP_STM32F042G6 || CHIP_STM32F042K6 || CHIP_STM32F042T6 || CHIP_STM32F048C6 || CHIP_STM32F048G6 || \
		CHIP_STM32F048T6 || CHIP_STM32F051C6 || CHIP_STM32F051K6 || CHIP_STM32F051R6 || CHIP_STM32F070C6 || \
		CHIP_STM32F070F6
	default 65536 if CHIP_STM32F030C8 || CHIP_STM32F030R8 || CHIP_STM32F051C8 || CHIP_STM32F051K8 || \
		CHIP_STM32F051R8 || CHIP_STM32F051T8 || CHIP_STM32F058C8 || CHIP_STM32F058R8 || CHIP_STM32F058T8 || \
		CHIP_STM32F071V8 || CHIP_STM32F072C8 || CHIP_STM32F072R8 || CHIP_STM32F072V8
	default 131072 if CHIP_STM32F070CB || CHIP_STM32F070RB || CHIP_STM32F071CB || CHIP_STM32F071RB || \
		CHIP_STM32F071VB || CHIP_STM32F072CB || CHIP_STM32F072RB || CHIP_STM32F072VB || CHIP_STM32F078CB || \
		CHIP_STM32F078RB || CHIP_STM32F078VB || CHIP_STM32F091CB || CHIP_STM32F091RB || CHIP_STM32F091VB
	default 262144 if CHIP_STM32F030CC || CHIP_STM32F030RC || CHIP_STM32F091CC || CHIP_STM32F091RC || \
		CHIP_STM32F091VC || CHIP_STM32F098CC || CHIP_STM32F098RC || CHIP_STM32F098VC

config CHIP_ROM_ADDRESS
	hex
	default 0x08000000
	depends on CHIP_ROM_SIZE != 0

config CHIP_STM32F0_SRAM_SIZE
	int
	default 4096 if CHIP_STM32F030C6 || CHIP_STM32F030F4 || CHIP_STM32F030K6 || CHIP_STM32F031C4 || \
		CHIP_STM32F031C6 || CHIP_STM32F031E6 || CHIP_STM32F031F4 || CHIP_STM32F031F6 || CHIP_STM32F031G4 || \
		CHIP_STM32F031G6 || CHIP_STM32F031K4 || CHIP_STM32F031K6 || CHIP_STM32F038C6 || CHIP_STM32F038E6 || \
		CHIP_STM32F038F6 || CHIP_STM32F038G6 || CHIP_STM32F038K6
	default 6144 if CHIP_STM32F042C4 || CHIP_STM32F042C6 || CHIP_STM32F042F4 || CHIP_STM32F042F6 || \
		CHIP_STM32F042G4 || CHIP_STM32F042G6 || CHIP_STM32F042K4 || CHIP_STM32F042K6 || CHIP_STM32F042T6 || \
		CHIP_STM32F048C6 || CHIP_STM32F048G6 || CHIP_STM32F048T6 || CHIP_STM32F070C6 || CHIP_STM32F070F6
	default 8192 if CHIP_STM32F030C8 || CHIP_STM32F030R8 || CHIP_STM32F051C4 || CHIP_STM32F051C6 || \
		CHIP_STM32F051C8 || CHIP_STM32F051K4 || CHIP_STM32F051K6 || CHIP_STM32F051K8 || CHIP_STM32F051R4 || \
		CHIP_STM32F051R6 || CHIP_STM32F051R8 || CHIP_STM32F051T8 || CHIP_STM32F058C8 || CHIP_STM32F058R8 || \
		CHIP_STM32F058T8
	default 16384 if CHIP_STM32F070CB || CHIP_STM32F070RB || CHIP_STM32F071CB || CHIP_STM32F071RB || \
		CHIP_STM32F071V8 || CHIP_STM32F071VB || CHIP_STM32F072C8 || CHIP_STM32F072CB || CHIP_STM32F072R8 || \
		CHIP_STM32F072RB || CHIP_STM32F072V8 || CHIP_STM32F072VB || CHIP_STM32F078CB || CHIP_STM32F078RB || \
		CHIP_STM32F078VB
	default 32768 if CHIP_STM32F030CC || CHIP_STM32F030RC || CHIP_STM32F091CB || CHIP_STM32F091CC || \
		CHIP_STM32F091RB || CHIP_STM32F091RC || CHIP_STM32F091VB || CHIP_STM32F091VC || CHIP_STM32F098CC || \
		CHIP_STM32F098RC || CHIP_STM32F098VC
	default 0

config CHIP_STM32F0_SRAM_ADDRESS
	hex
	default 0x20000000
	depends on CHIP_STM32F0_SRAM_SIZE != 0

config CHIP_STM32F0_RCC_HSE_CLOCK_BYPASS_CONFIGURABLE
	bool
	default y

config CHIP_STM32F0_RCC_HSE_CLOCK_BYPASS_DEFAULT
	bool
	default n

config CHIP_STM32F0_RCC_HSE_FREQUENCY_CONFIGURABLE
	bool
	default y

config CHIP_STM32F0_RCC_HSE_FREQUENCY_DEFAULT
	int
	default 8000000

config CHIP_STM32F0_RCC_HPRE
	int
	default 1 if CHIP_STM32F0_RCC_AHB_DIV1
	default 2 if CHIP_STM32F0_RCC_AHB_DIV2
	default 4 if CHIP_STM32F0_RCC_AHB_DIV4
	default 8 if CHIP_STM32F0_RCC_AHB_DIV8
	default 16 if CHIP_STM32F0_RCC_AHB_DIV16
	default 64 if CHIP_STM32F0_RCC_AHB_DIV64
	default 128 if CHIP_STM32F0_RCC_AHB_DIV128
	default 256 if CHIP_STM32F0_RCC_AHB_DIV256
	default 512 if CHIP_STM32F0_RCC_AHB_DIV512

config CHIP_STM32F0_RCC_PPRE
	int
	default 1 if CHIP_STM32F0_RCC_APB_DIV1
	default 2 if CHIP_STM32F0_RCC_APB_DIV2
	default 4 if CHIP_STM32F0_RCC_APB_DIV4
	default 8 if CHIP_STM32F0_RCC_APB_DIV8
	default 16 if CHIP_STM32F0_RCC_APB_DIV16

config CHIP
	string
	default "STM32F030C6" if CHIP_STM32F030C6
	default "STM32F030C8" if CHIP_STM32F030C8
	default "STM32F030CC" if CHIP_STM32F030CC
	default "STM32F030F4" if CHIP_STM32F030F4
	default "STM32F030K6" if CHIP_STM32F030K6
	default "STM32F030R8" if CHIP_STM32F030R8
	default "STM32F030RC" if CHIP_STM32F030RC
	default "STM32F031C4" if CHIP_STM32F031C4
	default "STM32F031C6" if CHIP_STM32F031C6
	default "STM32F031E6" if CHIP_STM32F031E6
	default "STM32F031F4" if CHIP_STM32F031F4
	default "STM32F031F6" if CHIP_STM32F031F6
	default "STM32F031G4" if CHIP_STM32F031G4
	default "STM32F031G6" if CHIP_STM32F031G6
	default "STM32F031K4" if CHIP_STM32F031K4
	default "STM32F031K6" if CHIP_STM32F031K6
	default "STM32F038C6" if CHIP_STM32F038C6
	default "STM32F038E6" if CHIP_STM32F038E6
	default "STM32F038F6" if CHIP_STM32F038F6
	default "STM32F038G6" if CHIP_STM32F038G6
	default "STM32F038K6" if CHIP_STM32F038K6
	default "STM32F042C4" if CHIP_STM32F042C4
	default "STM32F042C6" if CHIP_STM32F042C6
	default "STM32F042F4" if CHIP_STM32F042F4
	default "STM32F042F6" if CHIP_STM32F042F6
	default "STM32F042G4" if CHIP_STM32F042G4
	default "STM32F042G6" if CHIP_STM32F042G6
	default "STM32F042K4" if CHIP_STM32F042K4
	default "STM32F042K6" if CHIP_STM32F042K6
	default "STM32F042T6" if CHIP_STM32F042T6
	default "STM32F048C6" if CHIP_STM32F048C6
	default "STM32F048G6" if CHIP_STM32F048G6
	default "STM32F048T6" if CHIP_STM32F048T6
	default "STM32F051C4" if CHIP_STM32F051C4
	default "STM32F051C6" if CHIP_STM32F051C6
	default "STM32F051C8" if CHIP_STM32F051C8
	default "STM32F051K4" if CHIP_STM32F051K4
	default "STM32F051K6" if CHIP_STM32F051K6
	default "STM32F051K8" if CHIP_STM32F051K8
	default "STM32F051R4" if CHIP_STM32F051R4
	default "STM32F051R6" if CHIP_STM32F051R6
	default "STM32F051R8" if CHIP_STM32F051R8
	default "STM32F051T8" if CHIP_STM32F051T8
	default "STM32F058C8" if CHIP_STM32F058C8
	default "STM32F058R8" if CHIP_STM32F058R8
	default "STM32F058T8" if CHIP_STM32F058T8
	default "STM32F070C6" if CHIP_STM32F070C6
	default "STM32F070CB" if CHIP_STM32F070CB
	default "STM32F070F6" if CHIP_STM32F070F6
	default "STM32F070RB" if CHIP_STM32F070RB
	default "STM32F071CB" if CHIP_STM32F071CB
	default "STM32F071RB" if CHIP_STM32F071RB
	default "STM32F071V8" if CHIP_STM32F071V8
	default "STM32F071VB" if CHIP_STM32F071VB
	default "STM32F072C8" if CHIP_STM32F072C8
	default "STM32F072CB" if CHIP_STM32F072CB
	default "STM32F072R8" if CHIP_STM32F072R8
	default "STM32F072RB" if CHIP_STM32F072RB
	default "STM32F072V8" if CHIP_STM32F072V8
	default "STM32F072VB" if CHIP_STM32F072VB
	default "STM32F078CB" if CHIP_STM32F078CB
	default "STM32F078RB" if CHIP_STM32F078RB
	default "STM32F078VB" if CHIP_STM32F078VB
	default "STM32F091CB" if CHIP_STM32F091CB
	default "STM32F091CC" if CHIP_STM32F091CC
	default "STM32F091RB" if CHIP_STM32F091RB
	default "STM32F091RC" if CHIP_STM32F091RC
	default "STM32F091VB" if CHIP_STM32F091VB
	default "STM32F091VC" if CHIP_STM32F091VC
	default "STM32F098CC" if CHIP_STM32F098CC
	default "STM32F098RC" if CHIP_STM32F098RC
	default "STM32F098VC" if CHIP_STM32F098VC

config CHIP_INCLUDES
	string
	default "source/chip/STM32/STM32F0/include source/chip/STM32/peripherals/GPIOv2/include external/CMSIS-STM32F0 external/CMSIS"

endif	# CHIP_STM32F0
