#
# file: Kconfig-chipChoices
#
# author: Copyright (C) 2016-2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

choice
	prompt "STM32F0 chip"
	depends on CHIP_STM32F0
	help
		Select STM32F0 chip

config CHIP_STM32F030C6_SELECTED
	bool "STM32F030C6"
	select CHIP_STM32F030C6
	help
		STM32F030C6 chip

config CHIP_STM32F030C8_SELECTED
	bool "STM32F030C8"
	select CHIP_STM32F030C8
	help
		STM32F030C8 chip

config CHIP_STM32F030CC_SELECTED
	bool "STM32F030CC"
	select CHIP_STM32F030CC
	help
		STM32F030CC chip

config CHIP_STM32F030F4_SELECTED
	bool "STM32F030F4"
	select CHIP_STM32F030F4
	help
		STM32F030F4 chip

config CHIP_STM32F030K6_SELECTED
	bool "STM32F030K6"
	select CHIP_STM32F030K6
	help
		STM32F030K6 chip

config CHIP_STM32F030R8_SELECTED
	bool "STM32F030R8"
	select CHIP_STM32F030R8
	help
		STM32F030R8 chip

config CHIP_STM32F030RC_SELECTED
	bool "STM32F030RC"
	select CHIP_STM32F030RC
	help
		STM32F030RC chip

config CHIP_STM32F031C4_SELECTED
	bool "STM32F031C4"
	select CHIP_STM32F031C4
	help
		STM32F031C4 chip

config CHIP_STM32F031C6_SELECTED
	bool "STM32F031C6"
	select CHIP_STM32F031C6
	help
		STM32F031C6 chip

config CHIP_STM32F031E6_SELECTED
	bool "STM32F031E6"
	select CHIP_STM32F031E6
	help
		STM32F031E6 chip

config CHIP_STM32F031F4_SELECTED
	bool "STM32F031F4"
	select CHIP_STM32F031F4
	help
		STM32F031F4 chip

config CHIP_STM32F031F6_SELECTED
	bool "STM32F031F6"
	select CHIP_STM32F031F6
	help
		STM32F031F6 chip

config CHIP_STM32F031G4_SELECTED
	bool "STM32F031G4"
	select CHIP_STM32F031G4
	help
		STM32F031G4 chip

config CHIP_STM32F031G6_SELECTED
	bool "STM32F031G6"
	select CHIP_STM32F031G6
	help
		STM32F031G6 chip

config CHIP_STM32F031K4_SELECTED
	bool "STM32F031K4"
	select CHIP_STM32F031K4
	help
		STM32F031K4 chip

config CHIP_STM32F031K6_SELECTED
	bool "STM32F031K6"
	select CHIP_STM32F031K6
	help
		STM32F031K6 chip

config CHIP_STM32F038C6_SELECTED
	bool "STM32F038C6"
	select CHIP_STM32F038C6
	help
		STM32F038C6 chip

config CHIP_STM32F038E6_SELECTED
	bool "STM32F038E6"
	select CHIP_STM32F038E6
	help
		STM32F038E6 chip

config CHIP_STM32F038F6_SELECTED
	bool "STM32F038F6"
	select CHIP_STM32F038F6
	help
		STM32F038F6 chip

config CHIP_STM32F038G6_SELECTED
	bool "STM32F038G6"
	select CHIP_STM32F038G6
	help
		STM32F038G6 chip

config CHIP_STM32F038K6_SELECTED
	bool "STM32F038K6"
	select CHIP_STM32F038K6
	help
		STM32F038K6 chip

config CHIP_STM32F042C4_SELECTED
	bool "STM32F042C4"
	select CHIP_STM32F042C4
	help
		STM32F042C4 chip

config CHIP_STM32F042C6_SELECTED
	bool "STM32F042C6"
	select CHIP_STM32F042C6
	help
		STM32F042C6 chip

config CHIP_STM32F042F4_SELECTED
	bool "STM32F042F4"
	select CHIP_STM32F042F4
	help
		STM32F042F4 chip

config CHIP_STM32F042F6_SELECTED
	bool "STM32F042F6"
	select CHIP_STM32F042F6
	help
		STM32F042F6 chip

config CHIP_STM32F042G4_SELECTED
	bool "STM32F042G4"
	select CHIP_STM32F042G4
	help
		STM32F042G4 chip

config CHIP_STM32F042G6_SELECTED
	bool "STM32F042G6"
	select CHIP_STM32F042G6
	help
		STM32F042G6 chip

config CHIP_STM32F042K4_SELECTED
	bool "STM32F042K4"
	select CHIP_STM32F042K4
	help
		STM32F042K4 chip

config CHIP_STM32F042K6_SELECTED
	bool "STM32F042K6"
	select CHIP_STM32F042K6
	help
		STM32F042K6 chip

config CHIP_STM32F042T6_SELECTED
	bool "STM32F042T6"
	select CHIP_STM32F042T6
	help
		STM32F042T6 chip

config CHIP_STM32F048C6_SELECTED
	bool "STM32F048C6"
	select CHIP_STM32F048C6
	help
		STM32F048C6 chip

config CHIP_STM32F048G6_SELECTED
	bool "STM32F048G6"
	select CHIP_STM32F048G6
	help
		STM32F048G6 chip

config CHIP_STM32F048T6_SELECTED
	bool "STM32F048T6"
	select CHIP_STM32F048T6
	help
		STM32F048T6 chip

config CHIP_STM32F051C4_SELECTED
	bool "STM32F051C4"
	select CHIP_STM32F051C4
	help
		STM32F051C4 chip

config CHIP_STM32F051C6_SELECTED
	bool "STM32F051C6"
	select CHIP_STM32F051C6
	help
		STM32F051C6 chip

config CHIP_STM32F051C8_SELECTED
	bool "STM32F051C8"
	select CHIP_STM32F051C8
	help
		STM32F051C8 chip

config CHIP_STM32F051K4_SELECTED
	bool "STM32F051K4"
	select CHIP_STM32F051K4
	help
		STM32F051K4 chip

config CHIP_STM32F051K6_SELECTED
	bool "STM32F051K6"
	select CHIP_STM32F051K6
	help
		STM32F051K6 chip

config CHIP_STM32F051K8_SELECTED
	bool "STM32F051K8"
	select CHIP_STM32F051K8
	help
		STM32F051K8 chip

config CHIP_STM32F051R4_SELECTED
	bool "STM32F051R4"
	select CHIP_STM32F051R4
	help
		STM32F051R4 chip

config CHIP_STM32F051R6_SELECTED
	bool "STM32F051R6"
	select CHIP_STM32F051R6
	help
		STM32F051R6 chip

config CHIP_STM32F051R8_SELECTED
	bool "STM32F051R8"
	select CHIP_STM32F051R8
	help
		STM32F051R8 chip

config CHIP_STM32F051T8_SELECTED
	bool "STM32F051T8"
	select CHIP_STM32F051T8
	help
		STM32F051T8 chip

config CHIP_STM32F058C8_SELECTED
	bool "STM32F058C8"
	select CHIP_STM32F058C8
	help
		STM32F058C8 chip

config CHIP_STM32F058R8_SELECTED
	bool "STM32F058R8"
	select CHIP_STM32F058R8
	help
		STM32F058R8 chip

config CHIP_STM32F058T8_SELECTED
	bool "STM32F058T8"
	select CHIP_STM32F058T8
	help
		STM32F058T8 chip

config CHIP_STM32F070C6_SELECTED
	bool "STM32F070C6"
	select CHIP_STM32F070C6
	help
		STM32F070C6 chip

config CHIP_STM32F070CB_SELECTED
	bool "STM32F070CB"
	select CHIP_STM32F070CB
	help
		STM32F070CB chip

config CHIP_STM32F070F6_SELECTED
	bool "STM32F070F6"
	select CHIP_STM32F070F6
	help
		STM32F070F6 chip

config CHIP_STM32F070RB_SELECTED
	bool "STM32F070RB"
	select CHIP_STM32F070RB
	help
		STM32F070RB chip

config CHIP_STM32F071C8_SELECTED
	bool "STM32F071C8"
	select CHIP_STM32F071C8
	help
		STM32F071C8 chip

config CHIP_STM32F071CB_SELECTED
	bool "STM32F071CB"
	select CHIP_STM32F071CB
	help
		STM32F071CB chip

config CHIP_STM32F071RB_SELECTED
	bool "STM32F071RB"
	select CHIP_STM32F071RB
	help
		STM32F071RB chip

config CHIP_STM32F071V8_SELECTED
	bool "STM32F071V8"
	select CHIP_STM32F071V8
	help
		STM32F071V8 chip

config CHIP_STM32F071VB_SELECTED
	bool "STM32F071VB"
	select CHIP_STM32F071VB
	help
		STM32F071VB chip

config CHIP_STM32F072C8_SELECTED
	bool "STM32F072C8"
	select CHIP_STM32F072C8
	help
		STM32F072C8 chip

config CHIP_STM32F072CB_SELECTED
	bool "STM32F072CB"
	select CHIP_STM32F072CB
	help
		STM32F072CB chip

config CHIP_STM32F072R8_SELECTED
	bool "STM32F072R8"
	select CHIP_STM32F072R8
	help
		STM32F072R8 chip

config CHIP_STM32F072RB_SELECTED
	bool "STM32F072RB"
	select CHIP_STM32F072RB
	help
		STM32F072RB chip

config CHIP_STM32F072V8_SELECTED
	bool "STM32F072V8"
	select CHIP_STM32F072V8
	help
		STM32F072V8 chip

config CHIP_STM32F072VB_SELECTED
	bool "STM32F072VB"
	select CHIP_STM32F072VB
	help
		STM32F072VB chip

config CHIP_STM32F078CB_SELECTED
	bool "STM32F078CB"
	select CHIP_STM32F078CB
	help
		STM32F078CB chip

config CHIP_STM32F078RB_SELECTED
	bool "STM32F078RB"
	select CHIP_STM32F078RB
	help
		STM32F078RB chip

config CHIP_STM32F078VB_SELECTED
	bool "STM32F078VB"
	select CHIP_STM32F078VB
	help
		STM32F078VB chip

config CHIP_STM32F091CB_SELECTED
	bool "STM32F091CB"
	select CHIP_STM32F091CB
	help
		STM32F091CB chip

config CHIP_STM32F091CC_SELECTED
	bool "STM32F091CC"
	select CHIP_STM32F091CC
	help
		STM32F091CC chip

config CHIP_STM32F091RB_SELECTED
	bool "STM32F091RB"
	select CHIP_STM32F091RB
	help
		STM32F091RB chip

config CHIP_STM32F091RC_SELECTED
	bool "STM32F091RC"
	select CHIP_STM32F091RC
	help
		STM32F091RC chip

config CHIP_STM32F091VB_SELECTED
	bool "STM32F091VB"
	select CHIP_STM32F091VB
	help
		STM32F091VB chip

config CHIP_STM32F091VC_SELECTED
	bool "STM32F091VC"
	select CHIP_STM32F091VC
	help
		STM32F091VC chip

config CHIP_STM32F098CC_SELECTED
	bool "STM32F098CC"
	select CHIP_STM32F098CC
	help
		STM32F098CC chip

config CHIP_STM32F098RC_SELECTED
	bool "STM32F098RC"
	select CHIP_STM32F098RC
	help
		STM32F098RC chip

config CHIP_STM32F098VC_SELECTED
	bool "STM32F098VC"
	select CHIP_STM32F098VC
	help
		STM32F098VC chip

endchoice
