{% extends "source/board/boardTemplates/Kconfig-boardOptions.jinja" %}
{% block options %}
{% set chipFamily = dictionary['/']['properties']['compatible'][1][3:10] %}
{% if 'vdd_regulator' in dictionary['labels'] %}
{% set vddRegulator = dictionary['labels']['vdd_regulator']['node']['properties'] %}

config CHIP_{{ chipFamily }}_VDD_MV_CONFIGURABLE
	bool
	default n

config CHIP_{{ chipFamily }}_VDD_MV_DEFAULT
	int
	default {{ vddRegulator['regulator-min-microvolt'][0][0] // 1000 }}
{% endif %}
{% if 'clocks' in dictionary['/']['nodes'] and 'clock-hse' in dictionary['/']['nodes']['clocks']['nodes'] %}
{% set clockHse = dictionary['/']['nodes']['clocks']['nodes']['clock-hse']['properties'] %}
{% if clockHse['clock-frequency'][0][0] != 0 or 'ST,STM32-HSE-bypass' in clockHse %}

config CHIP_{{ chipFamily }}_RCC_HSE_CLOCK_BYPASS_CONFIGURABLE
	bool
	default n

config CHIP_{{ chipFamily }}_RCC_HSE_CLOCK_BYPASS_DEFAULT
	bool
	default {% if 'ST,STM32-HSE-bypass' in clockHse %}y{% else %}n{% endif %}{{ '' }}
{% endif %}
{% if clockHse['clock-frequency'][0][0] != 0 %}

config CHIP_{{ chipFamily }}_RCC_HSE_FREQUENCY_CONFIGURABLE
	bool
	default n

config CHIP_{{ chipFamily }}_RCC_HSE_FREQUENCY_DEFAULT
	int
	default {{ clockHse['clock-frequency'][0][0] }}
{% endif %}
{% endif %}
{% endblock %}
