{% extends "source/board/boardTemplates/Kconfig-boardChoices.jinja" %}
{% block depends %}
	depends on CHIP_{{ dictionary['/']['properties']['compatible'][1][3:10] }}
{% endblock %}
{% block selects %}
	select CHIP_{{ dictionary['/']['properties']['compatible'][1][3:] }}
{% endblock %}
