{% if iterateNodes(dictionary, '/$', [('compatible$', 'ST,STM32[A-Z][0-9]{3}[A-Z][0-9A-Z]$')]) | first %}
'source/chip/STM32/boardTemplates/Kconfig-boardChoices.jinja', {}, 'Kconfig-boardChoices'
'source/chip/STM32/boardTemplates/Kconfig-boardOptions.jinja', {}, 'Kconfig-boardOptions'
{% endif %}
