{{- outputPinTemplate__v1 -}}
chip::ChipOutputPin{chip::Pin::{{item["pin"]}},
{{-end}} {% filter lower %}{{item["openDrain"]}}{% endfilter %},
{{-end}} chip::PinOutputSpeed::{{item["pinOutputSpeed"]}},
{{-end}} {% filter lower %}{{item["initialState"]}}{% endfilter %},
{{-end}} {% filter lower %}{{item["inverted"]}}{% endfilter %}},
