{{- outputPinTemplate__v1 -}}
chip::ChipOutputPin{chip::Pin::{{ item["pin"] }},
{{- end }} {{ item["openDrain"] | lower }},
{{- end }} chip::PinOutputSpeed::{{ item["pinOutputSpeed"] }},
{{- end }} {{ item["initialState"] | lower }},
{{- end }} {{ item["inverted"] | lower }}},
{#- remove whitespace -#}
