#
# file: Kconfig-armArchitectureOptions
#
# author: Copyright (C) 2015-2018 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if ARCHITECTURE_ARMV6_M || ARCHITECTURE_ARMV7_M

if ARCHITECTURE_ARMV6_M

comment "ARMv6-M architecture options"

config ARCHITECTURE_ARM_CORTEX_M0
	bool
	default n

if ARCHITECTURE_ARM_CORTEX_M0

config ARCHITECTURE_ARM_CORTEX_M0_R0P0
	bool
	default n

endif	# ARCHITECTURE_ARM_CORTEX_M0

config ARCHITECTURE_ARM_CORTEX_M0PLUS
	bool
	default n

if ARCHITECTURE_ARM_CORTEX_M0PLUS

config ARCHITECTURE_ARM_CORTEX_M0PLUS_R0P0
	bool
	default n

config ARCHITECTURE_ARM_CORTEX_M0PLUS_R0P1
	bool
	default n

endif	# ARCHITECTURE_ARM_CORTEX_M0PLUS

config ARCHITECTURE_ARM_CORTEX_M1
	bool
	default n

if ARCHITECTURE_ARM_CORTEX_M1

config ARCHITECTURE_ARM_CORTEX_M1_R0P1
	bool
	default n

config ARCHITECTURE_ARM_CORTEX_M1_R1P0
	bool
	default n

endif	# ARCHITECTURE_ARM_CORTEX_M1

config ARCHITECTURE_HAS_ITERATIVE_MULTIPLIER
	bool
	default n

config ARCHITECTURE_FLAGS
	string
	default "-mcpu=cortex-m0.small-multiply -march=armv6s-m -mthumb" if ARCHITECTURE_ARM_CORTEX_M0 && \
		ARCHITECTURE_HAS_ITERATIVE_MULTIPLIER
	default "-mcpu=cortex-m0 -march=armv6s-m -mthumb" if ARCHITECTURE_ARM_CORTEX_M0
	default "-mcpu=cortex-m0plus.small-multiply -march=armv6s-m -mthumb" if ARCHITECTURE_ARM_CORTEX_M0PLUS && \
		ARCHITECTURE_HAS_ITERATIVE_MULTIPLIER
	default "-mcpu=cortex-m0plus -march=armv6s-m -mthumb" if ARCHITECTURE_ARM_CORTEX_M0PLUS
	default "-mcpu=cortex-m1.small-multiply -march=armv6s-m -mthumb" if ARCHITECTURE_ARM_CORTEX_M1 && \
		ARCHITECTURE_HAS_ITERATIVE_MULTIPLIER
	default "-mcpu=cortex-m1 -march=armv6s-m -mthumb" if ARCHITECTURE_ARM_CORTEX_M1

endif	# ARCHITECTURE_ARMV6_M

if ARCHITECTURE_ARMV7_M

comment "ARMv7-M architecture options"

config ARCHITECTURE_ARMV7_M_KERNEL_BASEPRI
	int "Interrupt priority disabled in critical sections"
	range 0 15
	default 0
	help
		Minimal numerical priority (inclusive) of interrupt handlers that can
		use system's functions.

		During critical sections all interrupts with numerical priority above
		or equal to this value will be disabled. Interrupts with numerical
		priority below this value are never disabled, but they may not use any
		system's functions.

		Note - "lower" logical priority has "higher" numeric value! If this
		option is set to "x", then interrupts with priorities between "x" and
		255 (both inclusive) may use system's functions, while interrupts with
		priorities between 0 and "x - 1" (both inclusive) may not. If 0 is
		chosen, then all interrupts (except HardFault and NMI) are disabled
		during critical sections, so they may use system's functions.

config ARCHITECTURE_ARM_CORTEX_M3
	bool
	default n

if ARCHITECTURE_ARM_CORTEX_M3

config ARCHITECTURE_ARM_CORTEX_M3_R1P1
	bool
	default n

config ARCHITECTURE_ARM_CORTEX_M3_R2P0
	bool
	default n

config ARCHITECTURE_ARM_CORTEX_M3_R2P1
	bool
	default n

endif	# ARCHITECTURE_ARM_CORTEX_M3

config ARCHITECTURE_ARM_CORTEX_M4
	bool
	default n

if ARCHITECTURE_ARM_CORTEX_M4

config ARCHITECTURE_ARM_CORTEX_M4_R0P0
	bool
	default n

config ARCHITECTURE_ARM_CORTEX_M4_R0P1
	bool
	default n

endif	# ARCHITECTURE_ARM_CORTEX_M4

config ARCHITECTURE_ARM_CORTEX_M7
	bool
	default n

if ARCHITECTURE_ARM_CORTEX_M7

config ARCHITECTURE_ARM_CORTEX_M7_R0P1
	bool
	default n

config ARCHITECTURE_ARM_CORTEX_M7_R0P2
	bool
	default n

config ARCHITECTURE_ARM_CORTEX_M7_R1P0
	bool
	default n

config ARCHITECTURE_ARM_CORTEX_M7_R1P1
	bool
	default n

config ARCHITECTURE_HAS_FPV5_D16
	bool
	default n

endif	# ARCHITECTURE_ARM_CORTEX_M7

config ARCHITECTURE_FLAGS
	string
	default "-mcpu=cortex-m3 -mthumb" if ARCHITECTURE_ARM_CORTEX_M3
	default "-mcpu=cortex-m4 -mthumb -mfloat-abi=hard -mfpu=fpv4-sp-d16" if ARCHITECTURE_ARM_CORTEX_M4 && \
		ARCHITECTURE_FPU
	default "-mcpu=cortex-m4 -mthumb" if ARCHITECTURE_ARM_CORTEX_M4
	default "-mcpu=cortex-m7 -mthumb -mfloat-abi=hard -mfpu=fpv5-d16" if ARCHITECTURE_ARM_CORTEX_M7 && \
		ARCHITECTURE_FPU && ARCHITECTURE_HAS_FPV5_D16
	default "-mcpu=cortex-m7 -mthumb -mfloat-abi=hard -mfpu=fpv5-sp-d16" if ARCHITECTURE_ARM_CORTEX_M7 && \
		ARCHITECTURE_FPU
	default "-mcpu=cortex-m7 -mthumb" if ARCHITECTURE_ARM_CORTEX_M7

endif	# ARCHITECTURE_ARMV7_M

config ARCHITECTURE_ARMV6_M_ARMV7_M_MAIN_STACK_SIZE
	int "Interrupt stack size, bytes"
	range 8 4294967295
	default 1024
	help
		Size (in bytes) of "main" stack used by core exceptions and interrupts
		in Handler mode.

config ARCHITECTURE_INCLUDES
	string
	default "source/architecture/ARM/ARMv6-M-ARMv7-M/include source/architecture/ARM/ARMv6-M-ARMv7-M/external/CMSIS"

endif	# ARCHITECTURE_ARMV6_M || ARCHITECTURE_ARMV7_M
