#
# file: Kconfig-board
#
# author: Copyright (C) 2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

# don't remove next line!
### begin Kconfig-boardOptions
source "$DISTORTOS_PATH/source/board/STM32/STM32F1/NUCLEO-F103RB/Kconfig-boardOptions"
source "$DISTORTOS_PATH/source/board/STM32/STM32F4/32F429IDISCOVERY/Kconfig-boardOptions"
source "$DISTORTOS_PATH/source/board/STM32/STM32F4/NUCLEO-F401RE/Kconfig-boardOptions"
source "$DISTORTOS_PATH/source/board/STM32/STM32F4/NUCLEO-F429ZI/Kconfig-boardOptions"
source "$DISTORTOS_PATH/source/board/STM32/STM32F4/STM32F4DISCOVERY/Kconfig-boardOptions"
### end Kconfig-boardOptions
# don't remove previous line!

comment "Generic board options"

config BOARD_LEDS_ENABLE
	bool "Enable LEDs"
	depends on BOARD_TOTAL_LEDS != 0
	default y
	help
		Enables board LEDs.

config BOARD_TOTAL_LEDS
	int
	default 0

config BOARD
	string
	default "Custom" if BOARD_CUSTOM
