#
# file: Kconfig-peripheralsOptions
#
# author: Copyright (C) 2016-2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if CHIP_STM32_GPIOV2

config CHIP_STM32_GPIOV2_GPIOA_ENABLE
	bool "GPIOA"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOA
	help
		Enable GPIOA

config CHIP_STM32_GPIOV2_GPIOB_ENABLE
	bool "GPIOB"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOB
	help
		Enable GPIOB

config CHIP_STM32_GPIOV2_GPIOC_ENABLE
	bool "GPIOC"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOC
	help
		Enable GPIOC

config CHIP_STM32_GPIOV2_GPIOD_ENABLE
	bool "GPIOD"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOD
	help
		Enable GPIOD

config CHIP_STM32_GPIOV2_GPIOE_ENABLE
	bool "GPIOE"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOE
	help
		Enable GPIOE

config CHIP_STM32_GPIOV2_GPIOF_ENABLE
	bool "GPIOF"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOF
	help
		Enable GPIOF

config CHIP_STM32_GPIOV2_GPIOG_ENABLE
	bool "GPIOG"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOG
	help
		Enable GPIOG

config CHIP_STM32_GPIOV2_GPIOH_ENABLE
	bool "GPIOH"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOH
	help
		Enable GPIOH

config CHIP_STM32_GPIOV2_GPIOI_ENABLE
	bool "GPIOI"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOI
	help
		Enable GPIOI

config CHIP_STM32_GPIOV2_GPIOJ_ENABLE
	bool "GPIOJ"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOJ
	help
		Enable GPIOJ

config CHIP_STM32_GPIOV2_GPIOK_ENABLE
	bool "GPIOK"
	default n
	depends on CHIP_STM32_GPIOV2_HAS_GPIOK
	help
		Enable GPIOK

config CHIP_STM32_GPIOV2_HAS_4_AF_BITS
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_HIGH_SPEED
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOA
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOB
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOC
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOD
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOE
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOF
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOG
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOH
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOI
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOJ
	bool
	default n

config CHIP_STM32_GPIOV2_HAS_GPIOK
	bool
	default n

endif	# CHIP_STM32_GPIOV2
