#
# file: Kconfig-peripheralsOptions
#
# author: Copyright (C) 2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if CHIP_STM32_GPIOV1

config CHIP_STM32_GPIOV1_GPIOA_ENABLE
	bool "I/O port A clock enable"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOA 
	help
		Select port A clock.
		
config CHIP_STM32_GPIOV1_GPIOB_ENABLE
	bool "I/O port B clock enable"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOB 
	help
		Select port B clock.
		
config CHIP_STM32_GPIOV1_GPIOC_ENABLE
	bool "I/O port C clock enable"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOC 
	help
		Select port C clock.
		
config CHIP_STM32_GPIOV1_GPIOD_ENABLE
	bool "I/O port D clock enable"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOD 
	help
		Select port D clock.
		
config CHIP_STM32_GPIOV1_GPIOE_ENABLE
	bool "I/O port E clock enable"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOE 
	help
		Select port E clock.
		
config CHIP_STM32_GPIOV1_GPIOF_ENABLE
	bool "I/O port F clock enable"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOF 
	help
		Select port F clock.
		
config CHIP_STM32_GPIOV1_GPIOG_ENABLE
	bool "I/O port G clock enable"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOG 
	help
		Select port G clock.	
		
config CHIP_STM32_GPIOV1_HAS_GPIOA
	bool
	default n

config CHIP_STM32_GPIOV1_HAS_GPIOB
	bool
	default n
	
config CHIP_STM32_GPIOV1_HAS_GPIOC
	bool
	default n
	
config CHIP_STM32_GPIOV1_HAS_GPIOD
	bool
	default n
	
config CHIP_STM32_GPIOV1_HAS_GPIOE
	bool
	default n
	
config CHIP_STM32_GPIOV1_HAS_GPIOF
	bool
	default n
	
config CHIP_STM32_GPIOV1_HAS_GPIOG
	bool
	default n

endif	# CHIP_STM32_GPIOV1
