#
# file: Kconfig-peripheralsOptions
#
# author: Copyright (C) 2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if CHIP_STM32_GPIOV1

config CHIP_STM32_GPIO_V1_GPIOA_ENABLE
	bool "GPIOA"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOA
	help
		Enable GPIOA

config CHIP_STM32_GPIO_V1_GPIOB_ENABLE
	bool "GPIOB"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOB
	help
		Enable GPIOB

config CHIP_STM32_GPIO_V1_GPIOC_ENABLE
	bool "GPIOC"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOC
	help
		Enable GPIOC

config CHIP_STM32_GPIO_V1_GPIOD_ENABLE
	bool "GPIOD"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOD
	help
		Enable GPIOD

config CHIP_STM32_GPIO_V1_GPIOE_ENABLE
	bool "GPIOE"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOE
	help
		Enable GPIOE

config CHIP_STM32_GPIO_V1_GPIOF_ENABLE
	bool "GPIOF"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOF
	help
		Enable GPIOF

config CHIP_STM32_GPIO_V1_GPIOG_ENABLE
	bool "GPIOG"
	default n
	depends on CHIP_STM32_GPIOV1_HAS_GPIOG
	help
		Enable GPIOG

config CHIP_STM32_GPIOV1_HAS_GPIOA
	bool
	default n

config CHIP_STM32_GPIOV1_HAS_GPIOB
	bool
	default n

config CHIP_STM32_GPIOV1_HAS_GPIOC
	bool
	default n

config CHIP_STM32_GPIOV1_HAS_GPIOD
	bool
	default n

config CHIP_STM32_GPIOV1_HAS_GPIOE
	bool
	default n

config CHIP_STM32_GPIOV1_HAS_GPIOF
	bool
	default n

config CHIP_STM32_GPIOV1_HAS_GPIOG
	bool
	default n

endif	# CHIP_STM32_GPIOV1
