#
# file: Kconfig-stm32ChipFamilyChoices
#
# author: Copyright (C) 2015-2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

config CHIP_STM32F4
	bool "STM32F4"
	select ARCHITECTURE_ARMV7_M
	select ARCHITECTURE_ARM_CORTEX_M4
	select ARCHITECTURE_HAS_FPU
	select CHIP_STM32_GPIOV2
	select CHIP_STM32_GPIOV2_HAS_4_AF_BITS
	select CHIP_STM32_GPIOV2_HAS_HIGH_SPEED
	help
		STM32F4 chip family
