#
# file: Kconfig-peripheralsOptions
#
# author: Copyright (C) 2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if CHIP_STM32_SPIV1

config CHIP_STM32_SPIV1_SPI1_ENABLE
	bool "SPI1 low-level driver"
	default n
	depends on CHIP_STM32_SPIV1_HAS_SPI1
	help
		Enable SPI1 low-level driver

config CHIP_STM32_SPIV1_SPI2_ENABLE
	bool "SPI2 low-level driver"
	default n
	depends on CHIP_STM32_SPIV1_HAS_SPI2
	help
		Enable SPI2 low-level driver

config CHIP_STM32_SPIV1_SPI3_ENABLE
	bool "SPI3 low-level driver"
	default n
	depends on CHIP_STM32_SPIV1_HAS_SPI3
	help
		Enable SPI3 low-level driver

config CHIP_STM32_SPIV1_SPI4_ENABLE
	bool "SPI4 low-level driver"
	default n
	depends on CHIP_STM32_SPIV1_HAS_SPI4
	help
		Enable SPI4 low-level driver

config CHIP_STM32_SPIV1_SPI5_ENABLE
	bool "SPI5 low-level driver"
	default n
	depends on CHIP_STM32_SPIV1_HAS_SPI5
	help
		Enable SPI5 low-level driver

config CHIP_STM32_SPIV1_SPI6_ENABLE
	bool "SPI6 low-level driver"
	default n
	depends on CHIP_STM32_SPIV1_HAS_SPI6
	help
		Enable SPI6 low-level driver

config CHIP_STM32_SPIV1_HAS_SPI1
	bool
	default n

config CHIP_STM32_SPIV1_HAS_SPI2
	bool
	default n

config CHIP_STM32_SPIV1_HAS_SPI3
	bool
	default n

config CHIP_STM32_SPIV1_HAS_SPI4
	bool
	default n

config CHIP_STM32_SPIV1_HAS_SPI5
	bool
	default n

config CHIP_STM32_SPIV1_HAS_SPI6
	bool
	default n

endif	# CHIP_STM32_SPIV1
