#
# file: Kconfig-stm32ChipFamilyChoices
#
# author: Copyright (C) 2017 Cezary Gapinski cezary.gapinski@gmail.com
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

config CHIP_STM32L0
	bool "STM32L0"
	select ARCHITECTURE_ARMV6_M
	select ARCHITECTURE_ARM_CORTEX_M0PLUS
	select ARCHITECTURE_ARM_CORTEX_M0PLUS_R0P1
	select CHIP_STM32_GPIOV2
	select CHIP_STM32_GPIOV2_HAS_GPIOA
	select CHIP_STM32_GPIOV2_HAS_GPIOB
	select CHIP_STM32_GPIOV2_HAS_GPIOC
	select CHIP_STM32_SPIV1
	select CHIP_STM32_SPIV1_HAS_SPI1
	select CHIP_STM32_USARTV2
	select CHIP_STM32_USARTV2_USART4_USART5_COMBINED_INTERRUPT if CHIP_STM32L07 || CHIP_STM32L08
	select CHIP_STM32_USARTV2_HAS_CR1_M1_BIT
	select CHIP_STM32_USARTV2_HAS_USART2
	help
		STM32L0 chip family
