#
# file: Kconfig-chipChoices
#
# author: Copyright (C) 2017 Cezary Gapinski cezary.gapinski@gmail.com
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

choice
	prompt "STM32L0 chip"
	depends on CHIP_STM32L0
	help
		Select STM32L0 chip

config CHIP_STM32L011D3_SELECTED
	bool "STM32L011D3"
	select CHIP_STM32L011D3
	help
		STM32L011D3 chip

config CHIP_STM32L011D4_SELECTED
	bool "STM32L011D4"
	select CHIP_STM32L011D4
	help
		STM32L011D4 chip

config CHIP_STM32L011E3_SELECTED
	bool "STM32L011E3"
	select CHIP_STM32L011E3
	help
		STM32L011E3 chip

config CHIP_STM32L011E4_SELECTED
	bool "STM32L011E4"
	select CHIP_STM32L011E4
	help
		STM32L011E4 chip

config CHIP_STM32L011F3_SELECTED
	bool "STM32L011F3"
	select CHIP_STM32L011F3
	help
		STM32L011F3 chip

config CHIP_STM32L011F4_SELECTED
	bool "STM32L011F4"
	select CHIP_STM32L011F4
	help
		STM32L011F4 chip

config CHIP_STM32L011G3_SELECTED
	bool "STM32L011G3"
	select CHIP_STM32L011G3
	help
		STM32L011G3 chip

config CHIP_STM32L011G4_SELECTED
	bool "STM32L011G4"
	select CHIP_STM32L011G4
	help
		STM32L011G4 chip

config CHIP_STM32L011K3_SELECTED
	bool "STM32L011K3"
	select CHIP_STM32L011K3
	help
		STM32L011K3 chip

config CHIP_STM32L011K4_SELECTED
	bool "STM32L011K4"
	select CHIP_STM32L011K4
	help
		STM32L011K4 chip

config CHIP_STM32L021D4_SELECTED
	bool "STM32L021D4"
	select CHIP_STM32L021D4
	help
		STM32L021D4 chip

config CHIP_STM32L021F4_SELECTED
	bool "STM32L021F4"
	select CHIP_STM32L021F4
	help
		STM32L021F4 chip

config CHIP_STM32L021G4_SELECTED
	bool "STM32L021G4"
	select CHIP_STM32L021G4
	help
		STM32L021G4 chip

config CHIP_STM32L021K4_SELECTED
	bool "STM32L021K4"
	select CHIP_STM32L021K4
	help
		STM32L021K4 chip

config CHIP_STM32L031C4_SELECTED
	bool "STM32L031C4"
	select CHIP_STM32L031C4
	help
		STM32L031C4 chip

config CHIP_STM32L031C6_SELECTED
	bool "STM32L031C6"
	select CHIP_STM32L031C6
	help
		STM32L031C6 chip

config CHIP_STM32L031E4_SELECTED
	bool "STM32L031E4"
	select CHIP_STM32L031E4
	help
		STM32L031E4 chip

config CHIP_STM32L031E6_SELECTED
	bool "STM32L031E6"
	select CHIP_STM32L031E6
	help
		STM32L031E6 chip

config CHIP_STM32L031F4_SELECTED
	bool "STM32L031F4"
	select CHIP_STM32L031F4
	help
		STM32L031F4 chip

config CHIP_STM32L031F6_SELECTED
	bool "STM32L031F6"
	select CHIP_STM32L031F6
	help
		STM32L031F6 chip

config CHIP_STM32L031G4_SELECTED
	bool "STM32L031G4"
	select CHIP_STM32L031G4
	help
		STM32L031G4 chip

config CHIP_STM32L031G6_SELECTED
	bool "STM32L031G6"
	select CHIP_STM32L031G6
	help
		STM32L031G6 chip

config CHIP_STM32L031K4_SELECTED
	bool "STM32L031K4"
	select CHIP_STM32L031K4
	help
		STM32L031K6 chip

config CHIP_STM32L031K6_SELECTED
	bool "STM32L031K6"
	select CHIP_STM32L031K6
	help
		STM32L031K6 chip

config CHIP_STM32L041C4_SELECTED
	bool "STM32L041C4"
	select CHIP_STM32L041C4
	help
		STM32L041C4 chip

config CHIP_STM32L041C6_SELECTED
	bool "STM32L041C6"
	select CHIP_STM32L041C6
	help
		STM32L041C6 chip

config CHIP_STM32L041E6_SELECTED
	bool "STM32L041E6"
	select CHIP_STM32L041E6
	help
		STM32L041E6 chip

config CHIP_STM32L041F6_SELECTED
	bool "STM32L041F6"
	select CHIP_STM32L041F6
	help
		STM32L041F6 chip

config CHIP_STM32L041G6_SELECTED
	bool "STM32L041G6"
	select CHIP_STM32L041G6
	help
		STM32L041G6 chip

config CHIP_STM32L041K6_SELECTED
	bool "STM32L041K6"
	select CHIP_STM32L041K6
	help
		STM32L041K6 chip

config CHIP_STM32L051C6_SELECTED
	bool "STM32L051C6"
	select CHIP_STM32L051C6
	help
		STM32L051C6 chip

config CHIP_STM32L051C8_SELECTED
	bool "STM32L051C8"
	select CHIP_STM32L051C8
	help
		STM32L051C8 chip

config CHIP_STM32L051K6_SELECTED
	bool "STM32L051K6"
	select CHIP_STM32L051K6
	help
		STM32L051K6 chip

config CHIP_STM32L051K8_SELECTED
	bool "STM32L051K8"
	select CHIP_STM32L051K8
	help
		STM32L051K8 chip

config CHIP_STM32L051R6_SELECTED
	bool "STM32L051R6"
	select CHIP_STM32L051R6
	help
		STM32L051R6 chip

config CHIP_STM32L051R8_SELECTED
	bool "STM32L051R8"
	select CHIP_STM32L051R8
	help
		STM32L051R8 chip

config CHIP_STM32L051T6_SELECTED
	bool "STM32L051T6"
	select CHIP_STM32L051T6
	help
		STM32L051T6 chip

config CHIP_STM32L051T8_SELECTED
	bool "STM32L051T8"
	select CHIP_STM32L051T8
	help
		STM32L051T8 chip

config CHIP_STM32L052C6_SELECTED
	bool "STM32L052C6"
	select CHIP_STM32L052C6
	help
		STM32L052C6 chip

config CHIP_STM32L052C8_SELECTED
	bool "STM32L052C8"
	select CHIP_STM32L052C8
	help
		STM32L052C8 chip

config CHIP_STM32L052K6_SELECTED
	bool "STM32L052K6"
	select CHIP_STM32L052K6
	help
		STM32L052K6 chip

config CHIP_STM32L052K8_SELECTED
	bool "STM32L052K8"
	select CHIP_STM32L052K8
	help
		STM32L052K8 chip

config CHIP_STM32L052R6_SELECTED
	bool "STM32L052R6"
	select CHIP_STM32L052R6
	help
		STM32L052R6 chip

config CHIP_STM32L052R8_SELECTED
	bool "STM32L052R8"
	select CHIP_STM32L052R8
	help
		STM32L052R8 chip

config CHIP_STM32L052T6_SELECTED
	bool "STM32L052T6"
	select CHIP_STM32L052T6
	help
		STM32L052T6 chip

config CHIP_STM32L052T8_SELECTED
	bool "STM32L052T8"
	select CHIP_STM32L052T8
	help
		STM32L052T8 chip

config CHIP_STM32L053C6_SELECTED
	bool "STM32L053C6"
	select CHIP_STM32L053C6
	help
		STM32L053C6 chip

config CHIP_STM32L053C8_SELECTED
	bool "STM32L053C8"
	select CHIP_STM32L053C8
	help
		STM32L053C8 chip

config CHIP_STM32L053R6_SELECTED
	bool "STM32L053R6"
	select CHIP_STM32L053R6
	help
		STM32L053R6 chip

config CHIP_STM32L053R8_SELECTED
	bool "STM32L053R8"
	select CHIP_STM32L053R8
	help
		STM32L053R8 chip

config CHIP_STM32L062K8_SELECTED
	bool "STM32L062K8"
	select CHIP_STM32L062K8
	help
		STM32L062K8 chip

config CHIP_STM32L063C8_SELECTED
	bool "STM32L063C8"
	select CHIP_STM32L063C8
	help
		STM32L063C8 chip

config CHIP_STM32L063R8_SELECTED
	bool "STM32L063R8"
	select CHIP_STM32L063R8
	help
		STM32L063R8 chip

config CHIP_STM32L071C8_SELECTED
	bool "STM32L071C8"
	select CHIP_STM32L071C8
	help
		STM32L071C8 chip

config CHIP_STM32L071CB_SELECTED
	bool "STM32L071CB"
	select CHIP_STM32L071CB
	help
		STM32L071CB chip

config CHIP_STM32L071CZ_SELECTED
	bool "STM32L071CZ"
	select CHIP_STM32L071CZ
	help
		STM32L071CZ chip

config CHIP_STM32L071K8_SELECTED
	bool "STM32L071K8"
	select CHIP_STM32L071K8
	help
		STM32L071K8 chip

config CHIP_STM32L071KB_SELECTED
	bool "STM32L071KB"
	select CHIP_STM32L071KB
	help
		STM32L071KB chip

config CHIP_STM32L071KZ_SELECTED
	bool "STM32L071KZ"
	select CHIP_STM32L071KZ
	help
		STM32L071KZ chip

config CHIP_STM32L071RB_SELECTED
	bool "STM32L071RB"
	select CHIP_STM32L071RB
	help
		STM32L071RB chip

config CHIP_STM32L071RZ_SELECTED
	bool "STM32L071RZ"
	select CHIP_STM32L071RZ
	help
		STM32L071RZ chip

config CHIP_STM32L071V8_SELECTED
	bool "STM32L071V8"
	select CHIP_STM32L071V8
	help
		STM32L071V8 chip

config CHIP_STM32L071VB_SELECTED
	bool "STM32L071VB"
	select CHIP_STM32L071VB
	help
		STM32L071VB chip

config CHIP_STM32L071VZ_SELECTED
	bool "STM32L071VZ"
	select CHIP_STM32L071VZ
	help
		STM32L071VZ chip

config CHIP_STM32L072CB_SELECTED
	bool "STM32L072CB"
	select CHIP_STM32L072CB
	help
		STM32L072CB chip

config CHIP_STM32L072CZ_SELECTED
	bool "STM32L072CZ"
	select CHIP_STM32L072CZ
	help
		STM32L072CZ chip

config CHIP_STM32L072KB_SELECTED
	bool "STM32L072KB"
	select CHIP_STM32L072KB
	help
		STM32L072KB chip

config CHIP_STM32L072KZ_SELECTED
	bool "STM32L072KZ"
	select CHIP_STM32L072KZ
	help
		STM32L072KZ chip

config CHIP_STM32L072RB_SELECTED
	bool "STM32L072RB"
	select CHIP_STM32L072RB
	help
		STM32L072RB chip

config CHIP_STM32L072RZ_SELECTED
	bool "STM32L072RZ"
	select CHIP_STM32L072RZ
	help
		STM32L072RZ chip

config CHIP_STM32L072V8_SELECTED
	bool "STM32L072V8"
	select CHIP_STM32L072V8
	help
		STM32L072V8 chip

config CHIP_STM32L072VB_SELECTED
	bool "STM32L072VB"
	select CHIP_STM32L072VB
	help
		STM32L072VB chip

config CHIP_STM32L072VZ_SELECTED
	bool "STM32L072VZ"
	select CHIP_STM32L072VZ
	help
		STM32L072VZ chip

config CHIP_STM32L073CB_SELECTED
	bool "STM32L073CB"
	select CHIP_STM32L073CB
	help
		STM32L073CB chip

config CHIP_STM32L073CZ_SELECTED
	bool "STM32L073CZ"
	select CHIP_STM32L073CZ
	help
		STM32L073CZ chip

config CHIP_STM32L073RB_SELECTED
	bool "STM32L073RB"
	select CHIP_STM32L073RB
	help
		STM32L073RB chip

config CHIP_STM32L073RZ_SELECTED
	bool "STM32L073RZ"
	select CHIP_STM32L073RZ
	help
		STM32L073RZ chip

config CHIP_STM32L073V8_SELECTED
	bool "STM32L073V8"
	select CHIP_STM32L073V8
	help
		STM32L073V8 chip

config CHIP_STM32L073VB_SELECTED
	bool "STM32L073VB"
	select CHIP_STM32L073VB
	help
		STM32L073VB chip

config CHIP_STM32L073VZ_SELECTED
	bool "STM32L073VZ"
	select CHIP_STM32L073VZ
	help
		STM32L073VZ chip

config CHIP_STM32L081CZ_SELECTED
	bool "STM32L081CZ"
	select CHIP_STM32L081CZ
	help
		STM32L081CZ chip

config CHIP_STM32L081KZ_SELECTED
	bool "STM32L081KZ"
	select CHIP_STM32L081KZ
	help
		STM32L081KZ chip

config CHIP_STM32L082CZ_SELECTED
	bool "STM32L082CZ"
	select CHIP_STM32L082CZ
	help
		STM32L082CZ chip

config CHIP_STM32L082KB_SELECTED
	bool "STM32L082KB"
	select CHIP_STM32L082KB
	help
		STM32L082KB chip

config CHIP_STM32L082KZ_SELECTED
	bool "STM32L082KZ"
	select CHIP_STM32L082KZ
	help
		STM32L082KZ chip

config CHIP_STM32L083CB_SELECTED
	bool "STM32L083CB"
	select CHIP_STM32L083CB
	help
		STM32L083CB chip

config CHIP_STM32L083CZ_SELECTED
	bool "STM32L083CZ"
	select CHIP_STM32L083CZ
	help
		STM32L083CZ chip

config CHIP_STM32L083RB_SELECTED
	bool "STM32L083RB"
	select CHIP_STM32L083RB
	help
		STM32L083RB chip

config CHIP_STM32L083RZ_SELECTED
	bool "STM32L083RZ"
	select CHIP_STM32L083RZ
	help
		STM32L083RZ chip

config CHIP_STM32L083V8_SELECTED
	bool "STM32L083V8"
	select CHIP_STM32L083V8
	help
		STM32L083V8 chip

config CHIP_STM32L083VB_SELECTED
	bool "STM32L083VB"
	select CHIP_STM32L083VB
	help
		STM32L083VB chip

config CHIP_STM32L083VZ_SELECTED
	bool "STM32L083VZ"
	select CHIP_STM32L083VZ
	help
		STM32L083VZ chip

endchoice
