#
# file: Kconfig-stm32ChipFamilyChoices
#
# author: Copyright (C) 2016 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

config CHIP_STM32F1
	bool "STM32F1"
	select ARCHITECTURE_ARMV7_M
	select ARCHITECTURE_ARM_CORTEX_M3
	select ARCHITECTURE_ARM_CORTEX_M3_R1P1
	select CHIP_STM32_GPIOV1
	select CHIP_STM32_SPIV1
	select CHIP_STM32_SPIV1_HAS_SPI1
	select CHIP_STM32_USARTV1
	select CHIP_STM32_USARTV1_HAS_USART1
	select CHIP_STM32_USARTV1_HAS_USART2
	help
		STM32F1 chip family
