#
# file: Kconfig-chipChoices
#
# author: Copyright (C) 2016-2017 Kamil Szczygiel http://www.distortec.com http://www.freddiechopin.info
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

choice
	prompt "STM32F1 chip"
	depends on CHIP_STM32F1
	help
		Select STM32F1 chip

config CHIP_STM32F100C4_SELECTED
	bool "STM32F100C4"
	select CHIP_STM32F100C4
	help
		STM32F100C4 chip

config CHIP_STM32F100C6_SELECTED
	bool "STM32F100C6"
	select CHIP_STM32F100C6
	help
		STM32F100C6 chip

config CHIP_STM32F100C8_SELECTED
	bool "STM32F100C8"
	select CHIP_STM32F100C8
	help
		STM32F100C8 chip

config CHIP_STM32F100CB_SELECTED
	bool "STM32F100CB"
	select CHIP_STM32F100CB
	help
		STM32F100CB chip

config CHIP_STM32F100R4_SELECTED
	bool "STM32F100R4"
	select CHIP_STM32F100R4
	help
		STM32F100R4 chip

config CHIP_STM32F100R6_SELECTED
	bool "STM32F100R6"
	select CHIP_STM32F100R6
	help
		STM32F100R6 chip

config CHIP_STM32F100R8_SELECTED
	bool "STM32F100R8"
	select CHIP_STM32F100R8
	help
		STM32F100R8 chip

config CHIP_STM32F100RB_SELECTED
	bool "STM32F100RB"
	select CHIP_STM32F100RB
	help
		STM32F100RB chip

config CHIP_STM32F100RC_SELECTED
	bool "STM32F100RC"
	select CHIP_STM32F100RC
	help
		STM32F100RC chip

config CHIP_STM32F100RD_SELECTED
	bool "STM32F100RD"
	select CHIP_STM32F100RD
	help
		STM32F100RD chip

config CHIP_STM32F100RE_SELECTED
	bool "STM32F100RE"
	select CHIP_STM32F100RE
	help
		STM32F100RE chip

config CHIP_STM32F100V8_SELECTED
	bool "STM32F100V8"
	select CHIP_STM32F100V8
	help
		STM32F100V8 chip

config CHIP_STM32F100VB_SELECTED
	bool "STM32F100VB"
	select CHIP_STM32F100VB
	help
		STM32F100VB chip

config CHIP_STM32F100VC_SELECTED
	bool "STM32F100VC"
	select CHIP_STM32F100VC
	help
		STM32F100VC chip

config CHIP_STM32F100VD_SELECTED
	bool "STM32F100VD"
	select CHIP_STM32F100VD
	help
		STM32F100VD chip

config CHIP_STM32F100VE_SELECTED
	bool "STM32F100VE"
	select CHIP_STM32F100VE
	help
		STM32F100VE chip

config CHIP_STM32F100ZC_SELECTED
	bool "STM32F100ZC"
	select CHIP_STM32F100ZC
	help
		STM32F100ZC chip

config CHIP_STM32F100ZD_SELECTED
	bool "STM32F100ZD"
	select CHIP_STM32F100ZD
	help
		STM32F100ZD chip

config CHIP_STM32F100ZE_SELECTED
	bool "STM32F100ZE"
	select CHIP_STM32F100ZE
	help
		STM32F100ZE chip

config CHIP_STM32F101C4_SELECTED
	bool "STM32F101C4"
	select CHIP_STM32F101C4
	help
		STM32F101C4 chip

config CHIP_STM32F101C6_SELECTED
	bool "STM32F101C6"
	select CHIP_STM32F101C6
	help
		STM32F101C6 chip

config CHIP_STM32F101C8_SELECTED
	bool "STM32F101C8"
	select CHIP_STM32F101C8
	help
		STM32F101C8 chip

config CHIP_STM32F101CB_SELECTED
	bool "STM32F101CB"
	select CHIP_STM32F101CB
	help
		STM32F101CB chip

config CHIP_STM32F101R4_SELECTED
	bool "STM32F101R4"
	select CHIP_STM32F101R4
	help
		STM32F101R4 chip

config CHIP_STM32F101R6_SELECTED
	bool "STM32F101R6"
	select CHIP_STM32F101R6
	help
		STM32F101R6 chip

config CHIP_STM32F101R8_SELECTED
	bool "STM32F101R8"
	select CHIP_STM32F101R8
	help
		STM32F101R8 chip

config CHIP_STM32F101RB_SELECTED
	bool "STM32F101RB"
	select CHIP_STM32F101RB
	help
		STM32F101RB chip

config CHIP_STM32F101RC_SELECTED
	bool "STM32F101RC"
	select CHIP_STM32F101RC
	help
		STM32F101RC chip

config CHIP_STM32F101RD_SELECTED
	bool "STM32F101RD"
	select CHIP_STM32F101RD
	help
		STM32F101RD chip

config CHIP_STM32F101RE_SELECTED
	bool "STM32F101RE"
	select CHIP_STM32F101RE
	help
		STM32F101RE chip

config CHIP_STM32F101RF_SELECTED
	bool "STM32F101RF"
	select CHIP_STM32F101RF
	help
		STM32F101RF chip

config CHIP_STM32F101RG_SELECTED
	bool "STM32F101RG"
	select CHIP_STM32F101RG
	help
		STM32F101RG chip

config CHIP_STM32F101T4_SELECTED
	bool "STM32F101T4"
	select CHIP_STM32F101T4
	help
		STM32F101T4 chip

config CHIP_STM32F101T6_SELECTED
	bool "STM32F101T6"
	select CHIP_STM32F101T6
	help
		STM32F101T6 chip

config CHIP_STM32F101T8_SELECTED
	bool "STM32F101T8"
	select CHIP_STM32F101T8
	help
		STM32F101T8 chip

config CHIP_STM32F101TB_SELECTED
	bool "STM32F101TB"
	select CHIP_STM32F101TB
	help
		STM32F101TB chip

config CHIP_STM32F101V8_SELECTED
	bool "STM32F101V8"
	select CHIP_STM32F101V8
	help
		STM32F101V8 chip

config CHIP_STM32F101VB_SELECTED
	bool "STM32F101VB"
	select CHIP_STM32F101VB
	help
		STM32F101VB chip

config CHIP_STM32F101VC_SELECTED
	bool "STM32F101VC"
	select CHIP_STM32F101VC
	help
		STM32F101VC chip

config CHIP_STM32F101VD_SELECTED
	bool "STM32F101VD"
	select CHIP_STM32F101VD
	help
		STM32F101VD chip

config CHIP_STM32F101VE_SELECTED
	bool "STM32F101VE"
	select CHIP_STM32F101VE
	help
		STM32F101VE chip

config CHIP_STM32F101VF_SELECTED
	bool "STM32F101VF"
	select CHIP_STM32F101VF
	help
		STM32F101VF chip

config CHIP_STM32F101VG_SELECTED
	bool "STM32F101VG"
	select CHIP_STM32F101VG
	help
		STM32F101VG chip

config CHIP_STM32F101ZC_SELECTED
	bool "STM32F101ZC"
	select CHIP_STM32F101ZC
	help
		STM32F101ZC chip

config CHIP_STM32F101ZD_SELECTED
	bool "STM32F101ZD"
	select CHIP_STM32F101ZD
	help
		STM32F101ZD chip

config CHIP_STM32F101ZE_SELECTED
	bool "STM32F101ZE"
	select CHIP_STM32F101ZE
	help
		STM32F101ZE chip

config CHIP_STM32F101ZF_SELECTED
	bool "STM32F101ZF"
	select CHIP_STM32F101ZF
	help
		STM32F101ZF chip

config CHIP_STM32F101ZG_SELECTED
	bool "STM32F101ZG"
	select CHIP_STM32F101ZG
	help
		STM32F101ZG chip

config CHIP_STM32F102C4_SELECTED
	bool "STM32F102C4"
	select CHIP_STM32F102C4
	help
		STM32F102C4 chip

config CHIP_STM32F102C6_SELECTED
	bool "STM32F102C6"
	select CHIP_STM32F102C6
	help
		STM32F102C6 chip

config CHIP_STM32F102C8_SELECTED
	bool "STM32F102C8"
	select CHIP_STM32F102C8
	help
		STM32F102C8 chip

config CHIP_STM32F102CB_SELECTED
	bool "STM32F102CB"
	select CHIP_STM32F102CB
	help
		STM32F102CB chip

config CHIP_STM32F102R4_SELECTED
	bool "STM32F102R4"
	select CHIP_STM32F102R4
	help
		STM32F102R4 chip

config CHIP_STM32F102R6_SELECTED
	bool "STM32F102R6"
	select CHIP_STM32F102R6
	help
		STM32F102R6 chip

config CHIP_STM32F102R8_SELECTED
	bool "STM32F102R8"
	select CHIP_STM32F102R8
	help
		STM32F102R8 chip

config CHIP_STM32F102RB_SELECTED
	bool "STM32F102RB"
	select CHIP_STM32F102RB
	help
		STM32F102RB chip

config CHIP_STM32F103C4_SELECTED
	bool "STM32F103C4"
	select CHIP_STM32F103C4
	help
		STM32F103C4 chip

config CHIP_STM32F103C6_SELECTED
	bool "STM32F103C6"
	select CHIP_STM32F103C6
	help
		STM32F103C6 chip

config CHIP_STM32F103C8_SELECTED
	bool "STM32F103C8"
	select CHIP_STM32F103C8
	help
		STM32F103C8 chip

config CHIP_STM32F103CB_SELECTED
	bool "STM32F103CB"
	select CHIP_STM32F103CB
	help
		STM32F103CB chip

config CHIP_STM32F103R4_SELECTED
	bool "STM32F103R4"
	select CHIP_STM32F103R4
	help
		STM32F103R4 chip

config CHIP_STM32F103R6_SELECTED
	bool "STM32F103R6"
	select CHIP_STM32F103R6
	help
		STM32F103R6 chip

config CHIP_STM32F103R8_SELECTED
	bool "STM32F103R8"
	select CHIP_STM32F103R8
	help
		STM32F103R8 chip

config CHIP_STM32F103RB_SELECTED
	bool "STM32F103RB"
	select CHIP_STM32F103RB
	help
		STM32F103RB chip

config CHIP_STM32F103RC_SELECTED
	bool "STM32F103RC"
	select CHIP_STM32F103RC
	help
		STM32F103RC chip

config CHIP_STM32F103RD_SELECTED
	bool "STM32F103RD"
	select CHIP_STM32F103RD
	help
		STM32F103RD chip

config CHIP_STM32F103RE_SELECTED
	bool "STM32F103RE"
	select CHIP_STM32F103RE
	help
		STM32F103RE chip

config CHIP_STM32F103RF_SELECTED
	bool "STM32F103RF"
	select CHIP_STM32F103RF
	help
		STM32F103RF chip

config CHIP_STM32F103RG_SELECTED
	bool "STM32F103RG"
	select CHIP_STM32F103RG
	help
		STM32F103RG chip

config CHIP_STM32F103T4_SELECTED
	bool "STM32F103T4"
	select CHIP_STM32F103T4
	help
		STM32F103T4 chip

config CHIP_STM32F103T6_SELECTED
	bool "STM32F103T6"
	select CHIP_STM32F103T6
	help
		STM32F103T6 chip

config CHIP_STM32F103T8_SELECTED
	bool "STM32F103T8"
	select CHIP_STM32F103T8
	help
		STM32F103T8 chip

config CHIP_STM32F103TB_SELECTED
	bool "STM32F103TB"
	select CHIP_STM32F103TB
	help
		STM32F103TB chip

config CHIP_STM32F103V8_SELECTED
	bool "STM32F103V8"
	select CHIP_STM32F103V8
	help
		STM32F103V8 chip

config CHIP_STM32F103VB_SELECTED
	bool "STM32F103VB"
	select CHIP_STM32F103VB
	help
		STM32F103VB chip

config CHIP_STM32F103VC_SELECTED
	bool "STM32F103VC"
	select CHIP_STM32F103VC
	help
		STM32F103VC chip

config CHIP_STM32F103VD_SELECTED
	bool "STM32F103VD"
	select CHIP_STM32F103VD
	help
		STM32F103VD chip

config CHIP_STM32F103VE_SELECTED
	bool "STM32F103VE"
	select CHIP_STM32F103VE
	help
		STM32F103VE chip

config CHIP_STM32F103VF_SELECTED
	bool "STM32F103VF"
	select CHIP_STM32F103VF
	help
		STM32F103VF chip

config CHIP_STM32F103VG_SELECTED
	bool "STM32F103VG"
	select CHIP_STM32F103VG
	help
		STM32F103VG chip

config CHIP_STM32F103ZC_SELECTED
	bool "STM32F103ZC"
	select CHIP_STM32F103ZC
	help
		STM32F103ZC chip

config CHIP_STM32F103ZD_SELECTED
	bool "STM32F103ZD"
	select CHIP_STM32F103ZD
	help
		STM32F103ZD chip

config CHIP_STM32F103ZE_SELECTED
	bool "STM32F103ZE"
	select CHIP_STM32F103ZE
	help
		STM32F103ZE chip

config CHIP_STM32F103ZF_SELECTED
	bool "STM32F103ZF"
	select CHIP_STM32F103ZF
	help
		STM32F103ZF chip

config CHIP_STM32F103ZG_SELECTED
	bool "STM32F103ZG"
	select CHIP_STM32F103ZG
	help
		STM32F103ZG chip

config CHIP_STM32F105R8_SELECTED
	bool "STM32F105R8"
	select CHIP_STM32F105R8
	help
		STM32F105R8 chip

config CHIP_STM32F105RB_SELECTED
	bool "STM32F105RB"
	select CHIP_STM32F105RB
	help
		STM32F105RB chip

config CHIP_STM32F105RC_SELECTED
	bool "STM32F105RC"
	select CHIP_STM32F105RC
	help
		STM32F105RC chip

config CHIP_STM32F105V8_SELECTED
	bool "STM32F105V8"
	select CHIP_STM32F105V8
	help
		STM32F105V8 chip

config CHIP_STM32F105VB_SELECTED
	bool "STM32F105VB"
	select CHIP_STM32F105VB
	help
		STM32F105VB chip

config CHIP_STM32F105VC_SELECTED
	bool "STM32F105VC"
	select CHIP_STM32F105VC
	help
		STM32F105VC chip

config CHIP_STM32F107RB_SELECTED
	bool "STM32F107RB"
	select CHIP_STM32F107RB
	help
		STM32F107RB chip

config CHIP_STM32F107RC_SELECTED
	bool "STM32F107RC"
	select CHIP_STM32F107RC
	help
		STM32F107RC chip

config CHIP_STM32F107VB_SELECTED
	bool "STM32F107VB"
	select CHIP_STM32F107VB
	help
		STM32F107VB chip

config CHIP_STM32F107VC_SELECTED
	bool "STM32F107VC"
	select CHIP_STM32F107VC
	help
		STM32F107VC chip

endchoice
